section.designs
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        header
          h2 Sumate a los más de 5.000 profesionales independientes y pymes
          p Cambia las imágenes y textos por los que desees. Modifica el diseño todas las veces que quieras. También podrás elegir entre más de 190 diseños pre-armados.
  .container
    .row
      .col-xs-4
        a.design-block(href="http://test.site.pro/data/a/b/abefd4b1.test.test/preview/es-ES/", title="", target='_blank')  
          img(src="img/template-1.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="http://test.site.pro/data/a/b/abefd4b1.test.test/preview/es-ES/", title="", target='_blank')  
          img(src="img/template-1.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="http://test.site.pro/data/a/b/abefd4b1.test.test/preview/es-ES/", title="", target='_blank')  
          img(src="img/template-1.jpg", alt="")
          .design-block_overlay
            p Ver diseño
    .row
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
    .row
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
            
    .row
      .col-xs-12
        a.btn.btn_orange(href="", title="") 
          span Empezar ahora
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
