section.hero.hero-section.heroDesktop.custom-background(data-background='img/crea-tu-sitio.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        .hero-whiteBox
          h1 Creá tu sitio web en 5 minutos
          p El creador web de Neolo es tan simple y amigable que te vas a poder crear el sitio web de tus sueños en muy poco tiempo. Además, es auto-administrable y podés hacer cambios todas las veces que quieras.
          a.btn.btn_orange(href="crea-tu-sitio-web/#pricing", title="Desde sólo $57 al mes", role='button')
            span Empezar ahora a sólo $57 al mes
            svg(class="icon angle-right")
              use(xlink:href="#angle-right")
