section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 ¿Qué es y por qué me conviene?
        p Crear tu sitio web nunca fue tan fácil gracias al Constructor Web de NEOLO.COM Argentina. En menos de 5 minutos podrás tener tu sitio web funcionando. Eliges un diseño, nombras las secciones internas y cargas los contenidos (textos, imágenes, etc) reemplazando al modelo y listo. También podrás elegir un nombre de dominio o redireccionrar el que ya tengas.
