section.pricing#pricingVPS
  .container
    .row
      .col-md-12
        header
          h2 Tu plan, a medida
          p Dentro de estos planes de hosting está el tuyo, con el servicio que deseás y al precio que buscás
        .row
          .col-xs-12
            .pricing-table.pricing-table_four.pricing-table_noFeatured
              .pricing-item.table-1
                header
                  h4 VPS 4
                section
                  ul
                    li #[span 180 GB] espacio
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 8 GB] ram
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Dominios #[span ilimitados]
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li  #[span 1] IP
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li: br
                    li cPanel, WHM (opcional)
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Acceso SSH root
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Administrado
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $1975]
                  a.btn(href="", title="Comprar VPS 5", role='button') Comprar

              .pricing-item.table-4
                header
                  h4 VPS 3
                section
                  ul
                    li #[span 180 GB] espacio
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 8 GB] ram
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Dominios #[span ilimitados]
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li  #[span 1] IP
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li: br
                    li cPanel, WHM (opcional)
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Acceso SSH root
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Administrado
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $1975]
                  a.btn(href="", title="Comprar VPS 5", role='button') Comprar

              .pricing-item.table-8
                header
                  h4 VPS 2
                section
                  ul
                    li #[span 180 GB] espacio
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 8 GB] ram
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Dominios #[span ilimitados]
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li  #[span 1] IP
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li: br
                    li cPanel, WHM (opcional)
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Acceso SSH root
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Administrado
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $1975]
                  a.btn(href="", title="Comprar VPS 5", role='button') Comprar

              .pricing-item.table-12
                header
                  h4 VPS 1
                section
                  ul
                    li #[span 180 GB] espacio
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 8 GB] ram
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Dominios #[span ilimitados]
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li  #[span 1] IP
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li: br
                    li cPanel, WHM (opcional)
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Acceso SSH root
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Administrado
                      a(href="#", title="", data-tooltip="")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $1975]
                  a.btn(href="", title="Comprar VPS 5", role='button') Comprar

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Opcional cPanel/WHM: USD 15/mes

        .row
          .col-md-8.col-md-offset-2
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 10% OFF por pago anual
