section.features
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 ¿Cómo funciona?
          p El robot de Drip Email Marketing consiste en una serie de emails pre-escritos que se envían automáticamente a las personas que se han interesado en tus productos o servicios pero aún no han concretado una compra. Lograrás aumentar la visibilidad de tu marca logrando más ventas y más facturación de forma automática y a muy bajo costo.
    .row
      .col-xs-4
        h3 Paso 1
        p Creamos los textos y definimos con qué frecuencia enviar cada secuencia.
      .col-xs-4
        h3 Paso 2
        p Cargamos los contactos manualmente o con un formulario en tu sitio web.
      .col-xs-4
        h3 Paso 3
        p Se realizan los envíos automáticamente.
