section.hero.hero-section.heroDesktop.custom-background(data-background='img/email-marketing.jpg', data-background-position='50% 33%')
  .container
    .row
      .col-xs-12
        .hero-whiteBox
          h1 Robot de Drip Email Marketing
          p Lográ nuevas ventas, más facturación y más posicionamiento de tu marca, automáticamente.
          a.btn.btn_orange(href="", title="")
            span Mejorar tus campañas de email
            svg(class="icon angle-right")
              use(xlink:href="#angle-right")
