section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 ¿Qué es y por qué me conviene?
        p El robot de Drip Email Marketing consiste en una serie de emails pre-escritos que se envían automáticamente a las personas que se han interesado en tus productos o servicios pero aún no han concretado una compra. Lograrás aumentar la visibilidad de tu marca logrando más ventas y más facturación de forma automática y a muy bajo costo.
