section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 ¿Qué es y por qué me conviene?
        p Las campañas de drip marketing son parte del email marketing y del marketing automation. Parten de un estudio científico que señala que en promedio, una persona tiene estar expuesta al menos 7 veces a una marca antes de concretar una compra. Con una campaña de drip marketing, te instalamos y configuramos la herramienta: los visitantes de tu sitio web, de Facebook, Instagram, y otras redes facilitarán su email, entonces les llegará un correo de calidad 2 veces a la semana. Verán tu logo, verán tu marca, tus productos y servicios y aumentarás las probabilidades de venta.
