section.pricing#pricing
  .container
    .row
      .col-md-12
        header
          h2 Tu robot de Drip Email, a medida
          p Agrandá el plan del robot a medida que pase el tiempo. ¡Tu negocio va a crecer cada vez más!
        .row
          .col-xs-12
            .pricing-table.pricing-table_five.pricing-table_noFeatured
              .pricing-item.table-2
                header
                  h4 Starter
                section
                  ul
                    li #[span 1000] contactos
                    li Envios #[span limitados] por mes
                    li Estadísticas extendidas
                    li Widgets
                    li Integraciones
                    li No remueve branding
                footer
                  span.pricingSmall Pago mensual
                  p #[span $299]
                  a.btn(href="/hablar-con-un-experto/", title="", role='button') Comprar

              .pricing-item.table-4
                header
                  h4 Basic
                section
                  ul
                    li #[span 2000] contactos
                    li Envios #[span limitados] por mes
                    li Estadísticas extendidas
                    li Widgets
                    li Integraciones
                    li No remueve branding
                footer
                  span.pricingSmall Pago mensual
                  p #[span $599]
                  a.btn(href="/hablar-con-un-experto/", title="", role='button') Comprar

              .pricing-item.table-6
                header
                  h4 Pro
                section
                  ul
                    li #[span 3000] contactos
                    li Envios #[span limitados] por mes
                    li Estadísticas extendidas
                    li Widgets
                    li Integraciones
                    li Remueve branding
                footer
                  span.pricingSmall Pago mensual
                  p #[span $999]
                  a.btn(href="/hablar-con-un-experto/", title="", role='button') Comprar

              .pricing-item.table-8
                header
                  h4 Alto volumen
                section
                  ul
                    li #[span 4000] contactos
                    li Envios #[span limitados] por mes
                    li Estadísticas extendidas
                    li Widgets
                    li Integraciones
                    li Remueve branding
                footer
                  span.pricingSmall Pago mensual
                  p #[span $1196]
                  a.btn(href="/hablar-con-un-experto/", title="", role='button') Comprar

              .pricing-item.table-10
                header
                  h4 A medida
                section
                  ul
                    li #[span 10000] contactos
                    li Envios #[span limitados] por mes
                    li Estadísticas extendidas
                    li Widgets
                    li Integraciones
                    li Remueve branding
                footer
                  span.pricingSmall Pago mensual
                  p #[span $2990]
                  a.btn(href="/hablar-con-un-experto/", title="", role='button') Consultar


        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Opcionalmente, por sólo 20 USD por pieza, podemos crear también los textos de cada email secuencial a enviar.
