.container {
  @include cf;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $column-gutter / 4;

  @include breakpoint(sm) {
    padding: 0 $column-gutter / 2;
  }
}


@include flexGrid;
