.row {
  @include cf;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row--flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.vertical {
  flex-direction: column !important;
}

.horizontal {
  flex-direction: row !important;
}
