section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/server.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        h1 Independencia es tener un VP
        p Con nuestros Servidores Virtuales Privados obtendrás recursos dedicados exclusivos para alojar tus sitios y aplicaciones, sin preocuparte por compartir recursos con otros usuarios
        a.btn.btn_orange(href="#pricingServidoresDedicados", title="Comparar servidores dedicados", role="button")
          span Comparar servidores dedicados
          svg(class="icon chevron-right")
            use(xlink:href="#chevron-right")
