section.hero.hero-section.heroDesktop.custom-background(data-background='img/server.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        .hero-whiteBox
          h1 Servidores Dedicados
          p Todo el poder y la personalización que necesitas para lograr lo máximo con tu negocio. Servidores dedicados en datacenter en Estados Unidos, Canadá, Singapur, Reino Unido o Paises Bajos.
          a.btn.btn_orange(href="#pricingServidoresDedicados", title="")
            span Comparar servidores dedicados
            svg(class="icon chevron-right")
              use(xlink:href="#chevron-right")
