section.plus.plus-border.plus-only
  .container
    .row
      .col-xs-12
        h2 Además, los servidores dedicados de Neolo incluyen:
    .plus-main
      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Servidor Dedicado Cloud
              p Activa Cloudflare para lograr el máximo rendimiento de tu servidor dedicado.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon atom")
                  use(xlink:href="#atom")
            .plus-content
              h6 Elegí el sistema operativo
              p Vos elegís el sistema operativo de tu servidor dedicado: CentOS, Fedora, Debian, Ubuntu, Gentoo, SUSE, ArchLinux, Scientific Linux, Slackware, entre otros.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon tag")
                  use(xlink:href="#tag")
            .plus-content
              h6 Marca Blanca para tu servidor dedicado.
              p DNS y panel de control “marca blanca” para que puedas revender bajo tu propio nombre

      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon mail")
                  use(xlink:href="#mail")
            .plus-content
              h6 Emails y redirecciones
              p Chequealas desde cualquier lugar con el webmail o configuralas en el cliente que uses ¡incluso en tu smartphone y tablet!

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon database")
                  use(xlink:href="#database")
            .plus-content
              h6 Bases de datos: Ilimitadas
              p Blogs, foros, carritos de compras, y todas las bases de datos MySQL que necesites.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon builder")
                  use(xlink:href="#builder")
            .plus-content
              h6 Constructor de sitios con WordPress
              p En 3 pasos tendrás tu sitio web funcionando con plantillas prediseñadas

      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon seo")
                  use(xlink:href="#seo")
            .plus-content
              h6 Alta en Buscadores Gratis
              p Gestionamos el alta de tu sitio web en Google, Yahoo y Bing, totalmente gratis

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon mobile")
                  use(xlink:href="#mobile")
            .plus-content
              h6 WHM & cPanel Mobile
              p Si contratas este panel de control, podrás acceder desde tu dispositivo móvil a gestionar todo tu servidor dedicado.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon shield")
                  use(xlink:href="#shield")
            .plus-content
              h6 Antivirus
              p Todo lo que subas a tus webs o recibas por email es escaneado automáticamente por nuestro antivirus

      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon backup")
                  use(xlink:href="#backup")
            .plus-content
              h6 Backups diarios
              p Podrás realizar tus propios backups.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cPanel")
                  use(xlink:href="#cPanel")
            .plus-content
              h6 WHM & cPanel
              p WHM para administrar el servidor y cPanel para gestionar los sitios web alojados. Simple, agradable, eficaz y en múltiples idiomas. Opcional.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon stats")
                  use(xlink:href="#stats")
            .plus-content
              h6 Estadisticas web
              p Podrás conocer la cantidad, los horarios, la procedencia y hasta los navegadores que utilizan los usuarios que ingresan a tu sitio web

      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon online")
                  use(xlink:href="#online")
            .plus-content
              h6 Siempre online
              p Sitios web funcionando las 24 horas al mejor uptime de la industria

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon apps")
                  use(xlink:href="#apps")
            .plus-content
              h6 +200 aplicaciones
              p Autoinstalables con 1 clic con Softaculous. A sólo 10 USD extra al mes.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon birrete")
                  use(xlink:href="#birrete")
            .plus-content
              h6 Aprende
              p +500 lecturas, videos y artículos para aprender de web hosting, diseño web, programación, marketing online

      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon camion")
                  use(xlink:href="#camion")
            .plus-content
              h6 Migración gratis
              p Nuestro equipo de migraciones moverá tu sitio web hacia Neolo, gratis, siempre que sea posible.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon dinero")
                  use(xlink:href="#dinero")
            .plus-content
              h6 Gana $$$
              p Recomiéndanos y gana $$$ por cada cliente que nos envíes

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon infinito")
                  use(xlink:href="#infinito")
            .plus-content
              h6 MySQL ilimitado
              p Bases de datos ilimitadas para todos tus sitios web, no más preocupaciones
