section.pricing#pricingServidoresDedicados
  .container
    .row
      .col-md-12
        header
          h2 Servidores dedicados administrados
          p Elegí tu servidor dedicado, nosotros nos encargamos que todo funcione.
        .row
          .col-xs-12
            .pricing-table.pricing-table_noFeatured.pricing-table_six
              .pricing-item.table-1
                header
                  h4 Servidor Dedicado 1
                section
                  ul
                    li #[span Procesador]   Xeon D-1520
                    li #[span CPU] 4/8t - 2.4GHz/2.7GHz
                    li #[span RAM] 32GB DDR4 ECC 2133 MHz
                    li #[span DISCOS] SoftRaid  2x2TB  
                    li #[span ANCHO DE BANDA] 250 Mbps
                  
                footer
                  p Desde #[span USD 64,99]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-2
                header
                  h4 Servidor Dedicado 2
                section
                  ul
                    li #[span Procesador] Intel  Xeon D-1520
                    li #[span CPU] 4/8t - 2.4GHz/2.7GHz
                    li #[span RAM] 64GB DDR4 ECC 2133 MHz
                    li #[span DISCOS] SoftRaid  2x2TB  
                    li #[span ANCHO DE BANDA] 250 Mbps
                footer
                  p Desde #[span USD 74,99]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-3
                header
                  h4 Servidor Dedicado 3
                section
                  ul
                    li #[span Procesador] Intel  Xeon D-1520
                    li #[span CPU] 4/8t - 2.4GHz/2.7GHz
                    li #[span RAM] 128GB DDR4 ECC 2133 MHz
                    li #[span DISCOS] SoftRaid  2x2TB  
                    li #[span ANCHO DE BANDA] 250 Mbps

                footer
                  p Desde #[span USD 124,99]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-5
                header
                  h4 Servidor Dedicado 4
                section
                  ul
                    li #[span Procesador] Intel  Xeon-D 1540
                    li #[span CPU] 8/16t - 2.1GHz/2.6GHz

                    li #[span RAM] 32GB DDR4 ECC 2133 MHz

                    li #[span DISCOS] SoftRaid  2x2TB  

                    li #[span ANCHO DE BANDA] 250 Mbps

                footer
                  p Desde #[span USD 84,99]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-6
                header
                  h4 Servidor Dedicado 5
                section
                  ul
                    li #[span Procesador] Intel  Xeon-D 1540

                    li #[span CPU]  8/16t - 2.1GHz/2.6GHz

                    li #[span RAM] 64GB DDR4 ECC 2133 MHz

                    li #[span DISCOS] SoftRaid  2x2TB

                    li #[span ANCHO DE BANDA] 250 Mbps

                footer
                  p Desde #[span USD 119,99]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-7
                header
                  h4 Servidor Dedicado 6
                section
                  li #[span Procesador] Intel  Xeon-D 1540

                  li #[span CPU] 8/16t - 2.1GHz/2.6GHz

                  li #[span RAM] 128GB DDR4 ECC 2133 MHz

                  li #[span DISCOS] SoftRaid  2x2TB

                  li #[span ANCHO DE BANDA] 250 Mbps

                footer
                  p Desde #[span USD 124,99]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-10
                header
                  h4 Servidor Dedicado 7
                section
                  li #[span Procesador] Intel  I7-6700K

                  li #[span CPU] 4/8t - 4 GHz/4.2 GHz

                  li #[span RAM] 64GB DDR4 ECC 2400 MHz

                  li #[span DISCOS] SoftRaid  2x480GB   ssd

                  li #[span ANCHO DE BANDA] 250 Mbps

                footer
                  p Desde #[span USD 164,99]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-11
                header
                  h4 Servidor Dedicado 8
                section
                  ul
                    li #[span Procesador] Intel  Xeon E5-1660v3

                    li #[span CPU] 8/16t - 3 GHz/3.5 GHz

                    li #[span RAM] 128GB DDR4 ECC 2133 MHz

                    li #[span DISCOS] SoftRaid  2x4TB  

                    li #[span ANCHO DE BANDA] 500 Mbps

                footer
                  p Desde #[span USD 245]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-12
                header
                  h4 Servidor Dedicado 9
                section
                  ul
                    li #[span Procesador] Intel  2x Xeon E5-2687Wv4

                    li #[span CPU] 24/48t - 3 GHz/3.5 GHz

                    li #[span RAM] 256GB DDR4 ECC 2133 MHz

                    li #[span DISCOS] SoftRaid  2x4TB  

                    li #[span ANCHO DE BANDA] 500 Mbps

                footer
                  p Desde #[span USD 624,99]
                  a.btn(href="", title="") Comprar


        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21% y 50 USD mensuales de honorarios de sysadmin.
        .row
          .col-xs-12
            p.allPlans Por favor consulta disponibilidad de servidores dedicados antes de comprar. Los servidores rotan, cambian y se mejoran a diario, por eso es mejor que nos consultes así podemos prepararte uno a medida.

        .row
          .col-md-8.col-md-offset-2
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 5% OFF por pago anual
