section.pricing
  .container
    .row
      .col-md-12
        header
          h2 Tu plan, a medida
          p Dentro de estos planes de hosting está el tuyo, con el servicio que deseás y al precio que buscás
        .row
          .col-xs-12
            .pricing-table.pricing-table_noFeatured.pricing-table_six
              .pricing-item.table-2
                header
                  h4 Servidor Dedicado 1
                section
                  ul
                    li #[span 1] dominio
                      a(href="#", title="", data-tooltip="Agrega todos los dominios que desees a tu cuenta de web hosting.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 15gb] espacio
                      a(href="#", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 30gb] de transferencia
                      a(href="#", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  p Desde #[span $31]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-4
                header
                  h4 Servidor Dedicado 2
                section
                  ul
                    li #[span 1] dominio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 15gb] espacio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 30gb] de transferencia
                      svg(class="icon info")
                        use(xlink:href="#info")
                footer
                  p Desde #[span $39]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-6
                header
                  h4 Servidor Dedicado 3
                section
                  ul
                    li #[span 1] dominio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 15gb] espacio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 30gb] de transferencia
                      svg(class="icon info")
                        use(xlink:href="#info")
                footer
                  p Desde #[span $57]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-8
                header
                  h4 Servidor Dedicado 1
                section
                  ul
                    li #[span 1] dominio
                      a(href="#", title="", data-tooltip="Agrega todos los dominios que desees a tu cuenta de web hosting.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 15gb] espacio
                      a(href="#", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 30gb] de transferencia
                      a(href="#", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  p Desde #[span $31]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-10
                header
                  h4 Servidor Dedicado 2
                section
                  ul
                    li #[span 1] dominio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 15gb] espacio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 30gb] de transferencia
                      svg(class="icon info")
                        use(xlink:href="#info")
                footer
                  p Desde #[span $39]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-12
                header
                  h4 Servidor Dedicado 3
                section
                  ul
                    li #[span 1] dominio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 15gb] espacio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 30gb] de transferencia
                      svg(class="icon info")
                        use(xlink:href="#info")
                footer
                  p Desde #[span $57]
                  a.btn(href="", title="") Comprar


        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Por favor consulta disponibilidad de servidores dedicados antes de comprar. Los servidores rotan, cambian y se mejoran a diario, por eso es mejor que nos consultes así podemos prepararte uno a medida.

        .row
          .col-md-8.col-md-offset-2
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 10% OFF por pago anual
