section.cpanel.screenshot.whm
  .screen-container
    .row
      .col-sm-6
      .col-sm-6
        header
          h2 El panel multicuenta #1
          p Con WHM creá planes de hosting, crea cuentas tuyas o de tus clientes, accede a ellas y gestioná todo fácil y rápido.
          
    .row
      .col-sm-6.whm-ipad
        img(src="img/whm-ipad.png", alt="")
      .col-sm-6
        section
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon mail")
                  use(xlink:href="#mail")
            .plus-content
              h6 Creá planes de hosting
              p Distribuye el espacio, transferencia, y características como desees. Luego, se los podrás asignar a las nuevas cuentas de hosting.
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon ssl")
                  use(xlink:href="#ssl")
            .plus-content
              h6 Accedé a todas las cuentas
              p Con 1 clic ingresa en cualquier cuenta de hosting y gestioná todo con control total.
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon www")
                  use(xlink:href="#www")
            .plus-content
              h6 Gestioná todo
              p Crear cuentas de correo, modificar claves, modificar cuentas de FTP, y mucho más.
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon apps")
                  use(xlink:href="#apps")
            .plus-content
              h6 Automatizá
              p Con la aplicación WHMCS podrás automatizar la suspensión, reseteo de claves, y mucho más.
          
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon backup_adicionales")
                  use(xlink:href="#backup_adicionales")
            .plus-content
              h6 Apps 1 Click Install
              p Opcionalmente, instalá Softaculous App y todos los usuarios de tu plan revendedor podrán instalar aplicaciones con 1 clic.
              
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon database")
                    use(xlink:href="#database")
            .plus-content
              h6 Bases de datos MySQL
              p Creación y gestión de bases de datos MySQL desde phpMyAdmin. Todos tus clientes podrán tener sus bases de datos MySQL.
