section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/fb-ig-ads.jpg', data-background-position='10% 35%')
  .container
    .row
      .col-xs-12
        h1 Más clientes, menos inversión
        p Haremos despegar tu negocio en menos de 24 horas. Es tu oportunidad para comenzar a recibir miles de potenciales clientes a través de Google AdWords, Bing Ads, Facebook Ads, Twitter Ads. Y si ya estás trabajando con otra agencia; auditamos gratis tus campañas y mejoramos su propuesta.
        a.btn.btn_orange(href="", title="Quiero vender más online")
          span Quiero vender más online
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
