section.hero.hero-section.heroDesktop.custom-background(data-background='img/fb-ig-ads.jpg', data-background-position='50% 50%')
  .container
    .row
      .col-xs-12
        .hero-whiteBox
          h1 Tu anuncio en Facebook & Instagram
          p Logr치 nuevos clientes y m치s reconocimiento de tu marca con campa침as segmentadas en redes sociales.
          a.btn.btn_orange(href="", title="Quiero vender m치s online")
            span Conversar con un profesional
            svg(class="icon angle-right")
              use(xlink:href="#angle-right")
