section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 ¿Qué es y por qué me conviene?
        p Facebook es la red social por excelencia, utilizada por más de mil millones de personas, casi todos tus potenciales clientes se encuentran allí. Sabemos cómo planificar e implementar las campañas para que consigas resultados positivos. Instagram es utilizada por más de 600 millones de usuarios, es una red fundamental para lograr un punto de contacto adicional de tu marca a un costo excepcionalmente bajo.
