section.features
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 "Todos los problemas son problemas de educación" Domingo Sarmiento
          p Con tu ayuda, becamos a niños de familias de bajos recursos económicos para que accedan a un jardín de infantes de clase media en el barrio de Palermo de la Ciudad de Buenos Aires.
    .row
      .col-xs-4
        h3 Más integración social
        p Diversos estudios señalan que los niños de bajos recursos y con problemas de aprendizaje, logran mejores niveles si se integran socialmente con niños y familias de otros niveles socioeconómicos.
      .col-xs-4
        h3 Más vacantes
        p Las familias de bajos ingresos que no pueden pagar una escuela privada, quedan a merced de las vacantes que les provee la educación pública.
      .col-xs-4
        h3 Inglés y computación obligatorio
        p A los 5 años, los niños se gradúan con conocimientos de computación y de idioma inglés.
