section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 ¿Qué es el registro de marca y por qué me conviene?
        p El registro de marca comercial en Argentina es fundamental para todo negocio que desee desarrollar una actividad comercial. El registro de marca provee autoridad a una persona física o jurídica sobre la utilización de dicho nombre e imagen. Aconsejamos que registres la marca de tu emprendimiento legalmente, a través de nuestro ágil estudio de abogados. Podremos registrar la marca en varios países y te brindaremos todo el asesoramiento y soporte profesional que necesites.
