section.pricing
  .container
    .row
      .col-md-12
        header
          h2 Registrá tu marca sin problemas
          p Un equipo de abogados especialistas en registro de marcas se encarga de todo.
        .row
          .col-sm-8.col-sm-offset-2
            .pricing-table.pricing-table-full.pricing-table_noFeatured
              .pricing-item.table-3
                header
                  h4 Registro de Marca en Argentina
                section
                  ul
                    li Búsqueda de disponibilidad de marca gratis
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Trámites de registro en INPI
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Custodia por 10 años
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Asesoramiento ilimitado 
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")

                footer
                  p #[span $5200] finales
                  a.btn(href="", title="") Buscar marca gratis ahora


        .row
          .col-xs-12
            p.allPlans El precio incluye el arancel del INPI.
