section.faq.skew-border
  .container.faqContainer
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2.topFaqs
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p El hosting para revendedores o hosting reseller consiste en brindarte la oportunidad de revender web hosting de nuestros servidores. 
              p Te brindaremos un panel principal llamado WHM desde el que podrás crear tus planes de hosting.
              p También podrás asignarle las características que desees, el precio que quieras y luego podrás crear las cuentas de web hosting para tus clientes asignándole el plan que quieras.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué es el SEO?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p SEO significa Search Engine Optimization. Es un servicio que consiste en optimizar tu sitio web para que sea amigable con los algoritmos matemáticos de los buscadores y lo ubiquen más arriba en los resultados de búsqueda.

          .faqBlock
            .faqBlock-question
              h4 ¿Cuál es la diferencia entre Google AdWords y SEO?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Un servicio de SEO bien desarrollado será menos costoso porque te enviará más visitas y no tendrás que pagar por cada una de ellas.
              p En contrapartida, lograr posicionar palabras clave competitivas puede llevar como mínimo 6 meses, mientras que en Google AdWords, si se cuenta con el presupuesto necesario, se lo logra en pocos minutos.

          .faqBlock
            .faqBlock-question
              h4 ¿Necesito un diseñador o webmaster para implementar las recomendaciones de la consultoría SEO?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si, es absolutamente recomendable que cuentes con un profesional web de confianza que pueda implementar estas mejoras en tu sitio web.

          .faqBlock
            .faqBlock-question
              h4 ¿Cómo es el informe?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p El informe SEO que realizamos tiene dos partes, una de SEO On Site y otra de SEO Off Site. La primera propone recomendaciones a partir del contenido de tu sitio web. La segunda, recomienda las mejores prácticas que son externas a tu sitio web, para brindarle una mayor relevancia.

          .faqBlock
            .faqBlock-question
              h4 Formo parte de un proyecto web de gran escala, ¿me sirven estas consultorías SEO?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si, te sirven. Pero si tu proyecto requiere más detalle y atención, podemos prepararte una propuesta a medida.

    .row
      a.btn.btn_orange.btn-more-less(title="Ver todas las preguntas", role="button")
        span.btn-text Ver todas las preguntas
        svg(class="icon angle-right")
          use(xlink:href="#angle-right")
