section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/seo.jpg', data-background-position='50% 25%')
  .container
    .row
      .col-xs-12
        h1 Consultoría SEO para ser el #1
        p Más visitas. Más consultas. Más ventas. Nuestros expertos SEO preparan un informe personalizado en PDF sobre qué tienes que mejorar en tu sitio web para estar más arriba en los buscadores. Además, puedes programar una reunión por Skype.
        a.btn.btn_orange(href="seo/#pricing", title="")
          span Comparar planes de consultoría SEO
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
