section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 Lográ crecimiento orgánico en buscadores
        p SEO (Search Engine Optimization) es la disciplina que trabaja para que tu sitio web reciba más visitas desde buscadores como Google, Yahoo! y Bing.
        p Nuestro equipo de SEO's creará un informe personalizado con todo lo que debes optimizar en tu sitio web y fuera de él para lograr escalar posiciones con las palabras clave que buscan tus clientes.
        a.btn.btn_orange(href="seo/#pricing", title="") Comparar planes SEO
        
include _table

section.home-blocks
  .home-block.home-block_right
    .home-block_img
      figure.custom-background(data-background='img/it-girl.jpg', data-background-position='center')
    .home-block_content
      h6 Un experto en SEO a tu disposición
      h5 Resultados en pocas semanas
      p A diferencia de la publicidad en Google AdWords, con SEO no tendrás que pagar por cada visita, sino simplemente adaptar tu sitio web para que sea amigable con el algoritmo de los buscadores.
      a.btn.btn_orange(href="seo/#pricing", title="") Comparar planes SEO
