section.plus.plus-border.plus-only
  .container
    .row
      .col-xs-12
        h2 Además, nuestros planes de Drip Email Marketing en incluyen:
    .plus-main
      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon seo")
                  use(xlink:href="#seo")
            .plus-content
              h6 Para todos los buscadores
              p El análisis del informe SEO estará basado en Google, Yahoo! y Bing, los principales buscadores del mundo
              
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon developers")
                  use(xlink:href="#developers")
            .plus-content
              h6 Listo para optimizar
              p El informe está preparado para que se lo facilites a tu webmaster y pueda implementar las mejoras que le indicamos

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon designers")
                  use(xlink:href="#designers")
            .plus-content
              h6 Mejoras de redacción
              p Además de recomendaciones SEO, también te explicamos cómo debe redactarse idóneamente tu web para buscadores

      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon mail")
                  use(xlink:href="#mail")
            .plus-content
              h6 Directo en tu correo
              p El informe SEO llegará directo a tu correo electrónico.
              
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon stats")
                  use(xlink:href="#stats")
            .plus-content
              h6 Todo para mejorar
              p Analizamos más de 30 aspectos para que tu sitio web mejore en el ranking de los buscadores

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon shield")
                  use(xlink:href="#shield")
            .plus-content
              h6 Seguridad
              p Si identificamos algun malware en tu sitio web también te avisaremos dado que perjudican el ranking en los buscadores
