section.pricing
  .container
    .row
      .col-md-12
        header
          h2 Tu plan, a medida
          p Dentro de estos planes de hosting está el tuyo, con el servicio que deseás y al precio que buscás
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1
            .pricing-table.pricing-table_two.pricing-table_noFeatured
              .pricing-item.table-2
                header
                  h4 Starter
                section
                  ul
                    li #[span 10] contactos
                    li Envios #[span limitados] por mes
                footer
                  span.pricingSmall Pago mensual
                  p #[span Gratis]
                  a.btn(href="", title="Comprar VPS 5", role='button') Probar gratis

              .pricing-item.table-4
                header
                  h4 Basic
                section
                  ul
                    li #[span 10] contactos
                    li Envios #[span limitados] por mes
                footer
                  span.pricingSmall Pago mensual
                  p #[span Gratis]
                  a.btn(href="", title="Comprar VPS 5", role='button') Probar gratis

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Aca metemos todo lo que tengan en común
