section.pricing
  .container
    .row
      .col-md-12
        header
          h2 Tu plan SEO, a medida
          p Elegí la consultoría SEO que mejor se adapte a tus necesidades. 
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1
            .pricing-table.pricing-table_two.pricing-table_noFeatured
              .pricing-item.table-2
                header
                  h4 Plan SEO 2
                section
                  ul
                    li Informe en #[span 7] días
                    li Charla #[span 1 hora] con SEO por Skype
                footer
                  span.pricingSmall Pago único
                  p #[span $1499]
                  a.btn(href="", title="Comprar VPS 5", role='button') Comprar ahora

              .pricing-item.table-4
                header
                  h4 Plan SEO 1
                section
                  ul
                    li Informe en #[span 14] días
                    li Sin charla por Skype
                footer
                  span.pricingSmall Pago único
                  p #[span $999]
                  a.btn(href="", title="Comprar VPS 5", role='button') Comprar ahora

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Ambos planes de consultoría SEO incluyen análisis ON site y OFF site.
