section.analyze
  .container
    .row
      header
        h2 ¿Qué analizamos?
    .row
      .col-md-8.col-md-offset-2
        .table-analyze
          header.table-row
            div On Site
            div Off Site
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Sitemap
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Analisis de links
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Meta etiquetas
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Recomendaciones para link building
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Title
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Alta en Search Console
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Title
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span 
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Tags Hreflang
            div.empty
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Tags Canonical
            div.empty
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Contenido
            div.empty
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Contenido
            div.empty
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Estructuras URL
            div.empty
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Velocidad de carga del sitio
            div.empty
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Herramientas recomendadas
            div.empty
              
