section.text-page
  header.text-page_header
    .container
      .row
        .col-xs-12
          h1 Tecnología de Neolo
  section.text-page_section
    .container
      .row
        .col-xs-12
          article
            p Elegir la tecnología correcta para ofrecerte dominios, hosting y sitios web es elegir salud mental.
          
          article
            h2 Datacenter en EEUU y Europa
            p Los estándares de calidad técnica en EEUU Y EUR son ampliamente superiores a los existentes en Latinoamérica. Hay al menos 10 años de ventaja.
            p Los problemas de ciberdelincuencia en EEUU y EUR son tratados por el FBI y policías especializadas (en otras palabras, tu información está más segura).
          article
            h2 PHP
            p El motor de PHP será el que permita que tu sitio web funcione con el lenguaje de programación PHP. Nuestro motor está instalado en todos los servidores y con la última versión estable.
          article
            h2 MySQL
            p Velocidad, seguridad y simplicidad hacen que MySQL sea el servidor de bases de datos más utilizado para web hosting en el mundo. Contamos con la última versión estable.
          article
            h2 Cloudlinux
            p Es el sistema operativo basado en Linux especialmente diseñado para funcionar como plataforma de web hosting.
          article
            h2 cPanel
            p Cuando la industria del web hosting comenzó a crecer hace unos 20 años atrás, existían decenas de empresas que panel de control para la administración simple de tu web hosting. Por ejemplo para crear tus cuentas de email, cambiar contraseñas, chequear estadísticas y mucho más. Pero en NEOLO.COM siempre hemos trabajado con cPanel, quien hoy tiene más del 90% del mercado de web hosting y siempre el panel de control que proveen será mejor que el que pueda desarrollar cualquier empresa de hosting. Simplemente porque +500 empleados de cPanel siempre podrán desarrollar algo mejor que cualquier empresa de web hosting que está ocupada en el servicio de web hosting y no en el servicio de paneles de control ;)
          article
            h2 WHMCS
            p En el pasado desarrollamos nuestro propio sistema de facturación, pero la realidad es que después de unos años, aprendimos a darnos cuenta que la frase "zapatero a tus zapatos" era brillante. Entonces tercerizamos el sistema de facturación contratando a WHMCS que son empresas que se dedican específicamente a desarrollar paneles de facturación y cobranzas para empresas de web hosting. Eso si, los medios de pago de Latam por ejemplo no existían, entonces con nuestros programadores desarrollamos los módulos específicos para cada país.
          article
            h2 Cisco
            p No hay que pensar demasiado a la hora de comprar equipamiento para networking. Cisco es y seguirá siendo -al menos por unos años más- la mejor empresa de redes informáticas y networking del mundo. Por eso los elegimos para implementar todo la tecnología que requiere la red de web hosting.


                      
            

          
