section.faq.gray-bg
  .container.faqContainer
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2.topFaqs
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Porque estamos en el mercado desde el 2002. Ya ayudamos a decenas de miles de personas y organizaciones a convertir sus ideas y proyectos en sitios web que funcionan las 24 horas.
              p Creemos en Internet como una necesidad básica, como un derecho humano, es el que permite a las personas expresarse al mundo y crecer personal, económica y espiritualmente, por eso queremos ser parte de tu proyecto y ayudarte a estar online con tu propio nombre en Internet.
              p Tenemos servidores en varios países, clientes en todo Latinoamérica y a diferencia de otras empresas, NEOLO.COM sigue siendo atendido por sus dueños.
              p Fuimos el primer proveedor en Latinoamérica en brindar web hosting ilimitado en 2010.
              p Nuestros principales inversores son nuestros clientes, todos y cada uno, que nos apoyan y nos permiten seguir creciendo junto a ellos. Queremos que tu proyecto también crezca y siempre funcione, por eso, queremos ser tu proveedor de web hosting en Argentina.

          .faqBlock
            .faqBlock-question
              h4 ¿Cuál es la ventaja del robot de chat?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Mientras que un formulario web convierte en promedio el 1% de tus visitantes en contactos, el robot de chat convierte entre el 3% y el 15% de tus visitantes en contactos.

          .faqBlock
            .faqBlock-question
              h4 ¿Es difícil configurarlo?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Es muy simple. Nuestros técnicos instalan un código en tu sitio web y configuran a qué dirección de email deben enviarse una copia del chat y los datos de tus potenciales clientes.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué pasa si se acaban los contactos?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p No hay problema, podrás cambiar por un plan más grande para poder seguir recibiendo consultas.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué plan necesito?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Te recomendamos comenzar con un plan pequeño y luego ir creciendo a medida que la necesidad de contactos es mayor.

    .row
      a.btn.btn_orange.btn-more-less(title="Ver todas las preguntas", role="button")
        span.btn-text Ver todas las preguntas
        svg(class="icon angle-right")
          use(xlink:href="#angle-right")
