section.hero.hero-section.heroSmall.heroDomian.custom-background(data-background='img/hero-domain.jpg', data-background-position='50% 33%')
  .container
    .row
      .col-md-10
        .hero-whiteBox
          header
            h1 Whois
            h2 Busca información sobre el titular de un dominio registrado.
          section
            form(method="", action="")
              .input-group
                input(type="text", placeholder='' required)
                button.btn.btn_orange(type='submit') Buscar
