section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 Acá va un título
        p Registrar un nombre de dominio nunca fue tan fácil. Simplemente elegís la dirección, realizas el pago y en pocos minutos ya estará disponible. Será fundamental que también contrates un plan de hosting en caso que no tengas uno funcionando. Los dominios siempre están a nombre de nuestros clientes.
