section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 ¿Qué es un Whois?
        p El Whois es una modalidad de acceso a una base de datos pública sobre los datos de titulares de nombres de dominio. Es aconsejable registrar tu dominio con ID Privacy Protect para evitar que los datos de registro sean accesibles públicamente.
