section.whois-result
  .container
    .row
      ul.whois-result_list
        li Domain Name: NEOLO.COM
        li Registry Domain ID: 138944292_DOMAIN_COM-VRSN
        li Registrar WHOIS Server: whois.enom.com
        li Registrar URL: www.enom.com
        li Updated Date: 2016-12-29T23:51:21.00Z
        li Creation Date: 2005-01-06T00:09:00.00Z
        li Registrar Registration Expiration Date: 2018-01-06T00:09:00.00Z
        li Registrar: ENOM, INC.
        li Registrar IANA ID: 48
        li Domain Status: clientTransferProhibited https://www.icann.org/epp#clientTransferProhibited
        li Registry Registrant ID: 
        li Registrant Name: NEOLO SRL
        li Registrant Organization: 
        li Registrant Street: DORREGO 1940 TORRE C 2E
        li Registrant City: CABA
        li Registrant State/Province: CIUDAD DE BUENOS AIRES
        li Registrant Postal Code: 1425
        li Registrant Country: AR
        li Registrant Phone: +54.0117790558
        li Registrant Phone Ext: 
        li Registrant Fax: 
        li Registrant Fax Ext:
        li Registrant Email: 
        li Registry Admin ID: 
        li Admin Name: NEOLO SRL
        li Admin Organization: 
        li Admin Street: DORREGO 1940 TORRE C 2E
        li Admin City: CABA
        li Admin State/Province: CIUDAD DE BUENOS AIRES
        li Admin Postal Code: 1425
        li Admin Country: AR
        li Admin Phone: +54.0117790558
        li Admin Phone Ext: 
        li Admin Fax: 
        li Admin Fax Ext:
        li Admin Email: 
        li Registry Tech ID: 
        li Tech Name: NEOLO SRL
        li Tech Organization: 
        li Tech Street: DORREGO 1940 TORRE C 2E
        li Tech City: CABA
        li Tech State/Province: CIUDAD DE BUENOS AIRES
        li Tech Postal Code: 1425
        li Tech Country: AR
        li Tech Phone: +54.0117790558
        li Tech Phone Ext: 
        li Tech Fax: 
        li Tech Fax Ext: 
        li Tech Email: 
        li Name Server: NS1.LINEADNS.COM
        li Name Server: NS2.LINEADNS.COM
        li DNSSEC: unSigned
        li Registrar Abuse Contact Email: 
        li Registrar Abuse Contact Phone: +1.4252982646
        li URL of the ICANN WHOIS Data Problem Reporting System: http://wdprs.internic.net/
