section.text-page
  header.text-page_header
    .container
      .row
        .col-xs-12
          h1 Motivos
  section.text-page_section
    .container
      .row
        .col-xs-12
          article
            p 
          
          article
            h2 #01
            p Creemos que detrás de cada cliente hay una persona y no un número.
          article
            h2 #02
            p Empleamos lo mejor de los dos mundos: Tecnología de Estados Unidos y atención al cliente de Latinoamérica.
          article
            h2 #03
            p Cada 6 meses ampliamos la capacidad de todos los planes de web hosting.
          article
            h2 #04
            p Escuchamos a nuestros clientes.
          article
            h2 #05
            p Llevamos +14 años de experiencia en dominios, web hosting y sitios web.
          article
            h2 #06
            p Todos los días pensamos en cómo mejorar.
          article
            h2 #07
            p Creemos en la igualdad de género: Somos una de las pocas empresas de tecnología que cuenta con 50% de mujeres en el staff.
          article
            h2 #08
            p Somos fanáticos de lo que hacemos: Amamos internet y queremos que todo el mundo tenga su lugar en la web.
          article
            h2 #09
            p Queremos a los mejores sin importar de su ubicación geográfica: Nuestro staff está formado por personas de Buenos Aires, CABA, Córdoba, Mendoza, Rosario, Venezuela, Uruguay y Alemania.
          article
            h2 #10
            p Tenemos vocación de servicio. Nos encanta ayudar y que logres tus objetivos en Internet.
          
