section.hero.hero-section.heroDesktop.custom-background(data-background='img/marketing-digital.jpg', data-background-position='50% 50%')
  .container
    .row
      .col-xs-12
        .hero-whiteBox
          h1 Hablar con un experto en marketing digital
          p Te asesoramos para crear una estrategia de marketing digital idónea para tu organización
          a.btn.btn_orange(href="", title="Conversar con un experto")
            span Conversar con un experto
            svg(class="icon angle-right")
              use(xlink:href="#angle-right")
