.btn{
  display: table;
  margin: 25px auto;
  padding: 12px 0;
  transition: background-color .3s ease;
  color: white;
  border-radius: 50px;
  min-width: 100%;
  text-align: center;
  cursor: pointer;

  @include breakpoint(sm) {
    min-width: 270px;
    padding: 12px 30px;
  }
}

.btn_orange{
  background-color: $orange;
  color: white;

  &:hover{
    background-color: darken($orange, 5%);

    .angle-right{
      left: 10px;
    }
  }
}

.btn_google-blue{
  background-color: $google-blue;

  &:hover{
    background-color: darken($google-blue, 5%);
  }
}

.btn-border{
  border-radius: 100px;
  border: 3px solid white;
  background-color: transparent;
  height: 50px;
  width: 230px;
  line-height: 45px;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover{
    background-color: white;
    color: $green-secondary;
  }
}

.btn-more-less{
  display: none;
}
