@font-face {
  font-family: 'dinbold';
  src: url('../fonts/ff_din_bold-webfont.woff2') format('woff2'),
  url('../fonts/ff_din_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'dinmedium';
  src: url('../fonts/ff_din_medium-webfont.woff2') format('woff2'),
  url('../fonts/ff_din_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinregular';
  src: url('../fonts/ff_din_regular-webfont.woff2') format('woff2'),
  url('../fonts/ff_din_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'dincond-boldbold';
  src: url('../fonts/ff_din_condensed_bold-webfont.woff2') format('woff2'),
  url('../fonts/ff_din_condensed_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


h1{
  @include font-size(4.4,5.0);
  font-family: $fontMedium;

  @include breakpoint(md) {
    @include font-size(6.8,8.0);
  }
}

h2{
  @include font-size(3.4,4);
  font-family: $fontMedium;

  @include breakpoint(sm) {
    @include font-size(4.0,4.6);
  }
}

h3{
  @include font-size(3.2,4.6);
}

h4{
  @include font-size(2.8,4.2);
}

a{
  text-decoration: none;
}


h1,h2,h3,h4,h5,h6{
  color: $black;
}

h1,h2,h3,h4,h5,h6,p{
  @include font-smooth;
}
