section.hero.hero-section.heroDesktop.custom-background(data-background='img/hero-hosting.jpg', data-background-position='50% 35%')
  .container
    .row
      .col-xs-12
        .hero-whiteBox
          h1 Tabla comparativa de hosting
          h2 Todos los planes en un sólo lugar.
          p Compara entre los mejores planes de hosting web del mercado de Argentina.
          a.btn.btn_orange(href="#pricing", title="Comparar planes de Hosting", role="button")
            span Comparar planes de Hosting
            svg(class="icon angle-right")
              use(xlink:href="#angle-right")
