section.home-blockCenter.gray-bg
  .container
    .row
      .col-xs-12
        h2 Comparar planes de hosting
        p Es importante que comprendas cada una de las características del servicio de hosting web que brindamos, por eso, en esta tabla comparativa de web hosting, vas a encontrar enumeradas todas las características del servicio que te ofrecemos, para que puedas comparar y elegir lo mejor para tu sitio web.
        p El primer año de hosting, te brindamos 50% OFF para nuevas cuentas con el código de promoción: "NUEVACUENTA".
