section.compare
  .compare-header
    .container
      .col-xs-12
        p Planes de hosting
  .compare-row
    table
      tbody
        tr
          td.compare-table Elige tu plan de web hosting
          td.compare-plan Plan ilimitado
          td.compare-plan Plan 1
          td.compare-plan Plan 0  
          
  .compare-header
    .container
      .col-xs-12
        p Características principales
  .compare-row
    table
      tbody
        tr
          td Creador Web
          td Si
          td No
          td No
