section.compare
  .compare-wrap
    .compare-header
      .container
        .col-xs-12
          p Planes de hosting
    .compare-row
      table
        tbody
          tr
            td.compare-table Elige tu plan de web hosting
            td.compare-plan
              .compare-plan_wrapper
                h5 Plan ilimitado
                h6 Al mes desde 
                p.compare-plan_price $57
                span + IVA. Pago anual
            td.compare-plan
              .compare-plan_wrapper
                h5 Plan ilimitado
                h6 Al mes desde 
                p.compare-plan_price $57
                span + IVA. Pago anual
            td.compare-plan
              .compare-plan_wrapper
                h5 Plan ilimitado
                h6 Al mes desde 
                p.compare-plan_price $57
                span + IVA. Pago anual
            
    .compare-header
      .container
        .col-xs-12
          p Características principales
    .compare-row
      table
        tbody
          tr
            td
              span.toolTip(data-tooltip="El Creador Web permite construir tu sitio web en menos de 5 minutos de forma fácil, rápida y profesional.") ?
              | Creador Web                
            td Si
            td No
            td No
          tr
            td
              span.toolTip(data-tooltip="Es la cantidad de espacio disponible en tu plan de web hosting para poder subir archivos, generar bases de datos, almacenar correos en tus cuentas de mail, etc.") ?
              | Espacio en Disco  
            td Ilimitado
            td Ilimitado
            td Ilimitado
          tr
            td
              span.toolTip(data-tooltip="Es la cantidad de espacio disponible en tu plan de web hosting para poder subir archivos, generar bases de datos, almacenar correos en tus cuentas de mail, etc.") ?
              | cPanel 
            td
              svg(class="icon tick")
                use(xlink:href="#tick")
            td
              svg(class="icon tick")
                use(xlink:href="#tick")
            td 
              svg(class="icon cross")
                use(xlink:href="#cross")
          
    .compare-header
      .container
        .col-xs-12
          p Planes de Hosting
    .compare-row
      table
        tbody
          tr
            td.compare-table Elige tu plan de web hosting
            td.compare-plan.table-1
              .compare-plan_wrapper
                h5 Plan ilimitado
                h6 Al mes desde 
                p.compare-plan_price $57
                span + IVA. Pago anual
                a.btn(href="https://ar.neolo.com/cart.php?a=add&pid=4&carttpl=cart", title="") Comprar
            td.compare-plan.table-6
              .compare-plan_wrapper
                h5 Plan ilimitado
                h6 Al mes desde 
                p.compare-plan_price $57
                span + IVA. Pago anual
                a.btn(href="https://ar.neolo.com/cart.php?a=add&pid=4&carttpl=cart", title="") Comprar
            td.compare-plan.table-12
              .compare-plan_wrapper
                h5 Plan ilimitado
                h6 Al mes desde 
                p.compare-plan_price $57
                span + IVA. Pago anual
                a.btn(href="https://ar.neolo.com/cart.php?a=add&pid=4&carttpl=cart", title="") Comprar
