section.features
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 ¿Cómo funciona?
          p Google AdWords es el sistema de publicidad de Google. Cada vez que tus potenciales clientes busquen en Google, verán tu anuncio, harán clic e ingresarán a tu sitio web. Lograrás más visibilidad y ventas. Tendrás a disposición un equipo de profesionales de Neolo en optimización de Google AdWords que harán simple lo complejo, gestionando las campañas, las palabras clave, las extensiones de anuncios y mucho más. A fin de mes, te presentaremos un reporte con una síntesis de la gestión de tu equipo.
    .row
      .col-xs-4
        h3 #1
        p Tus potenciales clientes buscan palabras en Google y les mostramos un anuncio.
      .col-xs-4
        h3 #2
        p Al clickear en el anuncio, llegan a tu sitio web o  una landing page optimizada para que se contacten.
      .col-xs-4
        h3 #3
        p Recibe las consultas directamente en tu email.
        
    .row
      .col-xs-4
        h3 #4
        p Las personas que ingresaron a tu web pero no consultaron, verán publicidad de tu negocio en casi todos los sitios web que naveguen.
      .col-xs-4
        h3 #5
        p Al clickear la publicidad, llegarán a tu sitio web o landing page para que se contacten.
      .col-xs-4
        h3 #6
        p Recibe nuevas consultas al recuperar potenciales clientes que dabas por perdidos.
