section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 ¿Qué es  Google AdWords y por qué me conviene?
        p Google AdWords es el sistema de publicidad de Google. Cada vez que tus potenciales clientes busquen en Google, verán tu anuncio, harán clic e ingresarán a tu sitio web. Lograrás más visibilidad y ventas. Tendrás a disposición un equipo de profesionales de Neolo en optimización de Google AdWords que harán simple lo complejo, gestionando las campañas, las palabras clave, las extensiones de anuncios y mucho más. A fin de mes, te presentaremos un reporte con una síntesis de la gestión de tu equipo.
