section.plus.plus-border.plus-only
  .container
    .row
      .col-xs-12
        h2 Características de la gestión de Google AdWords
    .plus-main
      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon builder")
                  use(xlink:href="#builder")
            .plus-content
              h6 Optimizaciones periódicas
              p Cada semana nuestro equipo de especialistas certificados en Google AdWords tomarán decisiones a partir de los datos que genere tu cuenta, para que logres mejores resultados.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon mobile")
                  use(xlink:href="#mobile")
            .plus-content
              h6 Soporte por especialistas
              p Te brindamos soporte presencial, por email, ticket, teléfono, whatsapp, y más. Según el plan que contrates.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon stats")
                  use(xlink:href="#stats")
            .plus-content
              h6 Estadísticas
              p Lo más importante es que podrás saber exactamente, cuál es el costo de cada producto o servicio que logras vender y determinar el retorno de tu inversión, tal como hacen las medianas y grandes empresas.
