section.plus.plus-border
  .container
    .row
      .col-xs-12
        h2 Instalación, configuración, securización y optimización de:
    .plus-main
      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Sistemas operativos
              p Linux y Windows

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon seo")
                  use(xlink:href="#infinito")
            .plus-content
              h6 Herramientas de Monitoreo
              p Nagios, Icinga, Nagvis, NRPE, CACTI y otros.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cPanel")
                  use(xlink:href="#camion")
            .plus-content
              h6 Panel de control de Hosting
              p ISPCONFIG, cPanel, Plesk, y otros.

      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon apps")
                  use(xlink:href="#mail")
            .plus-content
              h6 Aplicaciones Web
              p WordPress, Moodle, Joomla, y otras.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon database")
                  use(xlink:href="#database")
            .plus-content
              h6 Bases de datos
              p MySQL, MariaDB, y otras.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon developers")
                  use(xlink:hrefbuilder")
            .plus-content
              h6 Gestión de tickets
              p Redmine, GLPI, OCSInventory, y otros

      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon seo")
                  use(xlink:href="#seo")
            .plus-content
              h6 Sistemas de virtualización
              p KVM, VMWare, VirtualBOX

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon backup")
                  use(xlink:href="#mobile")
            .plus-content
              h6 Sistemas de backups
              p Personalización total, LVM, Snapshots, y más.
              
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon backup")
                  use(xlink:href="#shield")
            .plus-content
              h6 Virtualización de servidores físicos
              p Máximo aprovechamiento de su infraestructura.
