section.analyze
  .container
    .row
      header
        h2 Soluciones a medida
    .row
      .col-md-8.col-md-offset-2
        .table-analyze
          header.table-row
            div Instalación, configuración y securización
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Sistemas operativos
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Monitoreo
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Paneles de control
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Bases de datos
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Aplicaciones web
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Gestión de tickets
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Sistemas de virtualización
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Sistemas de backup
          .table-row
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Virtualización de servidores físicos
            div
              svg(class="icon tick")
                use(xlink:href="#tick")
              span Servidores FTP, SSH, VPN, etc
