extends layouts/_layout-primary

block content
  include general/_mixins
  include general/_topNav
  include general/_header
  include afiliados/_hero
  include afiliados/_hero-mobile
  include afiliados/_features
  include afiliados/_lo-creamos-por-vos
  include general/_help
  include general/_footer
