extends certificado-ssl/_layout

block content
  include certificado-ssl/_hero
  include certificado-ssl/_hero-mobile
  include certificado-ssl/_features
  include certificado-ssl/_pricing
  include general/_payments
  include certificado-ssl/_faq
  include general/_clients
  include general/_partners
  include general/_help
