extends chat-robot/_layout

block content
  include chat-robot/_hero
  include chat-robot/_hero-mobile
  include chat-robot/_home-blocks
  include chat-robot/_pricing
  include general/_payments
  include chat-robot/_plus
  include chat-robot/_faq
  include general/_clients
  include general/_partners
  include general/_help
