extends colocation/_layout

block content
  include colocation/_hero
  include colocation/_hero-mobile
  include colocation/_pricing
  include general/_payments
  include colocation/_plus
  include colocation/_faq
  include general/_clients
  include general/_partners
  include general/_help
