extends creamos-tu-sitio-web/_layout

block content
  include creamos-tu-sitio-web/_hero
  include creamos-tu-sitio-web/_hero-mobile
  include creamos-tu-sitio-web/_designs
  include creamos-tu-sitio-web/_info-blocks
  include creamos-tu-sitio-web/_pricing
  include general/_payments
  include creamos-tu-sitio-web/_plus
  include creamos-tu-sitio-web/_faq
  include general/_clients
  include general/_partners
  include general/_help
