extends layouts/_layout-primary

block content
  include general/_mixins
  include general/_topNav
  include general/_header
  include creamos-tu-sitio-web/_hero
  include creamos-tu-sitio-web/_hero-mobile
  include creamos-tu-sitio-web/_info-blocks
  include creamos-tu-sitio-web/_pricing
  include general/_payments
  include creamos-tu-sitio-web/_plus
  include creamos-tu-sitio-web/_faq
  include general/_clients
  include general/_partners
  include general/_help
  include general/_footer
