extends layouts/_layout-primary

block content
  include general/_mixins
  include general/_topNav
  include general/_header
  include drip-marketing/_hero
  include drip-marketing/_hero-mobile
  include dominios-paises/_paises
  //- include general/_payments
  //- include general/_clients
  //- include general/_partners
  //- include general/_help
  //- include general/_footer
