extends drip-marketing/_layout

block content
  include drip-marketing/_hero
  include drip-marketing/_hero-mobile
  include drip-marketing/_features
  include drip-marketing/_pricing
  include general/_payments
  include drip-marketing/_plus
  include drip-marketing/_faq
  include general/_clients
  include general/_partners
  include general/_help
