extends layouts/_layout-primary

block content
  include general/_mixins
  include general/_topNav
  include general/_header
  include email-marketing/_hero
  include email-marketing/_hero-mobile
  include email-marketing/_pricing
  include general/_payments
  include email-marketing/_plus
  include email-marketing/_faq
  include general/_clients
  include general/_partners
  include general/_help
  include general/_footer
