extends email-marketing/_layout

block content
  include email-marketing/_hero
  include email-marketing/_hero-mobile
  include email-marketing/_info-blocks
  include email-marketing/_pricing
  include general/_payments
  include email-marketing/_plus
  include email-marketing/_faq
  include general/_clients
  include general/_partners
  include general/_help
