extends facebook-page/_layout

block content
  include facebook-page/_hero
  include facebook-page/_hero-mobile
  include facebook-page/_pricing
  include general/_payments
  include facebook-page/_faq
  include general/_clients
  include general/_partners
  include general/_help
