extends fb-ig-ads/_layout

block content
  include fb-ig-ads/_hero
  include fb-ig-ads/_hero-mobile
  include fb-ig-ads/_info-blocks
  include fb-ig-ads/_pricing
  include general/_payments
  include fb-ig-ads/_plus
  include fb-ig-ads/_faq
  include general/_clients
  include general/_partners
  include general/_help
