extends layouts/_layout-primary

block content
  section.flags
    .container
      .row
        .col-xs-12
          article
            h3 Latin America
            ul
              li: a(href="", title="Argentina")
                i.sprite.sprite-ar
                p Argentina
              li: a(href="", title="Bolivia")
                i.sprite.sprite-bo
                p Bolivia
              li: a(href="", title="Brasil")
                i.sprite.sprite-br
                p Brasil
              li: a(href="", title="Chile")
                i.sprite.sprite-cl
                p Chile
            ul
              li: a(href="", title="Colombia")
                i.sprite.sprite-co
                p Colombia
              li: a(href="", title="Costa Rica")
                i.sprite.sprite-cr
                p Costa Rica
              li: a(href="", title="Ecuador")
                i.sprite.sprite-ec
                p Ecuador
              li: a(href="", title="El Salvador")
                i.sprite.sprite-sv
                p El Salvador
        
            ul
              li: a(href="", title="Guatemala")
                i.sprite.sprite-gt
                p Guatemala
              li: a(href="", title="Honduras")
                i.sprite.sprite-hn
                p Honduras
              li: a(href="", title="Mexico")
                i.sprite.sprite-mx
                p Mexico
              li: a(href="", title="Nigaragua")
                i.sprite.sprite-ni
                p Nicaragua
            ul
              li: a(href="", title="Panamá")
                i.sprite.sprite-pa
                p Panamá
              li: a(href="", title="Paraguay")
                i.sprite.sprite-py
                p Paraguay
              li: a(href="", title="Peru")
                i.sprite.sprite-pe
                p Peru
              li: a(href="", title="Puerto Rico")
                i.sprite.sprite-pr
                p Puerto Rico
            ul
              li: a(href="", title="República Dominicana")
                i.sprite.sprite-do
                p República Dominicana
              li: a(href="", title="Uruguay")
                i.sprite.sprite-uy
                p Uruguay
              li: a(href="", title="Venezuela")
                i.sprite.sprite-ve
                p Venezula

          article
            h3 Europe
            ul
              li: a(href="", title="Belgie")
                i.sprite.sprite-be
                p Belgie
              li: a(href="", title="Deutschland")
                i.sprite.sprite-de
                p Deutschland
              li: a(href="", title="España")
                i.sprite.sprite-es
                p España
              li: a(href="", title="Ireland")
                i.sprite.sprite-ie
                p Ireland
            ul
              li: a(href="", title="Nederland")
                i.sprite.sprite-nl
                p Nederland
              li: a(href="", title="Österreich")
                i.sprite.sprite-at
                p Österreich
              li: a(href="", title="Portugal")
                i.sprite.sprite-pt
                p Portugal
              li: a(href="", title="Suomi")
                i.sprite.sprite-fi
                p Suomi
            ul
              li: a(href="", title="UK")
                i.sprite.sprite-gb
                p UK
              
          article
            h3 North America
            ul
              li: a(href="", title="Canada")
                i.sprite.sprite-ca
                p Canada
              li: a(href="", title="Estados Unidos")
                i.sprite.sprite-us
                p Estados Unidos
              li: a(href="", title="USA")
                i.sprite.sprite-us
                p USA
                
          article
            h3 Asia
            ul
              li: a(href="", title="Filipinas")
                i.sprite.sprite-ph
                p Filipinas
              li: a(href="", title="Hong Kong")
                i.sprite.sprite-hk
                p Hong Kong
              li: a(href="", title="India")
                i.sprite.sprite-in
                p India
              li: a(href="", title="Indonesia")
                i.sprite.sprite-id
                p Indonesia
                
          article
            h3 Oceania
            ul
              li: a(href="", title="Australia")
                i.sprite.sprite-au
                p Australia

          article
            h3 Africa
            ul
              li: a(href="", title="Nigeria")
                i.sprite.sprite-ng
                p Nigeria
              li: a(href="", title="South Africa")
                i.sprite.sprite-za
                p South Africa
