extends layouts/_layout-primary

block content
  section.flags
    .container
      .row
        .col-xs-12
          article
            h3 Latin America
            ul
              li: a(href="", title="Argentina")
                i.sprite.sprite-argentina
                p Argentina
              li: a(href="", title="Bolivia")
                i.sprite.sprite-bolivia
                p Bolivia
              li: a(href="", title="Brasil")
                i.sprite.sprite-brasil
                p Brasil
              li: a(href="", title="Chile")
                i.sprite.sprite-chile
                p Argentina
            ul
              li: a(href="", title="Colombia")
                i.sprite.sprite-colombia
                p Colombia
              li: a(href="", title="Costa Rica")
                i.sprite.sprite-costa-rica
                p Costa Rica
              li: a(href="", title="Ecuador")
                i.sprite.sprite-ecuador
                p Ecuador
              li: a(href="", title="El Salvador")
                i.sprite.sprite-el-salvador
                p El Salvador
        
            ul
              li: a(href="", title="Guatemala")
                i.sprite.sprite-guatemala
                p Guatemala
              li: a(href="", title="Honduras")
                i.sprite.sprite-honduras
                p Honduras
              li: a(href="", title="Mexico")
                i.sprite.sprite-mexico
                p Mexico
              li: a(href="", title="Nigaragua")
                i.sprite.sprite-nicaragua
                p Nicaragua
            ul
              li: a(href="", title="Panamá")
                i.sprite.sprite-panama
                p Panamá
              li: a(href="", title="Paraguay")
                i.sprite.sprite-paraguay
                p Paraguay
              li: a(href="", title="Peru")
                i.sprite.sprite-peru
                p Peru
              li: a(href="", title="Puerto Rico")
                i.sprite.sprite-puerto-rico
                p Puerto Rico
            ul
              li: a(href="", title="República Dominicana")
                i.sprite.sprite-republica-dominicana
                p República Dominicana
              li: a(href="", title="Uruguay")
                i.sprite.sprite-uruguay
                p Uruguay
              li: a(href="", title="Venezuela")
                i.sprite.sprite-venezuela
                p Venezula

          article
            h3 Europe
            ul
              li: a(href="", title="Belgie")
                i.sprite.sprite-belgie
                p Belgie
              li: a(href="", title="Deutschland")
                i.sprite.sprite-deutschland
                p Deutschland
              li: a(href="", title="España")
                i.sprite.sprite-espana
                p España
              li: a(href="", title="Ireland")
                i.sprite.sprite-ireland
                p Ireland
            ul
              li: a(href="", title="Nederland")
                i.sprite.sprite-nederland
                p Nederland
              li: a(href="", title="Österreich")
                i.sprite.sprite-osterreich
                p Österreich
              li: a(href="", title="Portugal")
                i.sprite.sprite-portugal
                p Portugal
              li: a(href="", title="Suomi")
                i.sprite.sprite-suomi
                p Suomi
            ul
              li: a(href="", title="UK")
                i.sprite.sprite-uk
                p UK
              
          article
            h3 North America
            ul
              li: a(href="", title="Canada")
                i.sprite.sprite-canada
                p Canada
              li: a(href="", title="Estados Unidos")
                i.sprite.sprite-usa
                p Estados Unidos
              li: a(href="", title="USA")
                i.sprite.sprite-usa
                p USA
                
          article
            h3 Asia
            ul
              li: a(href="", title="Filipinas")
                i.sprite.sprite-filipinas
                p Filipinas
              li: a(href="", title="Hong Kong")
                i.sprite.sprite-hong-kong
                p Hong Kong
              li: a(href="", title="India")
                i.sprite.sprite-india
                p India
              li: a(href="", title="Indonesia")
                i.sprite.sprite-indonesia
                p Indonesia
                
          article
            h3 Oceania
            ul
              li: a(href="", title="Australia")
                i.sprite.sprite-australia
                p Australia

          article
            h3 Africa
            ul
              li: a(href="", title="Nigeria")
                i.sprite.sprite-nigeria
                p Nigeria
              li: a(href="", title="South Africa")
                i.sprite.sprite-south-africa
                p South Africa
