extends flags/_layout

block content
  section.flags
    .container
      .row
        .col-xs-12
          article
            h3 Latin America
            ul
              +flags({title: 'Argentina', id: 'ar'})
              +flags({title: 'Bolivia', id: 'bo'})
              +flags({title: 'Brasil', id: 'br'})
              +flags({title: 'Chile', id: 'cl'})
            ul
              +flags({title: 'Colombia', id: 'co'})
              +flags({title: 'Costa Rica', id: 'cr'})
              +flags({title: 'Ecuador', id: 'ec'})
              +flags({title: 'El Salvador', id: 'sv'})
            ul
              +flags({title: 'Guatemala', id: 'gt'})
              +flags({title: 'Honduras', id: 'hn'})
              +flags({title: 'Mexico', id: 'mx'})
              +flags({title: 'Nigaragua', id: 'ni'})
            ul
              +flags({title: 'Panamá', id: 'pa'})
              +flags({title: 'Paraguay', id: 'py'})
              +flags({title: 'Peru', id: 'pe'})
              +flags({title: 'Puerto Rico', id: 'pr'})
            ul
              +flags({title: 'República Dominicana', id: 'do'})
              +flags({title: 'Uruguay', id: 'uy'})
              +flags({title: 'Venezuela', id: 've'})
          article
            h3 Europe
            ul
              +flags({title: 'Belgie', id: 'be'})
              +flags({title: 'Deutschland', id: 'de'})
              +flags({title: 'España', id: 'es'})
              +flags({title: 'Ireland', id: 'ie'})
            ul
              +flags({title: 'Nederland', id: 'nl'})
              +flags({title: 'Österreich', id: 'at'})
              +flags({title: 'Portugal', id: 'pt'})
              +flags({title: 'Suomi', id: 'fi'})
            ul
              +flags({title: 'UK', id: 'gb'})              
          article
            h3 North America
            ul
              +flags({title: 'Canada', id: 'ca'})
              +flags({title: 'Estados Unidos', id: 'us'})
              +flags({title: 'USA', id: 'us'})
          article
            h3 Asia
            ul
              +flags({title: 'Filipinas', id: 'ph'})
              +flags({title: 'Hong Kong', id: 'hk'})
              +flags({title: 'India', id: 'in'})
              +flags({title: 'Indonesia', id: 'id'})
                
          article
            h3 Oceania
            ul
              +flags({title: 'Australia', id: 'au'})
              
          article
            h3 Africa
            ul
              +flags({title: 'Nigeria', id: 'ng'})
              +flags({title: 'South Africa', id: 'za'})
