extends layouts/_layout-primary

block content
  include general/_mixins
  include general/_topNav
  include general/_header
  include google-adwords/_hero
  include google-adwords/_hero-mobile
  include google-adwords/_info-blocks
  include google-adwords/_pricing
  include general/_payments
  include google-adwords/_plus
  include google-adwords/_faq
  include general/_clients
  include general/_partners
  include general/_help
  include general/_footer
