extends hablar-con-un-experto/_layout

block content
  include hablar-con-un-experto/_hero
  include hablar-con-un-experto/_hero-mobile
  include hablar-con-un-experto/_pricing
  include general/_payments
  include hablar-con-un-experto/_faq
  include general/_clients-white
  include general/_partners
  include general/_help
