extends revendedores/_layout

block content
  include revendedores/_hero
  include revendedores/_hero-mobile
  include revendedores/_pricing
  include general/_payments
  include revendedores/_plus
  include revendedores/_cpanel
  include revendedores/_whm
  include revendedores/_faq
  include general/_clients-white
  include general/_partners
  include general/_help
