extends wp/_layout

block content
  include wp/_hero
  include wp/_hero-mobile
  include wp/_pricing
  include general/_payments
  include wp/_faq
  include general/_clients-white
  include general/_partners
  include general/_help
