extends home/_layout

block content
  include home/_hero
  include home/_hero-mobile
  include home/_features
  include home/_home-blocks
  include home/_faq
  include general/_clients
  include general/_partners
  include general/_help
