extends layouts/_layout-primary

block content
  include general/_mixins
  include general/_topNav
  include general/_header
  include home/_hero
  include home/_hero-mobile
  include home/_features
  //- include home/_pricing
  //- include general/_payments
  include home/_home-blocks
  //- include home/_plus
  include home/_faq
  include home/_clients
  include home/_partners
  include general/_help
  include general/_footer
