extends layouts/_layout-primary

block content
  include general/_mixins
  include general/_topNav
  include general/_header
  include landing-page/_hero
  include landing-page/_hero-mobile
  include landing-page/_designs
  include landing-page/_info-blocks
  include landing-page/_pricing
  include general/_payments
  include landing-page/_faq
  include general/_clients
  include general/_partners
  include general/_help
  include general/_footer
