extends optimizacion/_layout

block content
  include optimizacion/_hero
  include optimizacion/_hero-mobile
  include optimizacion/_info-blocks
  include optimizacion/_pricing
  include optimizacion/_faq
  include general/_clients
  include general/_partners
  include general/_help
