extends privacidad-dominio/_layout

block content
  include privacidad-dominio/_hero
  include privacidad-dominio/_info-blocks
  include privacidad-dominio/_faq
  include general/_clients
  include general/_partners
  include general/_help
