extends registro-de-marca/_layout

block content
  include registro-de-marca/_hero
  include registro-de-marca/_hero-mobile
  include registro-de-marca/_info-blocks
  include registro-de-marca/_pricing
  include general/_payments
  include registro-de-marca/_faq
  include general/_clients
  include general/_partners
  include general/_help
