extends registrar-dominio/_layout

block content
  include registrar-dominio/_hero
  include registrar-dominio/_home-blocks
  include general/_payments
  include registrar-dominio/_faq
  include general/_clients-white
  include general/_partners
  include general/_help
