extends revendedores/_layout

block content
  include revendedores/_hero
  include revendedores/_hero-mobile
  include revendedores/_pricing
  include general/_payments
  include revendedores/_plus
  include revendedores/_faq
  include general/_clients
  include general/_partners
  include general/_help
