extends reviews/_layout

block content
  include reviews/_hero
  include reviews/_hero-mobile
  include reviews/_features
  include reviews/_pricing
  include reviews/_home-blocks
  include reviews/_faq
  include general/_clients
  include general/_partners
  include general/_help
