extends layouts/_layout-primary

block content
  include general/_mixins
  include general/_topNav
  include general/_header
  include rse/_hero
  include rse/_hero-mobile
  include rse/_features
  include general/_footer
