extends seo/_layout

block content
  include seo/_hero
  include seo/_hero-mobile
  include seo/_home-blocks
  include seo/_pricing
  include general/_payments
  include seo/_faq
  include general/_clients-white
  include general/_partners
  include general/_help
