extends servidores-dedicados/_layout

block content
  include servidores-dedicados/_hero
  include servidores-dedicados/_hero-mobile
  include servidores-dedicados/_pricing
  include general/_payments
  include servidores-dedicados/_plus
  include servidores-dedicados/_faq
  include general/_clients
  include general/_partners
  include general/_help
