extends sms-marketing/_layout

block content
  include sms-marketing/_hero
  include sms-marketing/_hero-mobile
  include sms-marketing/_pricing
  include general/_payments
  include sms-marketing/_faq
  include general/_clients
  include general/_partners
  include general/_help
