extends layouts/_layout-primary

block content
  include general/_mixins
  include general/_topNav
  include general/_header
  include sysadmin/_hero
  include sysadmin/_hero-mobile
  include sysadmin/_pricing
  include general/_payments
  include sysadmin/_plus
  include sysadmin/_faq
  include general/_clients
  include general/_partners
  include general/_help
  include general/_footer
