extends sysadmin/_layout

block content
  include sysadmin/_hero
  include sysadmin/_hero-mobile
  include sysadmin/_pricing
  include general/_payments
  include sysadmin/_plus
  include general/_clients-white
  include general/_partners
  include general/_help
