extends sysadmin/_layout

block content
  include sysadmin/_hero
  include sysadmin/_hero-mobile
  include sysadmin/_pricing
  include sysadmin/_plus
  include general/_clients
  include general/_partners
  include general/_help
