extends vps/_layout

block content
  include vps/_hero
  include vps/_hero-mobile
  include vps/_pricing
  include general/_payments
  include vps/_plus
  include vps/_faq
  include general/_clients
  include general/_partners
  include general/_help
