extends vps/_layout

block content
  include vps/_hero
  include vps/_hero-mobile
  //- include vps/_map
  include vps/_pricing
  include vps/_cpanel
  include vps/_whm
  include general/_payments
  include vps/_plus
  include vps/_faq
  include general/_clients
  include general/_partners
  include general/_help
