extends web-hosting/_layout

block content
  include web-hosting/_hero
  include web-hosting/_hero-mobile
  include web-hosting/_pricing
  include general/_payments
  include web-hosting/_plus
  include web-hosting/_cpanel
  include web-hosting/_faq
  include general/_clients-white
  include general/_partners
  include general/_help
