extends layouts/_layout-primary

block content
  include general/_mixins
  include general/_topNav
  include general/_header
  include whois/_hero
  include whois/_home-blocks
  include general/_clients-white
  include general/_partners
  include general/_help
  include general/_footer
