.badges-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    max-width: 50%;
    text-align: center;
    margin: 10px 0;
    padding: 15px;

    @include breakpoint(sm) {
      flex-basis: 50%;
      max-width: 50%;
      padding: 0;
    }

    @include breakpoint(md) {
      flex-basis: 25%;
      max-width: 25%;
    }
  }

  img{
    max-width: 250px;
  }
}
