.compare{
  background-color: white;
  overflow:hidden;

  &-wrap{
    overflow: scroll;
  }

  &-header{
    text-align: left;
    color: #FFF;
    background-color: #D36248;
    padding: 20px 0;
    text-align: center;
    padding-left: 25%;
    min-width: 700px;

    p{
      font-family: $fontMedium;
      @include font-size(2,2);
    }
  }

  &-table{
    @include font-size(2,2);
    font-family: $fontMedium;
  }

  table{
    border: 0 none;
    color: $black;
    width: 100%;

    tr{
      border-bottom: 1px solid $black;

      &:nth-child(odd){
        background-color: $gray;
      }

      &:nth-child(even){
        background-color: $gray-dark;
      }
    }

    td{
      text-align: center;
      width: 25%;
      min-width: 175px;
      border-right: 1px solid #c3c3c3;
      padding: 10px;
      vertical-align: middle;

      &:first-of-type,
      &:last-of-type{
        border: 0 none;
      }
    }
  }

  &-row{
    td{
      &:first-child{
        background-color: $orange;
        color: white;
        text-align: left;
      }
    }
  }

  &-plan{
    padding: 10px;

    &_wrapper{
      background-color: white;
      border: 1px solid $gray;
      padding: 10px;

      h5{
        font-family: $fontMedium;
        font-size: 1.125em;
        margin-bottom: 10px;
        background-color: lightyellow;
        padding: 10px;
      }

      span{
        @include font-size(1.4,1.4);
      }
    }

    &_price{
      @include font-size(5.6, 5.6);
      margin: 10px 0;
    }
  }

  .tick{
    width: 22px;
    height: 19px;
  }

  .cross{
    width: 22px;
    height: 19px;
    color: $red;
    display: inline-block;
    vertical-align: middle;
  }
}


.compare-row{
  [data-tooltip]::before {
    top: -25%;
    left: 100%;
    margin-left: 10px;
    bottom: auto;
    text-align: left;
  }
  [data-tooltip]::after {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    content: '';
    border-right-color: $black;
    border-left: none;
    top: 50%;
    left: 100%;
    margin-top: -6px;
    margin-left: 4px;
  }
}

.toolTip{
  background-color: #fff;
  font-size: 0.875em;
  color: #E4744E;
  font-weight: 700;
  opacity: .7;
  padding: 1px 7px;
  margin-right: 5px;
  border-radius: 12px;
  cursor: pointer;
  transition: opacity 0.175s ease;

  &:hover{
    opacity: 1;
  }
}

.compare-plan{
  .btn{
    padding: 10px 0;
    display: block;
    width: auto;
    min-width: auto;
  }
}
