.faq{
  padding: 50px 0;
  text-align: center;
  background-color: white;

  @include breakpoint(xs) {
    padding: 75px 0;
  }
  @include breakpoint(sm) {
    padding: 75px 0 50px 0;
  }
}

.skew-border{
  padding: 50px 0;

  @include breakpoint(xs) {
    padding: 75px 0;
  }
  @include breakpoint(sm) {
    padding: 150px 0 50px 0;
  }
}

.faq.gray-bg{
  background-color: $gray;
}

.faqBlocks{
  margin-top: 50px;
}

.faqBlock{
  background-color: white;
}

.faqBlock-question{
  background-color: $green-secondary;
  position: relative;
  padding: 20px 5px;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover{
    background-color: darken($green-secondary, 8%);
  }

  h4{
    color: white;
    @include font-size(1.6,1.8);
    font-family: $fontMedium;
    text-transform: uppercase;
    text-align: left;
    padding-right: 44px;
    padding-left: 10px;

    @include breakpoint(sm) {
      @include font-size(1.8,1.8);
      text-align: center;
      padding-left: 0;
    }
  }
}

.question-active{
  background-color: darken($green-secondary, 8%);
}

.faqBlock-question_toggle{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: white;
  color: $green-secondary;
  font-family: $fontMedium;
  font-size: 24px;
  line-height: 40px;
}

.faqBlock-answer{
  text-align: left;
  padding: 0 10px 15px 10px;
  background-color: white;

  p{
    margin-bottom: 15px;
    @include font-size(1.6,2.6);

    &:last-of-type{
      margin-bottom: 0;
    }
  }

  a{
    color: $green-secondary;
    text-decoration: underline;
  }
}
