.features{
  padding: 150px 0 75px 0;
  text-align: center;
  background-color: white;

  header{
    margin-bottom: 50px;

    h2{
      margin-bottom: 10px;
    }
  }

  h3{
    font-family: $fontMedium;
    @include font-size(2.2);
  }
}
