.mainFooter{
  background-color: $black;
  padding: 55px 0 0 0;

  @include breakpoint(sm) {
    padding: 75px 0 50px 0;
  }
}

.mainFooter-logo{
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;

  img{
    max-width: 100%;
    @include breakpoint(lg) {
      max-width: 80%;
    }
  }
}

.mainFooter-list{

  .col-xs-6{
    margin-bottom: 50px;
  }

  h4{
    color: white;
    font-family: $fontMedium;
    @include font-size(2,2);
    margin-bottom: 15px;
  }

  ul{
    margin-top: 10px;
  }

  li{
    margin-bottom: 6px;

    a{
      color: white;
      font-family: $font;
      @include font-size(1.6,2);
      @include font-smooth;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}


.mainFooter-social{
  text-align: center;
  margin-top: 10px;

  @include breakpoint(sm) {
    margin-top: 0;
  }

  li{
    margin: 0 10px;
    display: inline-block;
  }
}

.facebook,
.twitter,
.gplus{
  color: $black;
  transition: color 0.225s ease;
}

.facebook{
  width: 9px;
  height: 20px;

  &:hover{
    color: #3B5998;
  }
}

.twitter{
  width: 22px;
  height: 20px;

  &:hover{
    color: #059FF5;
  }
}

.gplus{
  width: 25px;
  height: 17px;

  &:hover{
    color: #d34836;
  }
}


.subFooter{
  padding: 40px 0;
  background-color: #fff;
}


.subFooter-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include breakpoint(sm) {
    flex-direction: row;
  }
}

.subFooter-legal{
  margin: 10px 0;

  @include breakpoint(md) {
    margin: 0;
  }

  li{
    display: block;
    color: $black;
    vertical-align: middle;

    @include breakpoint(sm) {
      display: inline-block;
    }

    a{
      color: $black;

      &:hover{
        text-decoration: underline;
      }
    }

    &:first-of-type{
      &:after{
        content: '';

        @include breakpoint(sm) {
          content: '•';
        }
      }
    }
  }
}
