.hero{
  height: 500px;
  position: relative;
  overflow-x: hidden;
  text-align: center;

  .btn{
    margin-left: 0;
  }

  h1,
  h2,
  p{
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  }

  h2{
    margin: 5px 0 10px 0;
  }

  p{
    @include font-size(1.4,2.2);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
}

.hero-whiteBox{
  width: 462px;
  background-color: white;
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin-left: 0;
  margin-top: 50px;

  @include breakpoint(md) {
    margin-left: 50px;
  }

  h1,h2,p{
    color: black;
    text-shadow: none;
  }

  h1{
    @include font-size(4,4.6);
    font-size: 40px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
  }

  h2{
    font-size: 24px;
    text-align: left;
    line-height: 1;
  }

  p{
    text-align: left;
  }
}

.hero-section{
  height: 550px;

  .hero-whiteBox{
    margin-top: 100px;
  }
}


.heroSmall{
  height: 100%;
  padding-bottom: 50px;

  @include breakpoint(sm) {
    height: 300px;
    padding-bottom: 0;
  }

  .hero-whiteBox{
    margin-top: 50px;
  }
}

.heroDomian{

  h1{
    @include font-size(3,3.2);

    @include breakpoint(md) {
      @include font-size(4,4.6);
    }
  }

  .hero-whiteBox{
    width: auto;
    margin-left: 0;

    header{
      width: 80%;
    }

    section{
      margin-top: 25px;
    }

    ul{
      text-align: left;

      li{
        display: inline-block;
        margin-right: 10px;

        &:last-of-type{
          margin-right: 0;
        }

        span{
          font-family: $fontBold;
          color: $orange;
        }
      }
    }

    .input-group{
      position: relative;

      button{
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0;
        margin: 0;
        min-width: auto;
        height: 38px;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}
