.newsletter{
  padding: 50px 0;
  background-color: $color-accent;
  position: relative;
  overflow: hidden;

  header{

    h2,p{
      color: white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
      text-align: center;
    }

    h2{
      font-family: $fontMedium;
    }
  }

  section{
    text-align: center;
    margin-top: 30px;
  }
}


.newsletter-content{

  input{
    width: 100%;
    height: 40px;
    border: 1px solid darken($color-accent, 10%);
    padding-left: 15px;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $border-gray;
      font-style: italic;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $border-gray;
      font-style: italic;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $border-gray;
      font-style: italic;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $border-gray;
      font-style: italic;
    }
  }

  .btn{
    margin-bottom: 0;
  }
}
