.payments{
  text-align: center;
  background-color: white;
  padding: 100px 0 20px 0;
  position: relative;
  z-index: 2;

  &:after{
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    content: "";
    border-top: 0 solid transparent;
    border-bottom: 10vw solid transparent;
    border-left: 100vw solid white;
  }

  @include breakpoint(sm) {
    padding: 100px 0 40px 0;
  }

  h2{
    margin-bottom: 40px;
  }

  ul{
    margin-bottom: 4px;

    li{
      max-width: 30%;
      display: inline-block;
      padding: 8px 5px;

      @include breakpoint(sm) {
        max-width: 15%;
      }

      img{
        vertical-align: middle;
        max-width: 85%;
      }
    }
  }
}
