.pricing{
  text-align: center;
  margin-top: 25px;
  position: relative;
  z-index: 3;

  @include breakpoint(md) {
    margin-top: 50px;
  }

  header{
    margin-bottom: 30px;

    @include breakpoint(sm) {
      margin-bottom: 75px;
    }

    h2{
      margin-bottom: 10px;
    }
  }
}


.pricing-table{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 0 0;

  header{

    @include breakpoint(sm) {
      margin-bottom: 0;
    }
  }

  @include breakpoint(sm) {
    margin: 20px 0 15px 0;
  }
}

.pricing-table_noFeatured{
  margin-top: 0!important;
}


.pricing-item{
  border-radius: 6px;
  flex: 0 100%;
  margin-right: 0;
  margin-bottom: 25px;

  @include breakpoint(sm) {
    flex: 0 32%;
    margin-bottom: 0;
  }

  header{
    padding: 20px 0;
    border-radius: 6px 6px 0 0;
    margin-bottom: 0;

    h4{
      color: white;
      text-transform: uppercase;
      font-family: $fontBold;
      @include font-size(1.8,1.8);
    }
  }

  section{
    padding: 20px 10px 40px 10px;
    border: 1px solid $border-gray;
    border-top: 0 none;
    background-color: white;

    li{
      color: $black;
      margin-bottom: 4px;

      span{
        color: black;
        font-family: $fontMedium;
      }
    }
  }

  footer{
    border-radius: 0 0 6px 6px;
    border: 1px solid $border-gray;
    border-top: 0 none;
    padding: 20px 0 25px;
    background-color: white;

    .pricingSmall{
      @include font-size(1.2,1.2);
      margin-bottom: 15px;
      display: block;
    }
  }

  p{
    @include font-size(3,3);
    font-family: $fontMedium;
    margin-bottom: 24px;
    color: $black;
  }

  .btn{
    padding: 10px 80px;
    margin: 0 auto;
    min-width: 50%;
  }
}


.pricing-table_four{
  .pricing-item{

    @include breakpoint(sm) {
      flex: 0 49%;
      margin-bottom: 25px;
    }

    @include breakpoint(md) {
      flex: 0 24%;
      margin-bottom: 0;
    }
  }
}

.pricing-table_six{
  .pricing-item{

    @include breakpoint(sm) {
      flex: 0 49%;
      margin-bottom: 25px;
    }

    @include breakpoint(md) {
      flex: 0 32%;

      &:nth-last-child(-n+3){
        margin-bottom: 0;
      }
    }
  }
}

.pricing-table-full{
  .pricing-item{
    flex: 0 100%;
  }
}

.allPlans{
  @include font-size(1.4,2);
  text-align: center;
  margin: 20px auto;
}

.pricing-item_featured{
  margin-top: 0;

  @include breakpoint(sm) {
    margin-top: -22px;
  }

  section{
    padding-top: 20px;

    @include breakpoint(sm) {
      padding-top: 42px;
    }
  }
}

/**
* Table colors
*/

$table-1: #B2DB21;
$table-2: #AAD72E;
$table-3: #A0D23B;
$table-4: #97CD48;
$table-5: #8EC955;
$table-6: #85C461;
$table-7: #7CC06F;
$table-8: #73BB7B;
$table-9: #6AB789;
$table-10: #61B396;
$table-11: #58AEA2;
$table-12: #4EA9B1;

.table-1{
  header{
    background-color: $table-1;
  }
  footer{
    .btn{
      background-color: $table-1;

      &:hover{
        background-color: darken($table-1, 10%);
      }
    }
  }
}

.table-2{
  header{
    background-color: $table-2;
  }
  footer{
    .btn{
      background-color: $table-2;

      &:hover{
        background-color: darken($table-2, 10%);
      }
    }
  }
}

.table-3{
  header{
    background-color: $table-3;
  }
  footer{
    .btn{
      background-color: $table-3;

      &:hover{
        background-color: darken($table-3, 10%);
      }
    }
  }
}

.table-4{
  header{
    background-color: $table-4;
  }
  footer{
    .btn{
      background-color: $table-4;

      &:hover{
        background-color: darken($table-4, 10%);
      }
    }
  }
}

.table-5{
  header{
    background-color: $table-5;
  }
  footer{
    .btn{
      background-color: $table-5;

      &:hover{
        background-color: darken($table-5, 10%);
      }
    }
  }
}

.table-6{
  header{
    background-color: $table-6;
  }
  footer{
    .btn{
      background-color: $table-6;

      &:hover{
        background-color: darken($table-6, 10%);
      }
    }
  }
}

.table-7{
  header{
    background-color: $table-7;
  }
  footer{
    .btn{
      background-color: $table-7;

      &:hover{
        background-color: darken($table-7, 10%);
      }
    }
  }
}
.table-8{
  header{
    background-color: $table-8;
  }
  footer{
    .btn{
      background-color: $table-8;

      &:hover{
        background-color: darken($table-8, 10%);
      }
    }
  }
}
.table-9{
  header{
    background-color: $table-9;
  }
  footer{
    .btn{
      background-color: $table-9;

      &:hover{
        background-color: darken($table-9, 10%);
      }
    }
  }
}
.table-10{
  header{
    background-color: $table-10;
  }
  footer{
    .btn{
      background-color: $table-10;

      &:hover{
        background-color: darken($table-10, 10%);
      }
    }
  }
}
.table-11{
  header{
    background-color: $table-11;
  }
  footer{
    .btn{
      background-color: $table-11;

      &:hover{
        background-color: darken($table-11, 10%);
      }
    }
  }
}
.table-12{
  header{
    background-color: $table-12;
  }
  footer{
    .btn{
      background-color: $table-12;

      &:hover{
        background-color: darken($table-12, 10%);
      }
    }
  }
}

.info{
  width: 15px;
  height: 15px;
  color: $orange;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.iva{
  font-size: 12px;
  margin: 0 auto;
}



/**
* Off
*/

.off{
  background-color: $main-color;
  padding: 25px;
  position: relative;
  top: 48px;
  border-radius: 6px;
  display: block;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img{
    margin-right: 10px;
  }

  @include breakpoint(md) {
    flex-direction: row;
  }

  &:hover{
    background-color: darken($main-color, 3%);
    box-shadow: 1px 1px 3px 0 rgba(92,89,89,0.3);
  }

  h3{
    color: white;

    span{
      font-family: $fontMedium;
    }
  }
}
