section.features
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 ¿Por qué necesitás un certificado SSL?
          p Es básico, los clientes confían más en sitios web que funcionan con SSL porque SSL provee más seguridad y confiabilidad.
    .row
      .col-xs-4
        .feature-block
          .plus-icon
            svg(class="icon shield")
              use(xlink:href="#shield")
          h3 Más seguridad
          p Encriptá la navegación entre tus clientes y tu sitio web para que ningún atacante pueda robar datos.
      .col-xs-4
        .feature-block
          .plus-icon
            svg(class="icon informe_seo")
              use(xlink:href="#informe_seo")
          h3 Más confianza
          p Los sitios web que funcionan con HTTPS generan más ventas que aquellos que no funcionan con HTTPS.
      .col-xs-4
        .feature-block
          .plus-icon
            svg(class="icon seo")
              use(xlink:href="#seo")
          h3 Más ranking en buscadores
          p Google mejora el posicionamiento de los sitios web con certificado SSL y empeora el que no lo tiene.
