section.pricing#pricing
  .container
    .row
      .col-md-10.col-md-offset-1
        header
          h2 Certificados SSL
          p Elegí el certificado ssl que más se adapte a tu sitio web
        .row
          .col-xs-12
            .pricing-table
              .pricing-item.table-1
                header
                  h4 SSL Wildcard
                section
                  ul
                    li Hasta #[span 100 subdominios]
                      a(href="#", title="", data-tooltip="Hasta 100 subdominios como https://tienda.tunegocio.com https://web.tunegocio.com disponibles para tu sitio web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Compatibilidad navegadores #[span 100%]
                    li Costo de instalación #[span incluído] 
                footer
                  p Al mes #[span $266]
                  a.btn(href="https://ar.neolo.com/cart.php?gid=2", title="") Comprar 

              .pricing-item.pricing-item_featured.table-6
                header
                  h4 SSL Estándar
                section
                  ul
                    li #[span 1] dominio
                      a(href="#", title="", data-tooltip="https:// para 1 dominio")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Compatibilidad navegadores #[span 100%]
                    li Costo de instalación #[span incluído] 
                      
                footer
                  p Al mes #[span $59]
                  a.btn(href="https://ar.neolo.com/cart.php?gid=2", title="") Comprar

              .pricing-item.table-12
                header
                  h4 SSL Free Let's Encrypt
                section
                  ul
                    li #[span 1] dominio
                      a(href="#", title="", data-tooltip="https:// para 1 dominio")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Compatibilidad navegadores #[span 90%]
                      a(href="#", title="", data-tooltip="Aproximadamente un 10% de los visitantes les dará un error el certificado y tu web aparecerá como insegura.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Costo de instalación #[span $399] 
                      a(href="#0", title="", data-tooltip="Instalar el certificado lleva tiempo y es personalizado, por eso, el certificado es gratuito pero te cobramos por instalarlo y renovarlo.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  p Al mes #[span $0]
                  a.btn(href="https://ar.neolo.com/cart.php?gid=2", title="") Comprar 

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Precios mensuales. Pago mínimo 1 año. Si sos cliente, compralo desde tu panel de cliente.
    
  
