section.faq.skew-border
  .container.faqContainer
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2.topFaqs
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Porque estamos en el mercado desde el 2002. Ya ayudamos a decenas de miles de personas y organizaciones a convertir sus ideas y proyectos en sitios web que funcionan las 24 horas.
              p Creemos en Internet como una necesidad básica, como un derecho humano, es el que permite a las personas expresarse al mundo y crecer personal, económica y espiritualmente, por eso queremos ser parte de tu proyecto y ayudarte a estar online con tu propio nombre en Internet.
              p Tenemos servidores en varios países, clientes en todo Latinoamérica y a diferencia de otras empresas, NEOLO.COM sigue siendo atendido por sus dueños.
              p Fuimos el primer proveedor en Latinoamérica en brindar web hosting ilimitado en 2010.
              p Nuestros principales inversores son nuestros clientes, todos y cada uno, que nos apoyan y nos permiten seguir creciendo junto a ellos. Queremos que tu proyecto también crezca y siempre funcione, por eso, queremos ser tu proveedor de web hosting en Argentina.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué son los planes de Facebook Page?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Facebook es la red social más utilizada en el mundo con más de 1 millón de usuarios activos.
              p Los planes de Facebook Page consisten en la creación y gestión mensual de la página de tu organización.

          .faqBlock
            .faqBlock-question
              h4 ¿Cómo funciona la creación de contenidos?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Tu Facebook Page estará a cargo de un ejecutivo de cuentas que conocerá sobre tu organización y creará contenidos 15 días antes de que comience el mes.
              p Podrás proponer modificaciones sobre los contenidos a publicar.

          .faqBlock
            .faqBlock-question
              h4 ¿Cómo funciona la moderación de comentarios y mensajes?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Es muy importante responder a las preguntas en las Facebook Page. Por eso, la moderación incluye respuestas a interacciones de los usuarios.

          .faqBlock
            .faqBlock-question
              h4 ¿Al crear la Facebook Page, también diseñan la imagen de portada?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si, nos encargamos de crearla totalmente completa.


    .row
      a.btn.btn_orange.btn-more-less(title="Ver todas las preguntas", role="button")
        span.btn-text Ver todas las preguntas
        svg(class="icon angle-right")
          use(xlink:href="#angle-right")
