section.faq.gray-bg
  .container.faqContainer
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2.topFaqs
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Estamos en el mercado desde el 2002. Ya ayudamos a decenas de miles de personas y organizaciones a convertir sus ideas y proyectos en sitios web que funcionan las 24 horas.
              p Creemos en Internet como una necesidad básica, como un derecho humano, es el que permite a las personas expresarse al mundo y crecer personal, económica y espiritualmente, por eso queremos ser parte de tu proyecto y ayudarte a estar online con tu propio nombre en Internet.
              p Tenemos servidores en varios países, clientes en todo Latinoamérica y a diferencia de otras empresas, NEOLO.COM sigue siendo atendido por sus dueños.
              p Fuimos el primer proveedor en Latinoamérica en brindar web hosting ilimitado en 2010.
              p Nuestros principales inversores son nuestros clientes, todos y cada uno, que nos apoyan y nos permiten seguir creciendo junto a ellos. Queremos que tu proyecto también crezca y siempre funcione, por eso, queremos ser tu proveedor de web hosting en Argentina.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué es un VPS?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p VPS significa Servidor Privado Virtual. Consiste en un servidor que utiliza recursos físicos de un servidor dedicado. 
              p Un VPS posee memoria RAM, CPU y espacio en disco asignado de forma independiente.
              p Los VPS son utilizados por organizaciones y negocios que requieren más capacidad y personalización que un hosting compartido.

          .faqBlock
            .faqBlock-question
              h4 ¿Los VPS son administrados?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si. Monitoreamos y administramos todos los servidores VPS.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué panel de control incluye el VPS Hosting?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Te recomendamos por sólo 15 USD al mes, instalar cPanel y WHM. Es el panel de control líder en el mercado, marca blanca.

          .faqBlock
            .faqBlock-question
              h4 Estoy en otro proveedor. ¿Pueden migrar mi VPS?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p En la mayoría de los casos si, podemos hacer una migración gratuita. Consultanos y lo analizamos enseguida.

          .faqBlock
            .faqBlock-question
              h4 ¿Puedo elegir el sistema operativo?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si, podés elegir el sistema operativo de tu VPS Hosting.
                  
          .faqBlock
            .faqBlock-question
              h4 ¿Puedo elegir cómo configurar el firewall, el php.ini y personalizar todos los servicios?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si, exacto, es la principal ventaja del VPS Hosting.
                      
          .faqBlock
            .faqBlock-question
              h4 ¿Puedo cambiar la cantidad de CPU, memoria RAM o espacio en disco asignado?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Los planes VPS son los publicados, no pueden ser modificados.
                          
          .faqBlock
            .faqBlock-question
              h4 ¿Dispongo de acceso root por SSH?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si, todos los servidores VPS disponen de root por SSH.
                                              
              
    .row
      a.btn.btn_orange.btn-more-less(title="Ver todas las preguntas", role="button")
        span.btn-text Ver todas las preguntas
        svg(class="icon angle-right")
          use(xlink:href="#angle-right")
