section.hero.hero-section.heroDesktop.custom-background(data-background='img/vps.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        .hero-whiteBox
          h1 VPS Cloud: Poder y control
          p Con nuestros Servidores Virtuales Privados obtendrás recursos dedicados exclusivos para alojar tus sitios y aplicaciones.
          a.btn.btn_orange(href="vps/#pricingVPS", title="Comparar hosting VPS", role='button')
            span Comparar hosting VPS
            svg(class="icon angle-right")
              use(xlink:href="#angle-right")
