section.map
  .container
    .row
      .col-xs-12
        header
          h2 Soy un mapa canchero
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        section
          .map-img.custom-background(data-background='img/map.jpg', data-background-position='50%')
        
