section.pricing#pricingVPS
  .container
    .row
      .col-md-12
        header
          h2 Más potencia para tu negocio
          p Más capacidad y recursos exclusivos para tu organización.
        .row
          .col-xs-12
            .pricing-table.pricing-table_four.pricing-table_noFeatured
              .pricing-item.table-1
                header
                  h4 VPS 4
                section
                  ul
                    li #[span 180 GB] espacio
                      a(href="#0", title="", data-tooltip="180 GB disponibles de espacio web para el sistema operativo, tus correos y sitios web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 8 GB] ram
                      a(href="#0", title="", data-tooltip="8 GB de RAM dedicados disponibles para el sistema operativo, tus correos y sitios web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $1975]
                  a.btn(href="", title="Comprar VPS 5", role='button') Comprar

              .pricing-item.table-4
                header
                  h4 VPS 3
                section
                  ul
                    li #[span 120 GB] espacio
                      a(href="#0", title="", data-tooltip="120 GB disponibles de espacio web para el sistema operativo, tus correos y sitios web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 4 GB] ram
                      a(href="#0", title="", data-tooltip="4 GB de RAM dedicados disponibles para el sistema operativo, tus correos y sitios web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $1029]
                  a.btn(href="", title="Comprar VPS 5", role='button') Comprar

              .pricing-item.table-8
                header
                  h4 VPS 2
                section
                  ul
                    li #[span 60 GB] espacio
                      a(href="#0", title="", data-tooltip="60 GB disponibles de espacio web para el sistema operativo, tus correos y sitios web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 2 GB] ram
                      a(href="#0", title="", data-tooltip="2 GB de RAM dedicados disponibles para el sistema operativo, tus correos y sitios web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $675]
                  a.btn(href="", title="Comprar VPS 5", role='button') Comprar

              .pricing-item.table-12
                header
                  h4 VPS 1
                section
                  ul
                    li #[span 30 GB] espacio
                      a(href="#0", title="", data-tooltip="30 GB disponibles de espacio web para el sistema operativo, tus correos y sitios web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 1 GB] ram
                      a(href="#0", title="", data-tooltip="1 GB de RAM dedicado disponible para el sistema operativo, tus correos y sitios web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $473]
                  a.btn(href="", title="Comprar VPS 5", role='button') Comprar

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Todos los VPS Hosting incluyen: Dominios ilimitados, 1 IP, acceso SSH root, administración. MySQL y PHP. WHM & cPanel opcional a USD 15/mes. Además los servidores dedicados donde se ejecutan los VPS cuentan con Procesadores Intel Xeon de 4 cores x 2.67GHz CPU burst.

        .row
          .col-md-8.col-md-offset-2
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 10% OFF por pago anual
