section.designs
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        header
          h2 Lográ mayor retorno de tu inversión en pauta publicitaria.
          p Construimos una landing page profesional y eficiente para que generes más clientes para tu negocio.
  .container
    .row
      .col-xs-4
        a.design-block(href="img/landings/landing-1.jpg", title="", target='_blank')  
          img(src="img/landings/thumb-1.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="img/landings/landing-2.jpg", title="", target='_blank')  
          img(src="img/landings/thumb-2.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="img/landings/landing-3.jpg", title="", target='_blank')  
          img(src="img/landings/thumb-3.jpg", alt="")
          .design-block_overlay
            p Ver diseño
    .row
      .col-xs-4
        a.design-block(href="img/landings/landing-4.jpg", title="", target='_blank')   
          img(src="img/landings/thumb-4.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="img/landings/landing-5.jpg", title="", target='_blank')    
          img(src="img/landings/thumb-5.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="img/landings/landing-6.jpg", title="", target='_blank')    
          img(src="img/landings/thumb-6.jpg", alt="")
          .design-block_overlay
            p Ver diseño
    .row
      .col-xs-4
        a.design-block(href="img/landings/landing-7.jpg", title="", target='_blank')    
          img(src="img/landings/thumb-7.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="img/landings/landing-8.jpg", title="", target='_blank')    
          img(src="img/landings/thumb-8.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="img/landings/landing-9.jpg", title="", target='_blank')    
          img(src="img/landings/thumb-9.jpg", alt="")
          .design-block_overlay
            p Ver diseño
            
    .row
      .col-xs-12
        a.btn.btn_orange(href="#pricing", title="") 
          span Empezar ahora
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
