section.faq
  .container
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Estamos en el mercado desde el 2002. Ya ayudamos a decenas de miles de personas y organizaciones a convertir sus ideas y proyectos en sitios web que funcionan las 24 horas.
              p Creemos en Internet como una necesidad básica, como un derecho humano, es el que permite a las personas expresarse al mundo y crecer personal, económica y espiritualmente, por eso queremos ser parte de tu proyecto y ayudarte a estar online con tu propio nombre en Internet.
              p Tenemos servidores en varios países, clientes en todo Latinoamérica y a diferencia de otras empresas, NEOLO.COM sigue siendo atendido por sus dueños.
              p Fuimos el primer proveedor en Latinoamérica en brindar web hosting ilimitado en 2010.
              p Nuestros principales inversores son nuestros clientes, todos y cada uno, que nos apoyan y nos permiten seguir creciendo junto a ellos. Queremos que tu proyecto también crezca y siempre funcione, por eso, queremos ser tu proveedor de web hosting en Argentina.

          .faqBlock
            .faqBlock-question
              h4 ¿Cuál es la ventaja de una landing page?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Con la misma cantidad de visitas que recibís actualmente en tu sitio web, con una landing page lograrás muchas más conversiones.

          .faqBlock
            .faqBlock-question
              h4 ¿Cuál es la diferencia entre Neolo Builder y una Landing Page?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p El Creador Web Neolo Builder es autogestionable y conveniente para sitios web institucionales.
              p La Landing Page es recomendable para lograr conversiones (formularios completados, leads, ventas, suscripciones, etc).

          .faqBlock
            .faqBlock-question
              h4 ¿Quién crea la landing page?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p La crea un especialista en Landing Pages de Neolo.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Qué integraciones tiene la landing page?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Podremos asociarla con Hubspot, Mail Chimp, AWeber, Autopilot, Constant Contact, Campaign Monitor, Salesforce, InfusionSoft, Google Analytics, WordPress, Facebook, Zapier y muchos más.
                                
              
              
              
              
    .row
      a.btn.btn_orange.btn-more-less(title="Ver todas las preguntas", role="button")
        span.btn-text Ver todas las preguntas
        svg(class="icon angle-right")
          use(xlink:href="#angle-right")
