section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/crea-tu-sitio.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        h1 La plataforma de landing pages más poderosa
        p Junto a Instapage, en Neolo creamos una hermosa y potente landing page para que tu negocio convierta en clientes a más cantidad de visitas.
        a.btn.btn_orange(href="#landing", title="Empezar ahora", role='button')
          span Empezar ahora
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
