section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 ¿Qué es una landing page y por qué me conviene?
        p Una landing page es una versión optimizada de tu sitio web que tiene una única misión: lograr más clientes que tu sitio web.
        p Por ejemplo si con tu sitio web logras convertir a clientes al 1% de tus visitantes, con una landing page se consiguen de 2 a 5 veces mejores resultados.
