section.pricing#landing
  .container
    .row
      .col-md-12
        header
          h2 Creamos tu landing page
          p En sólo 7 días hábiles. Con correcciones.
        .row
          .col-sm-8.col-sm-offset-2
            .pricing-table.pricing-table-full.pricing-table_noFeatured
              .pricing-item.table-3
                header
                  h4 Plan Landing Page
                section
                  ul
                    li Landing page #[span desktop & mobile]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Integraciones #[span +20]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Plantillas personalizadas #[span +100]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li A/B Testing #[span 3 variaciones]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")

                footer
                  p A sólo #[span $299] al mes
                  a.btn(href="", title="") Comprar



        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans 

        .row
          .col-md-10.col-md-offset-1
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 Bonificada si invertís +$10.000 en Google AdWords
