section.text-page
  header.text-page_header
    .container
      .row
        .col-xs-12
          h1 Precios bajos en Neolo
  section.text-page_section
    .container
      .row
        .col-xs-12
          article
            p 30 días de web hosting por menos de lo que cuesta 1 Big Mac.
          
          article
            h2 Lo mejor de los dos mundos
            p Tecnología de EEUU y EUR brinda más performance a menor precio: Servidores, licencias, software y aplicaciones.
            p Staff en Latinoamérica que provee máxima performance y calidez.
          article
            h2 Home Office
            p A diferencia de nuestros competidores, en vez de gastar miles de dólares en alquileres y decenas de miles de horas al año en transporte, permitimos a nuestro staff que trabaje desde su hogar o su coworking preferido.
          article
            h2 No somos un museo de empleados
            p Nuestra política de recursos humanos es muy estricta. Las personas que no trabajan con eficiecia, no son parte del equipo. Sólo queremos a los mejores.
          article
            h2 Sitio web es símbolo de independencia
            p Internet es un derecho humano, creemos que tener un dominio, un web hosting y un sitio web es el mayor logro de independencia que podes conseguir en Internet. 
            p Creemos que todos merecen tener la oportunidad de tener su sitio web en Internet con Neolo, y de hacerlo crecer.


                      
            

          
