section.cpanel.screenshot
  .screen-container
    .row
      .col-sm-6
        header
          h2 cPanel bien bien piola
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row
      .col-sm-6
        section
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Cloud Hosting gratuito
              p Todos nuestros usuarios cuentan con servicio de Cloud Hosting sin costo extra
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Cloud Hosting gratuito
              p Todos nuestros usuarios cuentan con servicio de Cloud Hosting sin costo extra
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Cloud Hosting gratuito
              p Todos nuestros usuarios cuentan con servicio de Cloud Hosting sin costo extra
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Cloud Hosting gratuito
              p Todos nuestros usuarios cuentan con servicio de Cloud Hosting sin costo extra
          
      .col-sm-6.edge
        img(src='img/cpanel-half.png', srcset='img/cpanel-half.png 1x, img/cpanel-half@2x.png 2x', alt='cPanel')    
    .row.cpanel-full
      .col-xs-12
        img(src='img/cpanel-full.png', srcset='img/cpanel-full.png 1x, img/cpanel-full@2x.png 2x', alt='cPanel')
