section.cpanel.screenshot
  .screen-container
    .row
      .col-sm-6
        header
          h2 El panel de control #1
          p Gestioná tu sitio web, cuentas de correo y bases de datos desde el panel más simple e intuitivo del mercado.
    .row
      .col-sm-6
        section
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Correo electrónico profesional
              p Creá cuentas de correo, redirecciones, y accedé al webmail desde cualquier parte del mundo.
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Seguridad
              p Limita con contraseñas el acceso a ciertas partes de tu sitio web, cuida tu sitio con HotLink Protection, Leech protection y ModSecurity.
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Dominios
              p Configura subdominios, dominios adicionales, dominios parkeados y administra zonas de DNS.
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Apps 1 Click Install
              p Instala miles de aplicaciones con 1 sólo clic desde el cPanel.
          
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Archivos
              p Edita y realiza copias de seguridad de tus archivos.
              
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                    use(xlink:href="#cloud")
            .plus-content
              h6 Bases de datos MySQL
              p Crea y gestiona bases de datos MySQL desde PHPmyAdmin.
                  
      .col-sm-6.edge
        img(src='img/cpanel-half.png', srcset='img/cpanel-half.png 1x, img/cpanel-half@2x.png 2x', alt='cPanel')    
    .row.cpanel-full
      .col-xs-12
        img(src='img/cpanel-full.png', srcset='img/cpanel-full.png 1x, img/cpanel-full@2x.png 2x', alt='cPanel')
