section.faq.skew-border
  .container
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Porque estamos en el mercado desde el 2002. Ya ayudamos a decenas de miles de personas y organizaciones a convertir sus ideas y proyectos en sitios web que funcionan las 24 horas.
              p Creemos en Internet como una necesidad básica, como un derecho humano, es el que permite a las personas expresarse al mundo y crecer personal, económica y espiritualmente, por eso queremos ser parte de tu proyecto y ayudarte a estar online con tu propio nombre en Internet.
              p Tenemos servidores en varios países, clientes en todo Latinoamérica y a diferencia de otras empresas, NEOLO.COM sigue siendo atendido por sus dueños.
              p Fuimos el primer proveedor en Latinoamérica en brindar web hosting ilimitado en 2010.
              p Nuestros principales inversores son nuestros clientes, todos y cada uno, que nos apoyan y nos permiten seguir creciendo junto a ellos. Queremos que tu proyecto también crezca y siempre funcione, por eso, queremos ser tu proveedor de web hosting en Argentina.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué es un dominio?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p El dominio es el nombre por el que llamamos a los sitios web, por ejemplo NEOLO.COM FACEBOOK.COM GOOGLE.COM son nombres de dominio.

          .faqBlock
            .faqBlock-question
              h4 ¿Registran dominios?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si. Registramos muchísimas extensiones de dominio, algunas son .COM .NET .ORG .INFO .BIZ .CO .WS .ONLINE .CLUB .GURU .LA .LAT .TODAY .MOBI .REVIEWS .US .ES entre muchas otras.
              p También aceptamos las de países específicos: .AR .CL .UY .BO .PY .BR .MX .EC .NI .CA .UK .RU entre otras. Pero esas deberás registrarlas por tu propia cuenta en el NIC de cada país y comprar el web hosting con nosotros. Si necesitás ayuda, nos avisás y te damos una mano.

            .faqBlock
              .faqBlock-question
                h4 ¿Qué es el web hosting?
                span.faqBlock-question_toggle +

              .faqBlock-answer
                p El web hosting o alojamiento de sitios web es un servicio que consiste en mantener tu sitio web funcionandonando en Internet las 24 horas en nuestros servidores. Cada vez que alguien ingresa a un sitio web, está en realidad accediendo a los servidores de un proveedor de web hosting. Además de sitios web, brindamos web hosting para que puedas tener todas las cuentas de email que desees con tu propio dominio.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué plan de web hosting necesito?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Depende. Lo primero que tenés que saber es si vas a utilizar bases de datos, que son las encargadas de que en tu sitio web puedas hacer funcionar aplicaciones como WordPress, Drupal, Joomla, Magento, foros, blogs, carritos de compra, etc, en ese caso, te aconsejamos el Plan 1 o el Plan Ilimitado. En cambio, si tu sitio web estará desarrollado sólo en HTML, CSS, AJAX y no utilizará bases de datos, el Plan 0 será perfecto. La otra decisión que tendrás que tomar es si vas a alojar 1 dominio (nombre .COM .NET .ORG .COM.AR etc) o varios. Si necesitás varios, entonces tenés que elegir el Plan Ilimitado, si será sólo 1 dominio entonces te sugerimos el Plan 1.

          .faqBlock
            .faqBlock-question
              h4 ¿Puedo elegir un plan de web hosting y luego cambiarlo por otro?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si, claro, cuando quieras podés cambiar. Sin embargo te sugerimos que elijas inicialmente el Plan Ilimitado o el Plan 1, que son los más vendidos.

          .faqBlock
            .faqBlock-question
              h4 ¿Tendré instalador de aplicaciones en 1 clic?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si. En tu web hosting Plan Ilimitado o Plan 1 tendrás a Softaculous que es el mejor del mercado: Elegís entre las +200 aplicaciones la que quieras instalar, hacés clic en instalar, le decís en qué directorio lo querés y listo, magia :)

          .faqBlock
            .faqBlock-question
              h4 ¿Hacen diseño web?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Te recomendamos contratar el Plan Ilimitado que tiene Neolo Builder, un creador de sitios web súper simple y profesional. Si tu proyecto es mucho más grande contactanos para ver cómo podemos ayudarte.

          .faqBlock
            .faqBlock-question
              h4 ¿Tendré plantillas prediseñadas?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p El plan ilimitado incluye varias plantillas ilimitadas. Google también es una buena fuente de resultados.

          .faqBlock
            .faqBlock-question
              h4 ¿Cómo compro mi plan de hosting?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Es súper fácil. Elegís un plan, completás tus datos y los de tu sitio web, realizás el pago y una vez acreditado te enviamos un email con todos los datos del alta para que puedas subir tu sitio web y configurar tus cuentas de email. Además tendrás acceso a tutoriales, videos y ayudas varias. Y también a nuestros técnicos por cualquier duda que tengas.

          .faqBlock
            .faqBlock-question
              h4 Migración: Estoy en otro proveedor y quiero cambiar a Neolo ¿Me ayudan?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si. Luego de comprar tu web hosting, te solicitaremos un full backup (copia completa) de tu cuenta de cPanel o Plask en tu proveedor anterior para poder migrarla. Si en tu proveedor anterior utilizabas otro panel de control, comentanos y analizamos si podemos migrarla nosotros, sino te explicamos cómo se hace, no suele ser complejo. En caso que necesites transferir tu dominio hacia Neolo, también podrás hacerlo al comprar tu plan de web hosting o tu transferencia de dominio.

          .faqBlock
            .faqBlock-question
              h4 Ya pagué. ¿Cuánto tardan en darme de alta?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Los pagos realizados por Pago Fácil y Pago Mis Cuentas demoran entre 24 y 72 horas hábiles. Los pagos por medios electrónicos como tarjetas de crédito, débito y transferencias bancarias suelen demorar menos de 24 horas.

          .faqBlock
            .faqBlock-question
              h4 DNS: ¿Qué son? ¿Cuáles son? ¿Son marca blanca?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Los DNS son nombres de servidores que se encargan de conectar a las personas que ingresan a tu dominio con los servidores de NEOLO.COM y el contenido alojado en tu cuenta de web hosting. Nuestros DNS son: ns1.lineadns.com y ns2.lineadns.com. Son completamente marca blanca, por eso si tu cuenta es de revendedor, VPS o de Servidores Dedicados, podrás también utilizarlos.

          .faqBlock
            .faqBlock-question
              h4 ¿Hay límite para la cantidad de correos a enviar?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Todos queremos que los correos lleguen a la bandeja de entrada, por eso, el spam está prohibido. Podés enviar hasta 300 correos por hora, es un límite más que razonable y superior al resto de los proveedores. Con respecto a la cantidad de cuentas de correo que podés crear, son ilimitadas y accedés a ellas a través de tu programa de correo favorito, dispositivo móvil, o webmail.

          .faqBlock
            .faqBlock-question
              h4 ¿Hacen backups?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Hacemos 1 full backup de todas las cuentas de hosting de hasta 2GB completa por semana y lo movemos a otro datacenter. Sin embargo, aconsejamos que vos también realices y descargues tus backups desde tu panel de control. 

          .faqBlock
            .faqBlock-question
              h4 ¿Tendré SSH?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Proveer web hosting en un hosting compartido es inseguro y es una práctica poco aconsejable para los proveedores de web hosting, por eso no brindamos SSH en el hosting compartido, sin embargo, si contratás un VPS o Servidor Dedicado, podremos brindarte SSH Root.

          .faqBlock
            .faqBlock-question
              h4 ¿Aceptan hosting para juegos online?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p No para los hosting compartidos. Pero si es una app de Facebook deberás contratar un VPS. Si es un servidor de juegos entonces no, no ofrecemos.

    .row
      a.btn.btn_orange(href="", title="")
        span Ver todas las preguntas
        svg(class="icon chevron-right")
          use(xlink:href="#chevron-right")
