section.cpanel.screenshot
  .screen-container
    .row
      .col-sm-6
        header
          h2 Los mails son bastante piolas también
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
