section.pricing#pricing
  .container
    .row
      .col-md-10.col-md-offset-1
        header
          h2 Tu hosting, a medida
          p Dentro de estos planes de hosting está el tuyo, con el servicio que deseás y al precio que buscás
        .row
          .col-xs-12
            .pricing-table
              .pricing-item.table-1
                header
                  h4 Plan ilimitado
                section
                  ul
                    li #[span ilimitados] dominios
                      a(href="#0", title="", data-tooltip="Crea ilimitados sitios web con ilimitados dominios (se compran adicionalmente).")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span ilimitado] espacio
                      a(href="#0", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span ilimitadas] bases MySQL
                      a(href="#0", title="", data-tooltip="Crea todas las bases de datos MySQL que quieras, sin costo adicional")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  p Desde #[span $57]
                  a.btn(href="https://ar.neolo.com/cart.php?a=add&pid=4&carttpl=cart", title="") Comprar

              .pricing-item.pricing-item_featured.table-6
                header
                  h4 Plan 1
                section
                  ul
                    li #[span 1] dominio
                      a(href="#0", title="", data-tooltip="Tu sitio web tendrá disponible 1 dominio, que se compra adicionalmente")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span ilimitado] espacio
                      a(href="#0", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span ilimitadas] bases MySQL
                      a(href="#0", title="", data-tooltip="Crea todas las bases de datos MySQL que quieras, sin costo adicional")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  p Desde #[span $39]
                  a.btn(href="https://ar.neolo.com/cart.php?a=add&pid=3&carttpl=cart", title="") Comprar

              .pricing-item.table-12
                header
                  h4 Plan 0
                section
                  ul
                    li #[span 1] dominio
                      a(href="#0", title="", data-tooltip="Tu sitio web tendrá disponible 1 dominio, que se compra adicionalmente")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span ilimitado] espacio
                      a(href="#0", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span sin] bases MySQL
                      a(href="#0", title="", data-tooltip="Este plan no dispone de bases de datos, es solo para sitios web institucionales estáticos o cuentas de correo sin sitio web")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  p Desde #[span $31]
                  a.btn(href="https://ar.neolo.com/cart.php?a=add&pid=2&carttpl=cart", title="") Comprar

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%. 
        .row
          .col-xs-12
            p.allPlans Todos los planes de hosting incluyen cPanel, espacio web ilimitado, transferencia ilimitada, cuentas de correo ilimitadas, subdominios ilimitados, migraciones gratis, compatibilidad con Google Apps, Office 365 y soporte técnico ilimitado. 
        .row
          .col-xs-12
            a.btn.btn_orange(href="", title="")
              span Ver tabla comparativa de hosting
              svg(class="icon angle-right")
                use(xlink:href="#angle-right")
        .row
          .col-xs-12
            a.off(title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 50% OFF el primer año con el código #[span "NUEVACUENTA"]
