.heroMobile{
  display: block;
  overflow: hidden;
  background-color: white;
  text-align: left;

  @include breakpoint(sm) {
    display: none;
  }

  .container{
    padding: 18px 0;
  }

  h1{
    margin-bottom: 15px;
  }

  h2{
    @include font-size(2,2.4);
    margin-bottom: 23px;
  }

  .btn{
    margin-bottom: 4px;
  }

  .slick-dots{
    bottom: -10px;
  }
  .slick-dots li button:before{
    font-size: 38px;
  }

  .slick-dots li.slick-active button:before{
    color: $main-color;
  }
}

.heroMobile-slide_img{
  height: 140px;

  @include breakpoint(xs) {
    height: 300px;
  }
}
