section.features
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 ¿Por qué elegir Neolo?
          p En Neolo proveemos las herramientas para que puedas darle un nombre en Internet a tus ideas, crear una hermosa presencia online, atraer clientes y hacer crecer tu marca.
    .row
      .col-md-4
        .feature-block
          img(src="img/mundos.svg", alt="Lo mejor de dos mundos")
          h3 Lo mejor de los dos mundos
          p Servidores en USA y Europa, soporte en Latam.
      .col-md-4
        .feature-block
          img(src="img/experiencia.svg", alt="+14 años de experiencia")
          h3 +14 años de experiencia
          p Casi dos décadas de experiencia ininterrumpida.
      .col-md-4
        .feature-block
          img(src="img/webs.svg", alt="+80.000 webs alojadas")
          h3 +80.000 webs alojadas
          p Ayudamos a nacer y desarrollar a proyectos de más de +50 países.

    .row
      .col-xs-12
        a.btn.btn_orange(href="/motivos/", title="Conocé más motivos")
          span Conocé más motivos
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
