section.features
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 ¿Por qué elegir Neolo?
          p En Neolo proveemos las herramientas para que puedas darle un nombre en Internet a tus ideas, crear una hermosa presencia online, atraer clientes y hacer crecer tu marca.
    .row
      .col-xs-4
        h3 Lo mejor de los dos mundos
        p Servidores en USA y Europa Soporte en Latam
      .col-xs-4
        h3 +14 años de experiencia
        p Casi dos décadas de experiencia ininterrumpida.
      .col-xs-4
        h3 +80.000 webs alojadas
        p Hemos ayudado a nacer y crecer a proyectos online de todo el mundo.

    .row
      .col-xs-12
        a.btn.btn_orange(href="", title="")
          span Conocé más motivos
          svg(class="icon chevron-right")
            use(xlink:href="#chevron-right")
