section.features
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 ¿Por qué elegir Neolo?
          p En Neolo proveemos las herramientas para que puedas darle un nombre en Internet a tus ideas, crear una hermosa presencia online, atraer clientes y hacer crecer tu marca.
    .row
      .col-xs-4
        h3 Lo mejor de los dos mundos
        p Servidores en USA y Europa, soporte en Latam.
      .col-xs-4
        h3 +14 años de experiencia
        p Casi dos décadas de experiencia ininterrumpida.
      .col-xs-4
        h3 +80.000 webs alojadas
        p Ayudamos a nacer y crecer a proyectos online de +50 países.

    .row
      .col-xs-12
        a.btn.btn_orange(href="/motivos.html", title="Conocé más motivos")
          span Conocé más motivos
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
