section.hero-home.heroMobile
  .heroMobile-slider
    .heroMobile-slide
      .heroMobile-slide_img.heroMobile-slide_img-1.custom-background(data-background='img/home-1.jpg', data-background-position='50% 30%')
      .container
        .row
          .col-xs-12
            h1 Hosting Ilimitado Cloud
            h2 Fácil y rápido. Así podés enfocarte en tu negocio.
            p Hostea tus cuentas de email y sitio web en una de las redes de Cloud Hosting más potentes del mundo.
            a.btn.btn_orange(href="", title="Comparar planes de hosting", role='button')
              span Comparar planes de Hosting
              svg(class="icon chevron-right")
                use(xlink:href="#chevron-right")
    .heroMobile-slide
      .heroMobile-slide_img.heroMobile-slide_img-2.custom-background(data-background='img/home-2.jpg', data-background-position='50% 77%')
      .container
        .row
          .col-xs-12
            h1 Marketing Digital
            h2 Fácil y rápido. Así podés enfocarte en tu negocio.
            p Hostea tus cuentas de email y sitio web en una de las redes de Cloud Hosting más potentes del mundo.
            a.btn.btn_orange(href="/web-hosting.html", title="Comparar planes de hosting", role='button')
              span Comparar planes de Hosting
              svg(class="icon chevron-right")
                use(xlink:href="#chevron-right")
