section.hero.hero-home.heroDesktop
  .hero-slider
    .hero-slide.custom-background(data-background='img/home-1.jpg', data-background-position="50% 30%")
      .container
        .row
          .col-xs-12
            .hero-whiteBox
              h1 Puto el que lee
              h2 Fácil y rápido. Así podés enfocarte en tu negocio.
              p Hostea tus cuentas de email y sitio web en una de las redes de Cloud Hosting más potentes del mundo.
              a.btn.btn_orange(href="/web-hosting.html", title="Comparar planes de Hosting", role='button')
                span Comparar planes de Hosting
                svg(class="icon angle-right")
                  use(xlink:href="#angle-right")

    .hero-slide.custom-background(data-background='img/home-2.jpg', data-background-position="50% 85%")
      .container
        .row
          .col-xs-12
            .hero-whiteBox
              h1 Marketing Digital
              h2 Fácil y rápido. Así podés enfocarte en tu negocio.
              p Hostea tus cuentas de email y sitio web en una de las redes de Cloud Hosting más potentes del mundo.
              a.btn.btn_orange(href="/web-hosting.html", title="Comparar planes de Hosting", role='button')
                span Comparar planes de Hosting
                svg(class="icon angle-right")
                  use(xlink:href="#angle-right")

.heroBlocks
  .container
    .row
      .col-md-8.col-md-offset-2
        .row
          .col-xs-6.heroBlock.is-active(slide="0")
            .heroBlock-disabled
            img(src="img/icon-presencia.svg", alt="")
            h4 Presencia
            ul
              li Registro y transferencia de dominios
              li Web Hosting / Revendedores / VPS / Dedicados / Colocation
              li Crea tu web / Creamos tu web
          .col-xs-6.heroBlock(slide="1")
            .heroBlock-disabled
            img(src="img/icon-marketing.svg", alt="")
            h4 Marketing Digital
            ul
              li Google Adwords, Facebook Ads
              li Consultoría SEO
              li Email marketing / Drip email marketing
              li Robot de chat
