section.home-blocks
  .home-block
    .home-block_img
      figure.custom-background(data-background='img/privacidad.jpg', data-background-position='center')
    .home-block_content
      h6 Un nombre para tu idea
      h5 Todo empieza con un dominio
      p Lo primero que necesitás para estar en Internet es un nombre de dominio con extensión .COM o .COM.AR. También podés elegir entre otras extensiones. Te recomendamos agregarle la ID Protect para que tus datos estén seguros :)
      a.btn.btn_orange(href="registrar-dominio.html", title="") Registrar o transferir dominio
section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 Hosting para tu sitio web
        p El Web Hosting consiste en el espacio en servidores de Internet de Neolo para que tu sitio web y tus cuentas de correo profesionales funcionen las 24 horas. Elegí entre los mejores planes del mundo.
        a.btn.btn_orange(href="web-hosting.html", title="") Comparar planes de hosting
section.home-blocks
  .home-block.home-block_right
    .home-block_img
      figure.custom-background(data-background='img/vps.jpg', data-background-position='center')
    .home-block_content
      h6 Llegó el momento de crecer
      h5 Marketing digital para despegar
      p Ya tenés un dominio, hosting y sitio web, ahora es fundamental hacer conocer tu negocio y aumentar tus ventas. Conversá con nuestros expertos en marketing digital para crear un plan personalizado para tu negocio.
      a.btn.btn_orange(href="hablar-con-un-experto.html", title="") Hablar con un experto en marketing digital
