section.partners
  .container
    .row
      .col-xs-12
        .partners-list
          div: img(src='img/partners/forbes.png', srcset='img/partners/forbes.png 1x, img/partners/forbes@2x.png 2x', alt='Forbes logo')
          div: img(src='img/partners/websitemag.png', srcset='img/partners/websitemag.png 1x, img/partners/websitemag@2x.png 2x', alt='Website Magazine logo')
          div: img(src='img/partners/tsclogo.png', srcset='img/partners/tsclogo.png 1x, img/partners/tsclogo@2x.png 2x', alt='Top Seo Company logo')
          div: img(src='img/partners/10-best-seo-logo.png', srcset='img/partners/10-best-seo-logo.png 1x, img/partners/10-best-seo-logo@2x.png 2x', alt='10 best seo logo')
