section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/email-marketing.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        h1 Chat Robot
        p La herramienta más eficiente de marketing automation para hacer crecer tu negocio a través del email. Probala gratis y descubrí todo lo que el Drip Email Marketing puede hacer por vos.
        a.btn.btn_orange(href="", title="")
          span Ver hosting Wordpress administrado
          svg(class="icon chevron-right")
            use(xlink:href="#chevron-right")
