section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/chat-robot.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        h1 Chat Robot
        p Instalá en tu sitio web un robot que recibe las consultas de tus visitantes y te las envía por email. Es hasta 10 veces más eficiente que un formulario de contacto.
        a.btn.btn_orange(href="#pricing", title="")
          span Ver hosting Wordpress administrado
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
