section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 Instalación personalizada
        p Nuestros técnicos instalan el robot de chat en tu sitio web de forma simple, rápida y transparente en menos de 15 minutos.
        a.btn.btn_orange(href="#pricing", title="") Comparar planes de robot de chat
section.home-blocks
  .home-block.home-block_right
    .home-block_img
      figure.custom-background(data-background='img/it-girl-2.jpg', data-background-position='center')
    .home-block_content
      h6 más eficiente que un formulario web
      h5 Convierte visitantes en clientes las 24 horas
      p El robot chatea automáticamente con los visitantes de tu sitio web, les pregunta en qué los puede ayudar y les solicita datos de contacto, luego, te envía los detalles por email.
      a.btn.btn_orange(href="#pricing", title="") Comparar planes de robot de chat
