section.pricing
  .container
    .row
      .col-md-12
        header
          h2 Planes de Chat Robot
          p Empezá por un plan pequeño y hacelo crecer a medida que crezca tu negocio.
        .row
          .col-xs-12
            .pricing-table.pricing-table_four.pricing-table_noFeatured
              .pricing-item.table-1
                header
                  h4 Chat Robot 4
                section
                  ul
                    li ilimitadas visitas web
                    
                    li 1000 contactos
                      
                footer
                  span.pricingSmall Pago mensual
                  p #[span $2290]
                  a.btn(href="", title="Comprar Chat Robot 4", role='button') Comprar

              .pricing-item.table-4
                header
                  h4 Chat Robot 3
                section
                  ul
                    li ilimitadas visitas web
                      
                    li 400 contactos
                      
                footer
                  span.pricingSmall Pago mensual
                  p #[span $1190]
                  a.btn(href="", title="Comprar Chat Robot 3", role='button') Comprar

              .pricing-item.table-8
                header
                  h4 Chat robot 2
                section
                  ul
                    li ilimitadas visitas web
                      
                    li 100 contactos
                      
                    
                footer
                  span.pricingSmall Pago mensual
                  p #[span $450]
                  a.btn(href="", title="Comprar Chat Robot 2", role='button') Comprar

              .pricing-item.table-12
                header
                  h4 Chat Robot 1
                section
                  ul
                    li ilimitadas visitas web
                      
                    li 10 contactos
                      
                footer
                  span.pricingSmall Pago mensual
                  p #[span $0]
                  a.btn(href="", title="Comprar Chat Robot 1", role='button') Comprar

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Todos los planes de chat robot incluyen instalación personalizada y funcionamiento las 24hs.

        .row
          .col-md-8.col-md-offset-2
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 30% OFF por pago anual
