section.hero.hero-section.heroDomian.custom-background(data-background='img/email-marketing.jpg', data-background-position='50% 33%')
  .container
    .row
      .col-md-10
        .hero-whiteBox
          header
            h1 Un buen dominio, el primer gran paso
            h2 Lo difícil, elegir el nombre. Lo fácil, registrarlo. Tu nueva identidad en Internet, a solo 3 clics de distancia
          section
            form(method="", action="")
              .input-group
                input(type="text", placeholder='' required)
                button.btn.btn_orange(type='submit') Buscar
            ul
              li #[span .com] $11.99
              li #[span .net] $11.99
              li #[span .info] $2.49
              li #[span .online] $4.99
