section.hero.hero-section.heroDomian.custom-background(data-background='img/hero-domain.jpg', data-background-position='50% 33%')
  .container
    .row
      .col-md-10
        .hero-whiteBox
          header
            h1 Elegí un nombre para tu idea:
          section
            form(method="post", action="https://ar.neolo.com/domainchecker.php")
              input(type="hidden", name='direct' value='true')
              .input-group
                input(type="text", name='domain' placeholder='' required)
                button.btn.btn_orange(type='submit') Buscar
            ul
              li #[span .com] $145
              li #[span .net] $145
              li #[span .info] $250
              li #[span .mineolo.com] $0
