section.hero.hero-section.heroDomian.custom-background(data-background='img/hero-domain.jpg', data-background-position='50% 33%')
  .container
    .row
      .col-md-10
        .hero-whiteBox
          header
            h1 Elegí un nombre para tu idea:
          section
            form(method="POST" action="https://www.neolo.com/argentian/formulario.php")
              .input-group
                input(type="text", placeholder='' required)
                button.btn.btn_orange(type='submit') Buscar
            ul
              li #[span .com] $145
              li #[span .net] $145
              li #[span .info] $250
              li #[span .mineolo.com] $0
