section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 Acá va un título
        p Registrar un nombre de dominio nunca fue tan fácil. Simplemente elegís la dirección, realizas el pago y en pocos minutos ya estará disponible. Será fundamental que también contrates un plan de hosting en caso que no tengas uno funcionando. Los dominios siempre están a nombre de nuestros clientes.
section.home-blocks
  .home-block.home-block_right
    .home-block_img
      figure.custom-background(data-background='img/img.jpg', data-background-position='center')
    .home-block_content
      h6 más eficiente que un formulario web
      h5 Convierte visitantes en clientes las 24 horas
      p El robot chatea automáticamente con los visitantes de tu sitio web, les pregunta en qué los puede ayudar y les solicita datos de contacto, luego, te envía los detalles por email.
      a.btn.btn_orange(href="", title="") Comparar planes de robot de chat
