section.designs
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        header
          h2 Diseños compatibles con móviles y buscadores
          p Rápido y fácil. No te preocupes por nada, nosotros nos encargamos :)
  .container
    .row
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
    .row
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
    .row
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
      .col-xs-4
        a.design-block(href="", title="")  
          img(src="img/design-img.jpg", alt="")
          .design-block_overlay
            p Ver diseño
            
    .row
      .col-xs-12
        a.btn.btn_orange(href="", title="") 
          span Empezar ahora
          svg(class="icon chevron-right")
            use(xlink:href="#chevron-right")
