section.faq
  .container.faqContainer
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2.topFaqs
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Estamos en el mercado desde el 2002. Ya ayudamos a decenas de miles de personas y organizaciones a convertir sus ideas y proyectos en sitios web que funcionan las 24 horas.
              p Creemos en Internet como una necesidad básica, como un derecho humano, es el que permite a las personas expresarse al mundo y crecer personal, económica y espiritualmente, por eso queremos ser parte de tu proyecto y ayudarte a estar online con tu propio nombre en Internet.
              p Tenemos servidores en varios países, clientes en todo Latinoamérica y a diferencia de otras empresas, NEOLO.COM sigue siendo atendido por sus dueños.
              p Fuimos el primer proveedor en Latinoamérica en brindar web hosting ilimitado en 2010.
              p Nuestros principales inversores son nuestros clientes, todos y cada uno, que nos apoyan y nos permiten seguir creciendo junto a ellos. Queremos que tu proyecto también crezca y siempre funcione, por eso, queremos ser tu proveedor de web hosting en Argentina.

          .faqBlock
            .faqBlock-question
              h4 ¿En qué consiste el servicio ?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p En vez de ocupar tu tiempo en crear un sitio web, nuestro equipo de diseñadores web podrá crearte un sitio web gracias a nuestra herramienta de Neolo Builder.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué necesitan para crear el sitio web?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Realiza el pago y te contactaremos por teléfono o email. Para empezar a crear el sitio web necesitamos toda la información que quieras publicar, nos la podés enviar por email en un .ZIP o .RAR.

          .faqBlock
            .faqBlock-question
              h4 Si quiero hacer retoques ¿se puede?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Si, hasta 3 retoques una vez finalizado el trabajo podremos hacer. Luego podrás hacer por tu cuenta todos los que desees, si así quisieras.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué tipos de sitios web pueden realizar?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Podemos realizar sitios web de las siguientes categorías: Arte, gastronomía, educación, páginas en construcción, energía, entretenimiento, bootstrap, eventos, hoteles, medios, negocios, páginas personales, salud, servicios, social, tecnología, transporte, viajes, corporativas, institucionales y muchas más.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Cuál es la diferencia entre crear mi sitio web o que lo creen ustedes?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p La principal diferencia es que nuestro equipo es especialista en creación de sitios web.
                  
          .faqBlock
            .faqBlock-question
              h4 ¿Cuáles son los límites para el tamaño del sitio web?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p El sitio web puede contener hasta 10 páginas internas.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Qué ocurre si dejo de pagar el servicio?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Tu sitio web se suspenderá.
                  
          .faqBlock
            .faqBlock-question
              h4 ¿Qué sitios web no pueden ser creados con este servicio?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Tiendas de ecommerce, sitios de descarga de música, video o fotos. Blogs a medida, marketplaces, buscadores y reservadores de productos o servicios. Sitios web con contenido para adultos.
              
              
    .row
      a.btn.btn_orange.btn-more-less(title="Ver todas las preguntas", role="button")
        span.btn-text Ver todas las preguntas
        svg(class="icon angle-right")
          use(xlink:href="#angle-right")
