section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 ¿Qué es y por qué me conviene?
        p Crear tu sitio web nunca fue tan fácil gracias a Neolo Builder y el equipo de diseño de Neolo. Nos envias la información, fotos y logo, elegimos un diseño y publicamos el sitio web. Todo en menos de 7 días. También podrás elegir un nombre de dominio o redireccionrar el que ya tengas.
