section.pricing
  .container
    .row
      .col-md-12
        header
          h2 Crea tu sitio web con cuentas de correo ilimitadas
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
        .row
          .col-sm-8.col-sm-offset-2
            .pricing-table.pricing-table-full.pricing-table_noFeatured
              .pricing-item.table-3
                header
                  h4 Plan Ilimitado
                section
                  ul
                    li Creador Web #[span incluido]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Dominios #[span ilimitados] (no incluidos)
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li HTTPS compartido #[span gratis] 
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Espacio #[span ilimitado]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Transferencia #[span ilimitada]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Cuentos de correo #[span ilimitadas]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Bases MySQL #[span ilimitadas]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Subdominios #[span ilimitadas]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li PHP, cPanel
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")        
                    li #[span +200] Apps autoinstalables
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Compatible con #[span Google Apps]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Compatible con #[span Office 360]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")

                footer
                  p Desde #[span $57] al mes
                  a.btn(href="", title="") Comprar



        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans All plans include Unmetered Bandwidth, Unmetered Disk Space, FREE Migrations, Disaster Recovery Backups, and 24x7 Support.

        .row
          .col-md-10.col-md-offset-1
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 50% OFF el primer año con el código #[span "NUEVACUENTA"]
