section.pricing#crear
  .container
    .row
      .col-md-12
        header
          h2 Creamos tu sitio web con cuentas de correo ilimitadas
          p Un equipo de diseño trabajando para vos.
        .row
          .col-sm-8.col-sm-offset-2
            .pricing-table.pricing-table-full.pricing-table_noFeatured
              .pricing-item.table-3
                header
                  h4 Plan Ilimitado
                section
                  ul
                    li Creador Web #[span incluido]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Creación asistida #[span incluida]
                     a(href="#", title="", data-tooltip=".")
                       svg(class="icon info")
                          use(xlink:href="#info")                            
                    li Dominios #[span ilimitados] (no incluidos)
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Espacio #[span ilimitado]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Bases MySQL #[span ilimitadas]
                      a(href="#", title="", data-tooltip=".")
                        svg(class="icon info")
                          use(xlink:href="#info")

                footer
                  p Desde #[span $299] al mes
                  a.btn(href="", title="") Comprar



        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans El plan de hosting ilimitado incluye cPanel, espacio web ilimitado, transferencia ilimitada, cuentas de correo ilimitadas, subdominios ilimitados, migraciones gratis, compatibilidad con Google Apps, Office 365 y soporte técnico ilimitado.

        .row
          .col-md-10.col-md-offset-1
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 50% OFF el primer año con el código #[span "NUEVACUENTA"]
