section.smartphone.skew-border
  .container
    .row
      .col-sm-6
        .smartphone-text
          h3 Crealo desde tu smartphone.
          p Es tan simple de usar, que hasta podés crear el sitio web desde tu smartphone.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.
          a.btn.btn_orange(href="", title="") 
            span Empezar ahora
            svg(class="icon chevron-right")
              use(xlink:href="#chevron-right")
      .col-sm-6
        .smartphone-img
          img(src="img/smartphone.png", alt="")
