section.home-blockCenter#googleTest
  .container
    .row
      .col-xs-12
        .optimization-test
          h2 ¿Qué es Google Test My Site y por qué me conviene optimizarlo?
          p Google Test My Site es una herramienta de Google que analiza tu sitio web según la amigabilidad y la velocidad desde dispositivos móviles, y la velocidad desde computadoras de escritorio y laptops. Mejorar el puntaje que Google le asigna a tu sitio web se traslada en mejores experiencias para tus visitantes, más ventas y una percepción de mayor profesionalidad para Google.
          p Analizá ahora tu sitio web, ¡podemos elevar tu puntaje!
          form.optimization-form(method="POST" action="https://www.neolo.com/argentina/formulario.php")
            .input-group
              input(type="text", name='urlspeed' placeholder='' required)
              button.btn.btn_google-blue.submit(type='submit') Analizar
