section.pricing#pricing
  .container
    .row
      .col-md-12
        header
          h2 Mejoramos el puntaje de tu sitio web
          p Una vez que obtengas los puntajes que te ha asignado Google, contrata a nuestro equipo de expertos en programación web y experiencia al usuario (UX) para que lo optimicen.
        .row
          .col-sm-8.col-sm-offset-2
            .pricing-table.pricing-table-full.pricing-table_noFeatured
              .pricing-item.table-3
                header
                  h4 Optimización Google Test My Site
                section
                  ul
                    li Optiización para dispositivos móviles
                      a(href="#", title="", data-tooltip="Mejoramos el puntaje de la navegación desde dispositivos móviles.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Velocidad en dispositivos móviles 
                      a(href="#", title="", data-tooltip="Mejoramos la velocidad desde dispositivos móviles.")
                        svg(class="icon info")
                            use(xlink:href="#info")                            
                    li Velocidad en computadoras de escritorio
                      a(href="#", title="", data-tooltip="Mejoramos la velocidad de navegación desde computadoras de escritorio. ")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Informe de trabajo y resultados
                      a(href="#", title="", data-tooltip="Entregamos un informe de trabajo antes y después de la optimización de Neolo.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Entrega en 4 días hábiles
                      a(href="#", title="", data-tooltip="Es el tiempo desde que ralizas el pedido hasta que tu web está optimizada.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Alcance: 3 horas de trabajo
                      a(href="#", title="", data-tooltip="3 horas de trabajo es el tiempo promedio para optimizar un sitio web de unas 5 páginas internas.")
                        svg(class="icon info")
                          use(xlink:href="#info")



                footer
                  p #[span $999] pago único
                  a.btn(href="https://ar.neolo.com/contact.php", title="") Comprar



        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans La optimización incluye 3 horas de trabajo. Entregaremos un informe con el detalle del trabajo realizado. De ser requerido más tiempo te haremos una propuesta personalizada a medida.
