section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/email-marketing.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        h1 Hosting Wordpress Administrado
        p La mejor plataforma de email marketing y newsletters en Argentina con el mejor soporte y atención al cliente del mercado. Nuestros especialistas en email marketing te ayudan conociendo tu negocio, proveen estrategias para generar bases de datos, crear las plantillas, realizar los envíos y analizar los resultados para mejora contínua.
        a.btn.btn_orange(href="", title="")
          span Ver hosting Wordpress administrado
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
