section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 ¿Qué es y por qué me conviene?
        p El Email Marketing es una de las modalidades para realizar publicidad que más éxito generan dado que podrás llegar directamente a la bandeja de entrada del correo electrónico de tus usuarios y lograr que hagan la acción que decidas para incrementar tus ventas o comunicar tus productos o servicios. Nuestra plataforma es simple y amigable. Además de ser una plataforma de auto-service, nos caracterizamos porque nuestro equipo de geeks (profesionales web y amantes del email marketing) te apoyará en cada estadío de tu negocio para aprovechar al máximo las comunicaciones por correo electrónico.
