section.pricing#pricing
  .container
    .row
      .col-md-12
        header
          h2 Tu plan de email marketing, a medida
          p Dentro de estos planes de email marketing está el tuyo, el mejor precio y la máxima facilidad de uso
        .row
          .col-xs-12
            .pricing-table.pricing-table_five.pricing-table_noFeatured
              .pricing-item.table-2
                header
                  h4 Mailing 25K
                section
                  ul
                    li #[span 25.000] contactos
                      a(href="#", title="", data-tooltip="Es la cantidad de direcciones de email que podrás almacenar en la plataforma.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 300.000] envios por mes
                      a(href="#", title="", data-tooltip="Es la cantidad de emails que podrás enviar mensualmente.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $1785]
                  a.btn(href="/hablar-con-un-experto/", title="", role='button') Consultar

              .pricing-item.table-4
                header
                  h4 Mailing 10K
                section
                  ul
                    li #[span 10.000] contactos
                      a(href="#", title="", data-tooltip="Es la cantidad de direcciones de email que podrás almacenar en la plataforma.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 120.000] envios por mes
                      a(href="#", title="", data-tooltip="Es la cantidad de emails que podrás enviar mensualmente.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $975]
                  a.btn(href="/hablar-con-un-experto/", title="", role='button') Consultar

              .pricing-item.table-6
                header
                  h4 Mailing 5k
                section
                  ul
                    li #[span 5.000] contactos
                      a(href="#", title="", data-tooltip="Es la cantidad de direcciones de email que podrás almacenar en la plataforma.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 60.000] envios por mes
                      a(href="#", title="", data-tooltip="Es la cantidad de emails que podrás enviar mensualmente.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $675]
                  a.btn(href="/hablar-con-un-experto/", title="", role='button') Consultar

              .pricing-item.table-8
                header
                  h4 Mailing 1k
                section
                  ul
                    li #[span 1.000] contactos
                      a(href="#", title="", data-tooltip="Es la cantidad de direcciones de email que podrás almacenar en la plataforma.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 12.000] envios por mes
                      a(href="#", title="", data-tooltip="Es la cantidad de emails que podrás enviar mensualmente.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $180]
                  a.btn(href="/hablar-con-un-experto/", title="", role='button') Consultar

              .pricing-item.table-10
                header
                  h4 A medida
                section
                  ul
                    li Contactos #[span a medida]
                      a(href="#", title="", data-tooltip="La cantidad de contactos que requieras almacenar")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li Envios #[span a medida]
                      a(href="#", title="", data-tooltip="Los envíos que quieras realizar")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span Cotizar]
                  a.btn(href="/hablar-con-un-experto/", title="", role='button') Consultar


        .row
          .col-xs-12
            p.iva *Los precios incluyen IVA 21%
        .row
          .col-xs-12
            p.allPlans Todos los planes de email marketing incluyen herramienta online para edición de templates, subida de listas de correo y estadísticas. También asesoramiento sobre la gestión de las campañas.
