section.badges
    .row
      .col-xs-12
        .badges-list            
          div: img(src='img/badge-ssl.png', srcset='img/badge-ssl.png 1x, img/badge-ssl@2x.png 2x', alt='Universidad Nacional de Tierra del Fuego')
          div: img(src='img/badge-norton.png', srcset='img/badge-norton.png 1x, img/badge-norton@2x.png 2x', alt='Universidad de Buenos Aires')
          div: img(src='img/badge-moneyback.png', srcset='img/badge-moneyback.png 1x, img/badge-moneyback@2x.png 2x', alt='Banco Itau')
          div: img(src='img/badge-uptime.png', srcset='img/badge-uptime.png 1x, img/badge-uptime@2x.png 2x', alt='Editorial Kier')
