section.clients
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 Trabajamos para esto
          p Nuestro mayor placer es ver los proyectos de nuestros usuarios hacerse realidad.  Cuando todo funciona perfecto, nuestro trabajo pasa desapercibido, pero el tuyo se destaca. Y eso es lo que importa
  .clients-slider_wrap
    .clients-slider
      .clients-slide.custom-background(data-background='img/clients/clients-1.jpg', data-background-position='center', clientSlide="0")
        .client-slide_content
          h4 Somos clientes hace 10 años y volveríamos a elegir a Neolo.
          h5 Federico Pacheco - Entropy Security
      .clients-slide.custom-background(data-background='img/clients/clients-2.jpg', data-background-position='center', clientSlide="1")
        .client-slide_content
          h4 Elijo Neolo para alojar a los sitios web de mis clientes y nunca tuve ni un problema
          h5 Michelle Dure - Diseñadora gráfica en Decero
      .clients-slide.custom-background(data-background='img/clients/clients-3.jpg', data-background-position='center', clientSlide="2")
        .client-slide_content
          h4 Tengo el dominio de mi proyecto en Neolo, todo fue fácil y rápido.
          h5 Vicky Vago - Living Eat
