section.clients
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 Trabajamos para esto
          p Nuestro mayor placer es ver los proyectos de nuestros usuarios hacerse realidad.  Cuando todo funciona perfecto, nuestro trabajo pasa desapercibido, pero el tuyo se destaca. Y eso es lo que importa
  .clients-slider_wrap
    .clients-slider
      .clients-slide.custom-background(data-background='img/clients/clients-1@2x.jpg', data-background-position='center', clientSlide="0")
        .client-slide_content
          h4 Confío mis webs y los de mis clientes hace 5 años en Neolo y estoy felíz.
          h5 Michael Parks - Diseñador WordPress
      .clients-slide.custom-background(data-background='img/clients/clients-2@2x.jpg', data-background-position='center', clientSlide="1")
        .client-slide_content
          h4 Neolo me brinda correos profesionales para mi tienda en línea y siempre funcionan.
          h5 Marina Scocca - Tienda Crystalina
      .clients-slide.custom-background(data-background='img/clients/clients-3@2x.jpg', data-background-position='center', clientSlide="2")
        .client-slide_content
          h4 Everything works great with Neolo
          h5 Jessica Darriots - Cosmetic Consulting
