+dropdown('dominio', 'Dominios', 'No puedes tener un sitio web sin un nombre de dominio. Al igual que una dirección dice a la gente donde vives, un dominio ayuda a que los clientes se dirijan directamente a tu sitio web. Te podemos ayudar a encontrar uno que adores.')
  .col-md-3
    h5 Buscar un dominio
    ul
      li: a(href="", title="") Búsqueda de nombres de dominio
      li: a(href="", title="") Búsqueda de múltiples dominios
      li: a(href="", title="") Nuevas extensiones de dominio
      li: a(href="", title="") Corredor de dominios
      li: a(href="", title="") Dominios personales
  .col-md-3
    h5 Servicios del dominio
    ul
      li: a(href="", title="") Transferencia de dominios
      li: a(href="", title="") Privacidad de dominio
      li: a(href="", title="") WHOIS
  .col-md-3
    h5 Subastas
    ul
      li: a(href="", title="") Subasta de dominios
      li: a(href="", title="") Incluir un dominio
      li: a(href="", title="") Herramientas
      li: a(href="", title="") Precios
  .col-md-3
    h5 Herramientas de inversionistas en dominios
    ul
      li: a(href="", title="") Club de descuento de dominios
      li: a(href="", title="") Dominios en espera
