//- Dropdown Domiios
+dropdown('dominio', 'Dominios', 'Un dominio es el nombre por el que se podrá encontrar tu sitio web en Internet. Es tu identidad y la de tu negocio online.')
  .col-xs-7
    .col-xs-12
      ul
        li: a(href="registrar-dominio/", title="Registrar dominio") Registrar dominio
        li: a(href="https://ar.neolo.com/cart.php?a=add&domain=transfer", title="Transferir dominio") Transferir dominio
        li: a(href="privacidad-dominio/", title="Privacidad de dominio") Privacidad de dominio

//- Dropdown Hosting
+dropdown('hosting', 'Hosting', 'El Web Hosting es el espacio en servidores de Internet que funciona las 24 horas para que tu sitio web y correo electrónico estén siempre disponibles. Tenemos planes para todas las necesidades.')
  .col-xs-7
    .col-xs-12
      ul
        li: a(href="web-hosting/", title="Web Hosting y Email Hosting") Web Hosting y Email Hosting
        li: a(href="hosting-wordpress-administrado/", title="WordPress Administrado") WordPress Administrado
        li: a(href="hosting-revendedores/", title="Hosting para Revendedores") Hosting para Revendedores
        li: a(href="vps/", title="Hosting VPS") Hosting VPS
        li: a(href="servidores-dedicados/", title="Servidores Dedicados") Servidores Dedicados
        li: a(href="colocation/", title="Colocation / Housing") Colocation / Housing
        li: a(href="sysadmin/", title="SysAdmin on Demand") SysAdmin on Demand

//- Dropdown Sitio web
+dropdown('sitio-web', 'Sitio Web', 'Un Sitio Web es la mejor forma de tener presencia online para tu identidad digital, tu proyecto o negocio online. Podés crearlo vos mismo, un diseñador web o también podemos hacerlo nosotros.')
  .col-xs-7
    .col-xs-12
      ul
        li: a(href="crea-tu-sitio-web/", title="Crea tu web") Crea tu web
        li: a(href="creamos-tu-sitio-web/", title="Creamos tu web") Creamos tu web
        li: a(href="optimizacion/", title="Optimización Google Test My Site") Optimización Google Test My Site
      
//- Dropdown Marketing Digital
+dropdown('marketing-digital', 'Marketing Digital', 'El Marketing Digital es el servicio exclusivo para negocios, empresas y profesionales. Nuestro equipo de expertos te preparará un plan para que logres tus objetivos online: Más reconocimiento de marca, más clientes o más ventas.')
  .col-xs-7
    .row
      .col-xs-4
        ul
          li: a(href="hablar-con-un-experto/", title="Hablar con un experto") Hablar con un experto
          li: a(href="landing-page/", title="Landing Page") Landing Page
          li: a(href="google-adwords/", title="Google AdWords") Google AdWords
          li: a(href="facebook-instagram-ads/", title="Facebook & Instagram Ads") Facebook &amp; Instagram Ads
          li: a(href="facebook-page/", title="Facebook Page") Facebook Page
      .col-xs-4
        ul
          li: a(href="email-marketing/", title="Email Marketing") Email Marketing Tradicional
          li: a(href="drip-marketing/", title="Drip Email Marketing") Email Marketing Drip
          li: a(href="sms-marketing/", title="SMS Marketing") SMS Marketing
          li: a(href="chat-robot/", title="Chat Robot") Chat Robot
          li: a(href="seo/", title="SEO") SEO
          li: a(href="registro-de-marca/", title="Registro de Marca") Registro de Marca
              
//- Dropdown Seguridad web
+dropdown('seguridad-web', 'Seguridad Web', 'La Seguridad Web es importante para que tu sitio sea más confiable para tus visitantes y clientes. Te ofrecemos certificados HTTPS y también eliminamos virus de tu sitio web.')
  .col-xs-7
    .col-xs-12
      ul
        li: a(href="certificado-ssl/", title="Certificados SSL") Certificados SSL
        li: a(href="eliminar-malware/", title="Eliminar MalWare") Eliminar MalWare
