//- Dropdown Domiios
+dropdown('dominio', 'Dominios', 'Un dominio es el nombre por el que se podrá encontrar tu sitio web en Internet. Es tu identidad y la de tu negocio online.')
  .col-xs-7
    .col-xs-12
      ul
        li: a(href="registrar-dominio.html", title="Registrar dominio") Registrar dominio
        li: a(href="registrar-dominio.html", title="Transferir dominio") Transferir dominio
        li: a(href="privacidad-dominio.html", title="Privacidad de dominio") Privacidad de dominio
        li: a(href="whois.html", title="Whois") Whois

//- Dropdown Hosting
+dropdown('hosting', 'Hosting', 'El Web Hosting es el espacio en servidores de Internet que funciona las 24 horas para que tu sitio web y correo electrónico estén siempre disponibles. Tenemos planes para todas las necesidades.')
  .col-xs-7
    .col-xs-12
      ul
        li: a(href="web-hosting.html", title="Web Hosting y Email Hosting") Web Hosting y Email Hosting
        li: a(href="hosting-wordpress-administrado.html", title="WordPress Administrado") WordPress Administrado
        li: a(href="revendedores.html", title="Hosting para Revendedores") Hosting para Revendedores
        li: a(href="vps.html", title="Hosting VPS") Hosting VPS
        li: a(href="servidores-dedicados.html", title="Servidores Dedicados") Servidores Dedicados
        li: a(href="colocation.html", title="Colocation / Housing") Colocation / Housing
        li: a(href="sysadmin.html", title="SysAdmin on Demand") SysAdmin on Demand

//- Dropdown Sitio web
+dropdown('sitio-web', 'Sitio Web', 'Un Sitio Web es la mejor forma de tener presencia online para tu identidad digital, tu proyecto o negocio online. Puedes crearlo tu mismo, un diseñador web o también podemos hacerlo nosotros.')
  .col-xs-7
    .col-xs-12
      ul
        li: a(href="crea-tu-sitio-web.html", title="Crea tu web") Crea tu web
        li: a(href="creamos-tu-sitio-web.html", title="Creamos tu web") Creamos tu web
        li: a(href="optimizacion.html", title="Optimización Google Test My Site") Optimización Google Test My Site
      
//- Dropdown Marketing Digital
+dropdown('marketing-digital', 'Marketing Digital', 'El Marketing Digital es el servicio exclusivo para negocios, empresas y profesionales. Nuestro equipo de expertos te preparará un plan para que logres tus objetivos online: Más reconocimiento de marca, más clientes o más ventas.')
  .col-xs-7
    .row
      .col-xs-4
        ul
          li: a(href="hablar-con-un-experto.html", title="Hablar con un experto") Hablar con un experto
          li: a(href="landing-page.html", title="Landing Page") Landing Page
          li: a(href="google-adwords.html", title="Google AdWords") Google AdWords
          li: a(href="facebook-instagram-ads.html", title="Facebook & Instagram Ads") Facebook &amp; Instagram Ads
          li: a(href="facebook-page.html", title="Facebook Page") Facebook Page
      .col-xs-4
        ul
          li: a(href="email-marketing.html", title="Email Marketing") Email Marketing Tradicional
          li: a(href="drip-marketing.html", title="Drip Email Marketing") Email Marketing Drip
          li: a(href="sms-marketing.html", title="SMS Marketing") SMS Marketing
          li: a(href="chat-robot.html", title="Chat Robot") Chat Robot
          li: a(href="seo.html", title="SEO") SEO
          li: a(href="registro-de-marca.html", title="Registro de Marca") Registro de Marca
          li: a(href="reviews.html", title="Neolo Reviews") Neolo Reviews
              
//- Dropdown Seguridad web
+dropdown('seguridad-web', 'Seguridad Web', 'El Marketing Digital es el servicio exclusivo para negocios, empresas y profesionales. Nuestro equipo de expertos te preparará un plan para que logres tus objetivos online: Más reconocimiento de marca, más clientes o más ventas.')
  .col-xs-7
    .col-xs-12
      ul
        li: a(href="certificado-ssl.html", title="Certificados SSL") Certificados SSL
        li: a(href="eliminar-malware.html", title="Eliminar MalWare") Eliminar MalWare
