footer.mainFooter
  .container
    .row.mainFooter-list
      .col-lg-3
        a.mainFooter-logo(href="", title="")
          img(src="img/logo_slogan.svg", alt="")
      .col-xs-6.col-md-3.col-lg-2
        h4 Presencia
        ul
          li: a(href="", title="") Dominios
          li: a(href="", title="") Web Hosting
          li: a(href="", title="") WP Administrado
          li: a(href="", title="") Anti Malware
          li: a(href="", title="") Revendedores
          li: a(href="", title="") Hosting VPS
          li: a(href="", title="") Servidores Dedicados
          li: a(href="", title="") Colocation / Housing
          li: a(href="", title="") SysAdmin on Demand
          li: a(href="", title="") Crea tu web
          li: a(href="", title="") Creamos tu web
          li: a(href="", title="") Optimización Google Test My Site
      .col-xs-6.col-md-3.col-lg-2
        h4 Marketing Digital
        ul
          li: a(href="", title="") Hablar con un experto
          li: a(href="", title="") Landing Page
          li: a(href="", title="") Google AdWords
          li: a(href="", title="") Facebook & Insta Ads
          li: a(href="", title="") Email Marketing Tradicional
          li: a(href="", title="") Email Marketing Drip
          li: a(href="", title="") SMS Marketing
          li: a(href="", title="") Chat Robot
          li: a(href="", title="") SEO
          li: a(href="", title="") Registro de Marca
          li: a(href="", title="") Neolo Reviews
      .col-xs-6.col-md-3.col-lg-2
        h4 La Empresa
        ul
          li: a(href="", title="") Blog
          li: a(href="", title="") Historia
          li: a(href="", title="") 10 motivos
          li: a(href="", title="") RRHH
          li: a(href="", title="") Tecnología
          li: a(href="", title="") Precios Bajos
          li: a(href="", title="") Afiliados $$$
      .col-xs-6.col-md-3.col-lg-2
        h4 Soporte
        ul
          li: a(href="", title="") Consultas
          li: a(href="", title="") Area de clientes
          li: a(href="", title="") Guias de ayuda
          li: a(href="", title="") DNS
          li: a(href="tel:01153681239", title="") (011) 5368-1239

.subFooter
  .container
    .row
      .col-xs-12.subFooter-wrap
        ul.subFooter-legal
          li Copyright © 2012-2017 
          li: a(href="", title="") Términos y condiciones

        ul.mainFooter-social
          li: a(href="", title="" target="_blank")
            svg(class="icon facebook")
              use(xlink:href="#facebook")
          li: a(href="", title="" target="_blank")
            svg(class="icon twitter")
              use(xlink:href="#twitter")
          li: a(href="", title="" target="_blank")
            svg(class="icon gplus")
              use(xlink:href="#gplus")
