footer.mainFooter
  .container
    .row.mainFooter-list
      .col-lg-3
        a.mainFooter-logo(href="", title="")
          img(src="img/logo.svg", alt="")
      .col-xs-6.col-md-3.col-lg-2
        h4 Presencia
        ul
          li: a(href="/registrar-dominio.htmo", title="") Dominios
          li: a(href="/web-hosting.html", title="") Web Hosting
          li: a(href="/hosting-wordpress-administrado.html", title="") WP Administrado
          li: a(href="/eliminar-malware.html", title="") Anti Malware
          li: a(href="/hosting-revendedores.html", title="") Revendedores
          li: a(href="/vps.html", title="") Hosting VPS
          li: a(href="/servidores-dedicados.html", title="") Servidores Dedicados
          li: a(href="/colocation.html", title="") Colocation / Housing
          li: a(href="/sysadmin.html", title="") SysAdmin on Demand
          li: a(href="/crea-tu-sitio-web.html", title="") Crea tu web
          li: a(href="/creamos-tu-sitio-web.html", title="") Creamos tu web
          li: a(href="/optimizacion.html", title="") Optimización Google Test My Site
      .col-xs-6.col-md-3.col-lg-2
        h4 Marketing Digital
        ul
          li: a(href="/hablar-con-un-experto.html", title="") Hablar con un experto
          li: a(href="/landing-page.html", title="") Landing Page
          li: a(href="/google-adwords.html", title="") Google AdWords
          li: a(href="/facebook-instagram-ads.html", title="") Facebook & Insta Ads
          li: a(href="/email-marketing.html", title="") Email Marketing Tradicional
          li: a(href="/drip-marketing.html", title="") Email Marketing Drip
          li: a(href="/sms-marketing.html", title="") SMS Marketing
          li: a(href="/chat-robot.html", title="") Chat Robot
          li: a(href="/seo.html", title="") SEO
          li: a(href="/registro-de-marca.html", title="") Registro de Marca
      .col-xs-6.col-md-3.col-lg-2
        h4 La Empresa
        ul
          li: a(href="", title="") Blog
          li: a(href="/historia.html", title="") Historia
          li: a(href="/motivos.html", title="") 10 motivos
          li: a(href="/rrhh.html", title="") RRHH
          li: a(href="/tecno.html", title="") Tecnología
          li: a(href="/preciosbajos.html", title="") Precios Bajos
          li: a(href="/afiliados.html", title="") Afiliados $$$
      .col-xs-6.col-md-3.col-lg-2
        h4 Soporte
        ul
          li: a(href="", title="") Consultas
          li: a(href="", title="") Area de clientes
          li: a(href="", title="") Guias de ayuda
          li: a(href="", title="") DNS
          li: a(href="tel:01153681239", title="") (011) 5368-1239

.subFooter
  .container
    .row
      .col-xs-12.subFooter-wrap
        ul.subFooter-legal
          li Copyright © 2012-2017 
          li: a(href="/tyc.html", title="") Términos y condiciones

        ul.mainFooter-social
          li: a(href="https://www.facebook.com/neolohosting", title="" target="_blank")
            svg(class="icon facebook")
              use(xlink:href="#facebook")
          li: a(href="https://www.twitter.com/neolo", title="" target="_blank")
            svg(class="icon twitter")
              use(xlink:href="#twitter")
          li: a(href="", title="" target="_blank")
            svg(class="icon gplus")
              use(xlink:href="#gplus")
