footer.mainFooter
  .container
    .row.mainFooter-list
      .col-lg-3
        a.mainFooter-logo(href="", title="")
          img(src="img/logo.svg", alt="Neolo")
      .col-xs-6.col-md-3.col-lg-2
        h4 Presencia
        ul
          li: a(href="registrar-dominio/", title="") Dominios
          li: a(href="web-hosting/", title="") Web Hosting
          li: a(href="hosting-wordpress-administrado/", title="") WP Administrado
          li: a(href="eliminar-malware/", title="") Anti Malware
          li: a(href="hosting-revendedores/", title="") Revendedores
          li: a(href="vps/", title="") Hosting VPS
          li: a(href="servidores-dedicados/", title="") Servidores Dedicados
          li: a(href="colocation/", title="") Colocation / Housing
          li: a(href="sysadmin/", title="") SysAdmin on Demand
          li: a(href="crea-tu-sitio-web/", title="") Crea tu web
          li: a(href="creamos-tu-sitio-web/", title="") Creamos tu web
          li: a(href="optimizacion/", title="") Optimización Google Test My Site
      .col-xs-6.col-md-3.col-lg-2
        h4 Marketing Digital
        ul
          li: a(href="hablar-con-un-experto/", title="") Hablar con un experto
          li: a(href="landing-page/", title="") Landing Page
          li: a(href="google-adwords/", title="") Google AdWords
          li: a(href="facebook-instagram-ads/", title="") Facebook & Insta Ads
          li: a(href="email-marketing/", title="") Email Marketing Tradicional
          li: a(href="drip-marketing/", title="") Email Marketing Drip
          li: a(href="sms-marketing/", title="") SMS Marketing
          li: a(href="chat-robot/", title="") Chat Robot
          li: a(href="seo/", title="") SEO
          li: a(href="registro-de-marca/", title="") Registro de Marca
      .col-xs-6.col-md-3.col-lg-2
        h4 La Empresa
        ul
          li: a(href="https://www.neolo.com/blog/", title="") Blog
          li: a(href="historia/", title="") Historia
          li: a(href="motivos/", title="") 10 motivos
          li: a(href="rrhh/", title="") RRHH
          li: a(href="tecno/", title="") Tecnología
          li: a(href="preciosbajos/", title="") Precios Bajos
          li: a(href="afiliados/", title="") Afiliados $$$
      .col-xs-6.col-md-3.col-lg-2
        h4 Soporte
        ul
          li: a(href="https://ar.neolo.com/submitticket.php?step=2&deptid=1", title="") Consultas
          li: a(href="https://clientes.neolo.com", title="") Area de clientes
          li: a(href="https://ar.neolo.com/knowledgebase.php", title="") Guias de ayuda
          li: a(href="https://ar.neolo.com/knowledgebase/17/iCuales-son-los-DNS-de-NEOLOCOM/", title="") DNS
          li: a(href="tel:01153681239", title="") (011) 5368-1239

.subFooter
  .container
    .row
      .col-xs-12.subFooter-wrap
        ul.subFooter-legal
          li Copyright © 2012-2017 
          li: a(href="/tyc/", title="") Términos y condiciones

        ul.mainFooter-social
          li: a(href="https://www.facebook.com/neolohosting", title="" target="_blank")
            svg(class="icon facebook")
              use(xlink:href="#facebook")
          li: a(href="https://www.twitter.com/neolo", title="" target="_blank")
            svg(class="icon twitter")
              use(xlink:href="#twitter")
          li: a(href="", title="" target="_blank")
            svg(class="icon gplus")
              use(xlink:href="#gplus")
