header.mainHeader
  .container
    .row
      .col-xs-12
        nav.mainNav
          a.mainNav-logo(href="index.html", title="Index Neolo")
            img(src="img/logo.svg", alt="Logo Neolo")
          a#dominio.mainNav-link.hasMenu(title="Dominios") Dominios
          a#hosting.mainNav-link.hasMenu(title="Hosting") Hosting
          a#sitio-web.mainNav-link.hasMenu(title="Sitio Web") Sitio Web
          a#marketing-digital.mainNav-link.hasMenu(title="Marketing Digital") Marketing Digital
          a#seguridad-web.mainNav-link.hasMenu(title="Seguridad Web") Seguridad Web
          a.mainNav-link(href="afiliados.html", title="Afiliados") Afiliados
          a.mainNav-menuMobile(title="Menu")
            span.menuText Menu
            span.mainNav-menuMobile_toggle
              span.line
              span.line
              span.line

  include _dropdowns
  include _menu-mobile

div.header-placeholder
