.mainNav-mobile
  .container
    .row
      nav.navMobile
        a(href="", title="") Dominios
        a(href="", title="") Hosting
        a(href="", title="") Sitio web
        a(href="", title="") Marketing Digital
        a(href="", title="") Afiliados
