mixin dropdown(id,title,description)
  .dropdown(id=`dropdown-${id}`)
    .container
      .row
        .col-xs-12
          h4=title
      .row
        .col-xs-4.dropdown-description
          p=description
        .col-xs-8
          .row
            block
