section.newsletter
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .newsletter-img
          img(src="img/newsletter.svg", alt="")
        .newsletter-content
          header
            h2 Suscribite a nuestro Newsletter
            p Y así recibir las mejores novedades de sarasa y nada de spam
          section
            form(method="", action="")
              .input-group
                input(type="email", placeholder="correo electónico" required)
                button.btn.btn_orange(type="submit") Suscribirme 
