section.newsletter
  .newsletter--icons
    .newsletter--icons__1
      img(src="img/paper-plane_1.svg", alt="")
    .newsletter--icons__2
      img(src="img/paper-plane_2.svg", alt="")
    .newsletter--icons__3
      img(src="img/paper-plane_3.svg", alt="")
    .newsletter--icons__4
      img(src="img/paper-plane_4.svg", alt="")
    .newsletter--icons__5
      img(src="img/paper-plane_1.svg", alt="")
    .newsletter--icons__6
      img(src="img/paper-plane_1.svg", alt="")
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .newsletter-content
          header
            h2 Curso por email gratis
            p 10 emails. 1 email cada 10 días. 
            p Te revelamos las técnicas de presencia y marketing digital de Amazon, Mercado Libre, Despegar y otros grandes.
          section
            form(method="POST" action="https://www.neolo.com/argentina/formulario.php")
              .input-group
                input(type="email", name="email" placeholder="correo electónico" required)
                button.btn.btn_orange(type="submit") Suscribirme 
