section.partners
  .container
    .row
      .col-xs-12
        header
          h2 Algunas marcas que confian en nosotros
    .row
      .col-xs-12
        .partners-list            
          div: img(src='img/partners/untdf.png', srcset='img/partners/untdf.png 1x, img/partners/untdf@2x.png 2x', alt='Forbes logo')
          div: img(src='img/partners/uba.png', srcset='img/partners/uba.png 1x, img/partners/uba@2x.png 2x', alt='Website Magazine logo')
          div: img(src='img/partners/itau.png', srcset='img/partners/itau.png 1x, img/partners/itau@2x.png 2x', alt='Top Seo Company logo')
          div: img(src='img/partners/kier.png', srcset='img/partners/kier.png 1x, img/partners/kier@2x.png 2x', alt='10 best seo logo')
          div: img(src='img/partners/utn.png', srcset='img/partners/utn.png 1x, img/partners/utn@2x.png 2x', alt='10 best seo logo')
          div: img(src='img/partners/unq.png', srcset='img/partners/unq.png 1x, img/partners/unq@2x.png 2x', alt='10 best seo logo')
