section.payments
  .container
    .row
      .col-xs-12
        h2 Podés pagar de todas estas formas
    .row
      .col-xs-12
        ul
          li: img(src='img/pagos/visa.png', srcset='img/pagos/visa.png 1x, img/pagos/visa@2x.png 2x', alt='')

          li: img(src='img/pagos/mastercard.png', srcset='img/pagos/mastercard.png 1x, img/pagos/mastercard@2x.png 2x', alt='')

          li: img(src='img/pagos/american.png', srcset='img/pagos/american.png 1x, img/pagos/american@2x.png 2x', alt='')

          li: img(src='img/pagos/pagomiscuentas.png', srcset='img/pagos/pagomiscuentas.png 1x, img/pagos/pagomiscuentas@2x.png 2x', alt='')

          li: img(src='img/pagos/pagofacil.png', srcset='img/pagos/pagofacil.png 1x, img/pagos/pagofacil@2x.png 2x', alt='')

          li: img(src='img/pagos/rapipago.png', srcset='img/pagos/rapipago.png 1x, img/pagos/rapipago@2x.png 2x', alt='')

          li: img(src='img/pagos/cobro-express.png', srcset='img/pagos/cobro-express.png 1x, img/pagos/cobro-express@2x.png 2x', alt='')

          li: img(src='img/pagos/link.png', srcset='img/pagos/link.png 1x, img/pagos/link@2x.png 2x', alt='')

          li: img(src='img/pagos/bapro.png', srcset='img/pagos/bapro.png 1x, img/pagos/bapro@2x.png 2x', alt='')

          li: img(src='img/pagos/provinciapagos.png', srcset='img/pagos/provinciapagos.png 1x, img/pagos/provinciapagos@2x.png 2x', alt='')

          li: img(src='img/pagos/formopagos.png', srcset='img/pagos/formopagos.png 1x, img/pagos/formopagos@2x.png 2x', alt='')

          li: img(src='img/pagos/pagolisto.png', srcset='img/pagos/pagolisto.png 1x, img/pagos/pagolisto@2x.png 2x', alt='')

          li: img(src='img/pagos/pampapagos.png', srcset='img/pagos/pampapagos.png 1x, img/pagos/pampapagos@2x.png 2x', alt='')

          li: img(src='img/pagos/chubutpagos.png', srcset='img/pagos/chubutpagos.png 1x, img/pagos/chubutpagos@2x.png 2x', alt='')

          li: img(src='img/pagos/cooperativa-obrera.png', srcset='img/pagos/cooperativa-obrera.png 1x, img/pagos/cooperativa-obrera@2x.png 2x', alt='')
            
          li: img(src='img/pagos/payu.png', srcset='img/pagos/payu.png 1x, img/pagos/payu@2x.png 2x', alt='')
            
          li: img(src='img/pagos/bancolombia.png', srcset='img/pagos/bancolombia.png 1x, img/pagos/bancolombia@2x.png 2x', alt='')
            
          li: img(src='img/pagos/bogota.png', srcset='img/pagos/bogota.png 1x, img/pagos/bogota@2x.png 2x', alt='')
            
          li: img(src='img/pagos/scotiabank.png', srcset='img/pagos/scotiabank.png 1x, img/pagos/scotiabank@2x.png 2x', alt='')
            
          li: img(src='img/pagos/pse.png', srcset='img/pagos/pse.png 1x, img/pagos/pse@2x.png 2x', alt='')
            
          li: img(src='img/pagos/via-baloto.png', srcset='img/pagos/via-baloto.png 1x, img/pagos/via-baloto@2x.png 2x', alt='')
            
          li: img(src='img/pagos/efecty.png', srcset='img/pagos/efecty.png 1x, img/pagos/efecty@2x.png 2x', alt='')
            
          li: img(src='img/pagos/santander.png', srcset='img/pagos/santander.png 1x, img/pagos/santander@2x.png 2x', alt='')
            
          li: img(src='img/pagos/oxxo.png', srcset='img/pagos/oxxo.png 1x, img/pagos/oxxo@2x.png 2x', alt='')
            
          li: img(src='img/pagos/7eleven.png', srcset='img/pagos/7eleven.png 1x, img/pagos/7eleven@2x.png 2x', alt='')
          
          li: img(src='img/pagos/ixe.png', srcset='img/pagos/ixe.png 1x, img/pagos/ixe@2x.png 2x', alt='')
          
          li: img(src='img/pagos/BBVA.png', srcset='img/pagos/BBVA.png 1x, img/pagos/BBVA@2x.png 2x', alt='')
          
          li: img(src='img/pagos/farmacias-del-ahorro.png', srcset='img/pagos/farmacias-del-ahorro.png 1x, img/pagos/farmacias-del-ahorro@2x.png 2x', alt='')

          li: img(src='img/pagos/farmacias-benavides.png', srcset='img/pagos/farmacias-benavides.png 1x, img/pagos/farmacias-benavides@2x.png 2x', alt='')
          
          li: img(src='img/pagos/banamex.png', srcset='img/pagos/banamex.png 1x, img/pagos/banamex@2x.png 2x', alt='')
            
          li: img(src='img/pagos/famsa.png', srcset='img/pagos/famsa.png 1x, img/pagos/famsa@2x.png 2x', alt='')
            
          li: img(src='img/pagos/paypal.png', srcset='img/pagos/paypal.png 1x, img/pagos/paypal@2x.png 2x', alt='')
          
          li: img(src='img/pagos/bcp.png', srcset='img/pagos/bcp.png 1x, img/pagos/bcp@2x.png 2x', alt='')
