.plus-more
  .row
    .col-xs-12
      h2 Si querés, al contratar agregalos a tu web hosting:

  .row
    .col-sm-4
      .plus-block
        .plus-img
          .plus-icon
            svg(class="icon ssl")
              use(xlink:href="#ssl")
        .plus-content
          h6 HTTPS para tu dominio
          p Agrega https:// delante de tu dominio. La información viajará encriptada, por lo tanto, brindará más seguridad.

    .col-sm-4
      .plus-block
        .plus-img
          .plus-icon
            svg(class="icon informe_seo")
              use(xlink:href="#informe_seo")
        .plus-content
          h6 Informe SEO Posicionamiento
          p Nuestros expertos analizan tu sitio web y te indican qué tenés que optimizar para que aparezca más arriba en los buscadores.

    .col-sm-4
      .plus-block
        .plus-img
          .plus-icon
            svg(class="icon backup_adicionales")
              use(xlink:href="#backup_adicionales")
        .plus-content
          h6 Backup adicional de seguridad
          p Backup extra para toda tu cuenta y movido a otro datacenter para mayor seguridad.

  .row
    .col-sm-4
      .plus-block
        .plus-img
          .plus-icon
            svg(class="icon builder")
              use(xlink:href="#builder")
        .plus-content
          h6 Anti Malware
          p El código de tu sitio web asegurado contra virus, malware, phishing y envío de spam.

    .col-sm-4
      .plus-block
        .plus-img
          .plus-icon
            svg(class="icon wordpress")
              use(xlink:href="#wordpress")
        .plus-content
          h6 Hosting Wordpress Administrado
          p Configuramos, actualizamos y mantenemos tu WordPress limpio de malware. Además bloqueamos el spam y lo optimizamos para Google, Yahoo! y Bing

    .col-sm-4
      .plus-block
        .plus-img
          .plus-icon
            svg(class="icon www")
              use(xlink:href="#www")
        .plus-content
          h6 Nuevos dominios
          p Ahora podrás registrar nuevos dominios .CLUB .TECH .ONLINE .GLOBAL .ME y muchos más
