aside.sidebar
  .sidebar-close
    span Cerrar
    span.close
  ul.rwd-menu
    li: a.menu-title(title="") Menu 
    li
      a(title="")
        span Dominios
        i: svg(class="icon angle-right")
            use(xlink:href="#angle-right")
      ul.rwd-submenu
        li
          a.back-btn(title="")
            i: svg(class="icon angle-left")
                use(xlink:href="#angle-left")
            span Atrás
        li: a(href="#", title="registrar-dominio.html") Registrar dominio
        li: a(href="#", title="registrar-dominio.html") Transferir dominio
        li: a(href="#", title="privacidad-dominio.html") Privacidad de dominio
        li: a(href="#", title="whois.html") Whois
    li
      a(title="")
        span Hosting
        i: svg(class="icon angle-right")
            use(xlink:href="#angle-right")
      ul.rwd-submenu
        li
          a.back-btn(title="")
            i: svg(class="icon angle-left")
                use(xlink:href="#angle-left")
            span Atrás
        li: a(href="web-hosting.html", title="") Web Hosting
        li: a(href="hosting-wordpress-administrado.html", title="") WordPress Administrado
        li: a(href="hosting-revendedores.html", title="") Hosting para Revendedores
        li: a(href="vps.html", title="") Hosting VPS
        li: a(href="servidores-dedicados.html", title="") Servidores Dedicados
        li: a(href="colocation.html", title="") Colocation / Housing
        li: a(href="sysadmin.html", title="") SysAdmin on Demand
    li
      a(title="")
        span Sitio Web
        i: svg(class="icon angle-right")
            use(xlink:href="#angle-right")
      ul.rwd-submenu
        li
          a.back-btn(title="")
            i: svg(class="icon angle-left")
                use(xlink:href="#angle-left")
            span Atrás
        li: a(href="crea-tu-sitio-web.html", title="") Crea tu web
        li: a(href="creamos-tu-sitio.web.html", title="") Creamos tu web
        li: a(href="optimizacion.html", title="") Optimización Google Test My Site
    li
      a(title="")
        span Marketing Digital
        i: svg(class="icon angle-right")
            use(xlink:href="#angle-right")
      ul.rwd-submenu
        li
          a.back-btn(title="")
            i: svg(class="icon angle-left")
                use(xlink:href="#angle-left")
            span Atrás
        li: a(href="hablar-con-un-experto.html", title="") Hablar con un experto
        li: a(href="landing-page.html", title="") Landing Page
        li: a(href="google-adwords.html", title="") Google AdWords
        li: a(href="facebook-instagram-ads.html", title="") Facebook &amp; Instagram Ads
        li: a(href="facebook-page.html", title="") Facebook Page
        li: a(href="email-marketing.html", title="") Email Marketing Tradicional
        li: a(href="drip-marketing.html", title="") Email Marketing Drip
        li: a(href="sms-marketing.html", title="") SMS Marketing
        li: a(href="chat-robot.html", title="") Chat Robot
        li: a(href="seo.html", title="") SEO
        li: a(href="registro-de-marca.html", title="") Registro de Marca
    
    li
      a(title="")
        span Seguridad Web
        i: svg(class="icon angle-right")
            use(xlink:href="#angle-right")
      ul.rwd-submenu
        li
          a.back-btn(title="")
            i: svg(class="icon angle-left")
                use(xlink:href="#angle-left")
            span Atrás
        li: a(href="certificado-ssl.html", title="") Certificado SSL
        li: a(href="eliminar-malware.html", title="") Eliminar Malware
    li
      a(href="afiliados.php", title="")
        span Afiliados
        i: svg(class="icon angle-right")
            use(xlink:href="#angle-right")
      
