section.topNav
  .container
    .row
      .col-xs-12
        .topNav-country
          a(href="https://www.neolo.com/", title="país")
            img(src="img/arg.svg", alt="Neolo.com")
        .topNav-right
          ul
            li: a.line-hover(href="", title="Enviar mensaje") Enviar Mensaje
            li.login: a(href="", title="Panel de cliente") Panel de Cliente
