section.faq.skew-border
  .container.faqContainer
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2.topFaqs
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Estamos en el mercado desde el 2002. Ya ayudamos a decenas de miles de personas y organizaciones a convertir sus ideas y proyectos en sitios web que funcionan las 24 horas.
              p Creemos en Internet como una necesidad básica, como un derecho humano, es el que permite a las personas expresarse al mundo y crecer personal, económica y espiritualmente, por eso queremos ser parte de tu proyecto y ayudarte a estar online con tu propio nombre en Internet.
              p Tenemos servidores en varios países, clientes en todo Latinoamérica y a diferencia de otras empresas, NEOLO.COM sigue siendo atendido por sus dueños.
              p Fuimos el primer proveedor en Latinoamérica en brindar web hosting ilimitado en 2010.
              p Nuestros principales inversores son nuestros clientes, todos y cada uno, que nos apoyan y nos permiten seguir creciendo junto a ellos. Queremos que tu proyecto también crezca y siempre funcione, por eso, queremos ser tu proveedor de web hosting en Argentina.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué es el servicio de Hosting WordPress Administrado?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Nuestro equipo de expertos en WordPress se encarga de instalar, configurar, optimizar, asegurar y acelerar tu WordPress. Las 24 horas, los 365 días del año. Vos podrás encargarte de tu trabajo.

          .faqBlock
            .faqBlock-question
              h4 ¿Qué diferencia hay entre el Hosting WordPress Administrado y un plan de Hosting donde pueda instalar el WordPress ?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p La principal diferencia es que en el Hosting WordPress Administrado nuestro equipo técnico hace el trabajo de instalación, configuración, securización y aceleración por vos.

          .faqBlock
            .faqBlock-question
              h4 ¿En qué consiste el HTTPS?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Haremos que tu sitio web sea accesible con https://. Los datos entre tu sitio web y tus clientes viajaran más seguros y lograrás más confianza que conducirán a más ventas.

          .faqBlock
            .faqBlock-question
              h4 ¿En qué consiste el CDN?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p CDN significa Content Delivery Network. 
              p Es una red de servidores ubicados en todo el planeta que replicará el contenido de tu sitio web.
              p De esta manera, cuando un visitante de Europa ingrese a tu sitio, automáticamente tu sitio web será mostrado desde un servidor espejo en Europa por una razón de proximidad. 
              p Lo mismo sucede con los demás países y continentes. Tu sitio web estará funcionando en una CDN automáticamente y nosotros nos encargamos de configurar todo.

          .faqBlock
            .faqBlock-question
              h4 ¿En qué consisten los backups?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Configuramos un sistema de backups para que automáticamente se realicen copias de seguridad de tu WordPress.
              
          .faqBlock
            .faqBlock-question
              h4 ¿En qué consiste la limpieza y protección automática?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Más del 90% de los WordPress de todo el mundo en algún momento fueron hackeados por fallas en la configuración del WordPress. Asegurar correctamente, mantenerlo automáticamente protegido y limpio el 100% del tiempo durante las 24 horas, es también parte de nuestro servicio.

          .faqBlock
            .faqBlock-question
              h4 ¿En qué consiste el asistente SEO?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Es una herramienta que instalaremos y configuraremos en tu WordPress. Obtendrás mejores resultados en buscadores porque brindará sugerencias para que optimices el contenido On-Site de tu WordPress.
                      
          .faqBlock
            .faqBlock-question
              h4 ¿En qué consiste el escaneo y la eliminación de MalWare?
              span.faqBlock-question_toggle +

            .faqBlock-answer
              p Los técnicos de Neolo escanearán cada línea de código de tu WordPress y eliminarán todo el MalWare (virus, troyanos, códigos maliciosos).
  
    .row
      a.btn.btn_orange.btn-more-less(title="Ver todas las preguntas", role="button")
        span.btn-text Ver todas las preguntas
        svg(class="icon angle-right")
          use(xlink:href="#angle-right")
