section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/wp.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        h1 Hosting Wordpress Administrado
        p Instalamos, configuramos, actualizamos, optimizamos, aseguramos y limpiamos de malware tu Wordpress. Además te facilitamos un asistente SEO. Y vos, dedicate a tu negocio :)
        a.btn.btn_orange(href="hosting-wordpress-administrado/#wpAdministrado", title="")
          span Ver hosting Wordpress administrado
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
