section.pricing
  .container
    .row
      .col-md-12
        header
          h2 Añadí a tu Hosting: Wordpress Administrado
          p El precio de siempre de tu web hosting y sólo $49 adicionales al mes.
        .row
          .col-sm-8.col-sm-offset-2
            .pricing-table.pricing-table-full.pricing-table_noFeatured
              .pricing-item.table-3
                header
                  h4 Wordpress Administrado
                section
                  ul
                    li #[span HTPPS] en Wordpress
                      a(href="#", title="", data-tooltip="Agrega todos los dominios que desees a tu cuenta de web hosting.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span CDN] en Wordpress
                      a(href="#", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span Backups] Diarios
                      a(href="#", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span Limpieza y protección] automática
                      a(href="#", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")

                    li #[span Escaneo y eliminación] de Malware automática
                      a(href="#", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")

                    li Asistente #[span SEO]
                      a(href="#", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")

                footer
                  p #[span $600] al año
                  a.btn(href="", title="") Comprar



        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans All plans include Unmetered Bandwidth, Unmetered Disk Space, FREE Migrations, Disaster Recovery Backups, and 24x7 Support.

        .row
          .col-md-8.col-md-offset-2
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 10% OFF por pago anual
