section.faq
  .container.faqContainer
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2.topFaqs
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p El hosting para revendedores o hosting reseller consiste en brindarte la oportunidad de revender web hosting de nuestros servidores. 
              p Te brindaremos un panel principal llamado WHM desde el que podrás crear tus planes de hosting.
              p También podrás asignarle las características que desees, el precio que quieras y luego podrás crear las cuentas de web hosting para tus clientes asignándole el plan que quieras.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué todos tienen acceso a los registrantes de nombres de dominio?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Porque el directorio Whois es una base de datos pública con datos de los titulares de dominios de todo el mundo. Con el ID Privacy Protect podrás ocultar tus datos para lograr mayor privacidad y seguridad.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Y qué ocurre con mi negocio? Quiero que mis clientes me encuentren
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Tus clientes podrán seguir encontrándote porque ellos verán la información que quieras mostrar en tu sitio web, pero nadie tendrá acceso a tus datos del directorio WhoIs.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Cómo funciona el ID Privacy Protect para dominios?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p En vez de mostrar tus datos, mostramos los datos de "Domain by Proxy", nuestro socio que actuará como capa de protección de tus datos personales.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Cuáles son los beneficios de ID Privacy Protect?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Estarás más protegido ante posibles robos de identidad, spam a tu cuenta personal, e intentos de ataque o robo de dominio.              
    .row
      a.btn.btn_orange.btn-more-less(title="Ver todas las preguntas", role="button")
        span.btn-text Ver todas las preguntas
        svg(class="icon angle-right")
          use(xlink:href="#angle-right")
