section.hero.hero-section.heroDesktop.custom-background(data-background='img/privacidad.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        .hero-whiteBox
          h1 Protect your private data
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          a.btn.btn_orange(href="#pricingRevendedores", title="Comparar hosting revendedores", role="button")
            span Get Started
            svg(class="icon angle-right")
              use(xlink:href="#angle-right")
