section.home-blockCenter
  .container
    .row
      .col-xs-12
        .optimization-test
          h2 ¿Por qué contratar la protección de identidad de dominio?
          p Porque todo el mundo tiene acceso a los datos del titular de un dominio, por eso, es importante proteger tus datos personales contra robo de identidad, envío de spam y posibles hackeos.
    .row.home-blockCenter_privacidad
      .col-sm-5.col-sm-offset-1  
        .improve  
          h4 Cuida tus datos personales
          p Para que nadie obtenga los datos de registro de tu dominio.
      .col-sm-6
        .improve-img
          img(src='img/datos-personales.png', srcset='img/datos-personales.png 1x, img/datos-personales@2x.png 2x', alt='')
    .row.home-blockCenter_privacidad
      .col-sm-5.col-sm-offset-1
        .improve-img
          img(src='img/bloquea-atacantes.png', srcset='img/bloquea-atacantes.png 1x, img/bloquea-atacantes@2x.png 2x', alt='')
      .col-sm-6.change-order
        .improve  
          h4 Bloquea atacantes
          p La mayoría de los ataques a dominios y sitios web se realizan conociendo los datos del titular y registrante del dominio. ¡Es importante que mantengas alejados a los atacantes!
      
