section.faq.skew-border
  .container.faqContainer
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2.topFaqs
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Estamos en el mercado desde el 2002. Ya ayudamos a decenas de miles de personas y organizaciones a convertir sus ideas y proyectos en sitios web que funcionan las 24 horas.
              p Creemos en Internet como una necesidad básica, como un derecho humano, es el que permite a las personas expresarse al mundo y crecer personal, económica y espiritualmente, por eso queremos ser parte de tu proyecto y ayudarte a estar online con tu propio nombre en Internet.
              p Tenemos servidores en varios países, clientes en todo Latinoamérica y a diferencia de otras empresas, NEOLO.COM sigue siendo atendido por sus dueños.
              p Fuimos el primer proveedor en Latinoamérica en brindar web hosting ilimitado en 2010.
              p Nuestros principales inversores son nuestros clientes, todos y cada uno, que nos apoyan y nos permiten seguir creciendo junto a ellos. Queremos que tu proyecto también crezca y siempre funcione, por eso, queremos ser tu proveedor de web hosting en Argentina.
          .faqBlock
            .faqBlock-question
              h4 ¿Cuál es el precio del colocation?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Sabemos que cada necesidad de colocation es única, contactanos y te hacemos una propuesta en menos de 24 horas.
          .faqBlock
            .faqBlock-question
              h4 ¿Hay un período mínimo de contratación?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p A diferencia de la competencia, el período mínimo de contratación es de 1 mes.
          .faqBlock
            .faqBlock-question
              h4 Colocation para servidores de juegos online: ¿Aceptan?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p No por el momento.
              
    .row
      a.btn.btn_orange.btn-more-less(title="Ver todas las preguntas", role="button")
        span.btn-text Ver todas las preguntas
        svg(class="icon angle-right")
          use(xlink:href="#angle-right")
