section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/it.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        h1 Más que Colocation, spa de servidores
        p En nuestro Datacenter boutique de Ciudad de Buenos Aires, vamos a cuidar y dar soporte a tus servidores como si fueran nuestros. Contamos con la energía, conectividad y refrigeración que necesitan.
        a.btn.btn_orange(href="#colocation", title="Calculá tu housing ahora", role="button")
          span Calculá tu housing ahora
          svg(class="icon angle-right")
            use(xlink:href="#angle-right")
