section.hero.hero-section.heroDesktop.custom-background(data-background='img/colocation.jpg', data-background-position='50% 0')
  .container
    .row
      .col-xs-12
        .hero-whiteBox
          h1 Más que Housing, spa de servidores
          p En nuestro Datacenter boutique de Puerto Madero, Ciudad de Buenos Aires, vamos a cuidar y dar soporte a tus servidores como si fueran nuestros. Contamos con la energía, conectividad y refrigeración que necesitan
          a.btn.btn_orange(href="", title="")
            span Calculá tu housing ahora
            svg(class="icon chevron-right")
              use(xlink:href="#chevron-right")
