section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/vps.jpg')
  .container
    .row
      .col-xs-12
        h1 Independencia es tener un VP
        p Con nuestros Servidores Virtuales Privados obtendrás recursos dedicados exclusivos para alojar tus sitios y aplicaciones, sin preocuparte por compartir recursos con otros usuarios
        a.btn.btn_orange(href="#colocation", title="Calculá tu housing ahora", role="button")
          span Calculá tu housing ahora
          svg(class="icon chevron-right")
            use(xlink:href="#chevron-right")
