section.plus.plus-border.plus-only
  .container
    .row
      .col-xs-12
        h2 Características del colocation en nuestro datacenter:
    .plus-main
      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cloud")
                  use(xlink:href="#cloud")
            .plus-content
              h6 Tu propia nube
              p Te asesoramos para que tengas tu propia cloud

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon mobile")
                  use(xlink:href="#mobile")
            .plus-content
              h6 Soporte 24x7
              p Te damos soporte por email, ticket, teléfono, WhatsApp, Telegram y más.

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon camion")
                  use(xlink:href="#camion")
            .plus-content
              h6 Estacioná seguro
              p Tenemos estacionamiento cercano para que no tengas problema en descargar tus servidores.

      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon shield")
                  use(xlink:href="#shield")
            .plus-content
              h6 Seguridad 24x7
              p Nadie ingresa al datacenter sin autorización

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon database")
                  use(xlink:href="#database")
            .plus-content
              h6 Servidores personalizados
              p Si necesitás algún servidor extra, lo armamos e instalamos en horas

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon builder")
                  use(xlink:href="#builder")
            .plus-content
              h6 Reparaciones 24x7
              p Autorizá a personal de tu empresa para que pueda acceder 24hs al datacenter

      .row
        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon backup")
                  use(xlink:href="#backup")
            .plus-content
              h6 Backups Cloud
              p Hacé copias de seguridad en nuestros servidores premium

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon cPanel")
                  use(xlink:href="#cPanel")
            .plus-content
              h6 cPanel
              p Somos partners oficiales en Latinoamérica, te ofrecemos licencias exclusivas

        .col-sm-4
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon stats")
                  use(xlink:href="#stats")
            .plus-content
              h6 Crezcamos
              p Hacé crecer tu negocio con nosotros. Empezá con 1MB y escalá en minutos
