section.pricing#sms
  .container
    .row
      .col-md-10.col-md-offset-1
        header
          h2 SMS marketing prepago
          p Elegí un plan prepago de SMS marketing, ¡y recargá cuando quieras!
        .row
          .col-xs-12
            .pricing-table
              .pricing-item.table-1
                header
                  h4 Plan 4.000
                section
                  ul
                    li #[span 4000] SMS
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li plan #[span prepago]
                      svg(class="icon info")
                        use(xlink:href="#info")
                footer
                  p A sólo #[span $2671,68]
                  a.btn(href="", title="") Comprar

              .pricing-item.pricing-item_featured.table-6
                header
                  h4 Plan 1.500
                section
                  ul
                    li #[span 1500] SMS
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li plan #[span prepago]
                      svg(class="icon info")
                        use(xlink:href="#info")
                footer
                  p A sólo #[span $1219,68]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-12
                header
                  h4 Plan 500
                section
                  ul
                    li #[span 500] SMS
                      a(href="#0", title="", data-tooltip="Agrega todos los dominios que desees a tu cuenta de web hosting.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li plan #[span prepago]
                      a(href="#0", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  p A sólo #[span $457,38]
                  a.btn(href="", title="") Comprar

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Todos los planes de SMS marketing masivo incluyen: plataforma web autoadministrable, notificación de respuestas, webhooks.
        
