section.features
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 ¿Por qué elegir Neolo Reviews?
          p Neolo Reviews es la solución perfecta para que logres control total de las opiniones de tus clientes sobre tu negocio.
    .row
      .col-xs-4
        h3 Construí reputación
        p Neolo Reviews genera más calificaciones positivas que otras plataformas de reviews.
      .col-xs-4
        h3 Generá tráfico
        p El 80% de las personas buscan opiniones de tu marca en Google, es hora de capitalizar ese tráfico.
      .col-xs-4
        h3 Mejorá tu servicio
        p Obtené la oportunidad de conversar con clientes que tuvieron una mala experiencia antes de que la hagan pública.
