section.home-blocks
  .home-block
    .home-block_img
      figure.custom-background(data-background='img/img.jpg', data-background-position='center')
    .home-block_content
      h6 widget en tu web
      h5 Agrega las mejores calificaciones en tu sitio web
      p Automáticamente lograrás más confianza en tu marca y nuevos clientes.
      a.btn.btn_orange(href="", title="") Empezar ahora
section.home-blockCenter
  .container
    .row
      .col-xs-12
        h2 Sólo calificaciones reales
        p Sólo tus clientes podrán calificar a tu negocio. Mantenemos alejados los comentarios inventados y falsos.
        a.btn.btn_orange(href="", title="") Empezar ahora
section.home-blocks
  .home-block.home-block_right
    .home-block_img
      figure.custom-background(data-background='img/img.jpg', data-background-position='center')
    .home-block_content
      h6 modera comentarios negativos
      h5 14 días para recuperar clientes insatisfechos
      p Cuando un cliente te califique con 1 o 2 estrellas, entrará en tu panel de moderación. Tendrás 14 días para conversar con él y recomponer el vínculo, luego el cliente podrá reconsiderar la calificación. En caso que desee no reconsiderarla, tendrás derecho a réplica públicamente.
      a.btn.btn_orange(href="", title="") Empezar ahora
