section.pricing
  .container
    .row
      .col-md-12
        header
          h2 Conversa con un ejecutivo de cuentas
          p Empezá hoy mismo a recolectar opiniones de tus clientes, generar confianza en tu marca y lograr más ventas.
        .row
          .col-sm-10.col-sm-offset-1
            form.row(method="POST" action="https://www.neolo.com/argentian/formulario.php")
              .col-sm-6
                .input-group
                  label(form='name') Nombre y apellido
                  input(type="text", placeholder='' id='name' required)
                .input-group
                  label(form='email') Email
                  input(type="email", placeholder='' id='email' required)
                .input-group
                  label(form='phone') Teléfono de contacto
                  input(type="text", placeholder='' id='phone' required)
              .col-sm-6
                .input-group
                  label(form='textarea') ¿En qué te podemos ayudar?
                  textarea(id='textarea' required)
              button.btn.btn_orange.submit(type='submit') Enviar consulta
