section.features
  .container
    .row
      .col-md-8.col-md-offset-2
        header
          h2 Recomendá y ganá $$$
    .row
      .col-xs-4
        h3 30%
        p Es la comisión que te acreditaremos por cada pago que nos hagan tus clientes referidos.
      .col-xs-4
        h3 Pagos mensuales
        p El último día de cada mes, enviamos el dinero a tu cuenta de PayPal, de banco, o lo acreditamos en tu web hosting. El único requisito es que hayas alcanzado los 1.500 ARS, si no, tu dinero se sigue acumulando.
      .col-xs-4
        h3 Promociona a Neolo
        p Te facilitamos enlaces de texto, banners y logos.
