section.text-page
  header.text-page_header
    .container
      .row
        .col-xs-12
          h1 Historia
  section.text-page_section
    .container
      .row
        .col-xs-12
          article
            p 
          
          article
            h2 2002
            p Empezamos eligiendo un nombre de dominio, contratando un plan revendedor de web hosting a un proveedor, hacíamos el soporte técnico y las ventas. Y todo desde nuestras casas, contestando emails en pantuflas a nuestros clientes en horarios de madrugada. A los pocos meses ya contábamos con varios clientes, nuestros primeros servidores dedicados y una gran energía para continuar creciendo.
          article
            h2 2003
            p En esta instancia, fue fundamental aprender sobre marketing, contabilidad, economía y finanzas para poder hacer crecer la empresa y que se convirtiera en un negocio del cual se pudiera vivir.
          article
            h2 2004
            p El fundador de Neolo recuerda:
            p "En el 2004 quería que tuviéramos oficinas, pero como tenía 19 años, en las inmobiliarias no me atendían y no me querían alquilar por ser menor de edad. Curioso que uno pueda ir a la guerra pero no alquilar una oficina o crear una empresa! Entonces, decidí crear unos ambientes adicionales en la casa de mis padres y atender desde allí a los primeros clientes de la empresa."
            p Ya con oficina funcionando en el barrio de Palermo, el primer empleado, los primeros cientos de clientes y siempre números verdes, seguimos adelante.
            img(src='https://www.neolo.com/argentina/img/historia_2.jpg', srcset='https://www.neolo.com/argentina/img/historia_2.jpg', alt='')
            img(src='https://www.neolo.com/argentina/img/historia_1.jpg', srcset='https://www.neolo.com/argentina/img/historia_1.jpg', alt='')
          article
            h2 2007
            p 3 años más tarde, teníamos más clientes de web hosting que el ISP que nos vendía el espacio en datacenter y la conectividad. 
            p Era hora de un nuevo cambio, así que alquilamos una nueva oficina en el barrio de Belgrano, importamos nuevos servidores DELL Poweredge desde Estados Unidos, los metimos en racks y con un enlace dedicado de PRIMA, teníamos control total de los equipos y del servicio que brindábamos. A partír de allí, el uptime se incrementó hasta alcanzar el 99.99% del tiempo en línea.
            p Comenzamos a formar un excelente grupo humano que siguió creciendo año tras año y actualmente continúa brindando una atención completamente personalizada, conociendo a cada cliente para ofrecerle soluciones según sus necesidades.
            p Tres ya eran las grandes empresas de telecomunicaciones que habían intentado comprar Neolo. Decidimos mirar para adelante y seguir trabajando.
            img(src='https://www.neolo.com/argentina/img/historia.jpg', srcset='https://www.neolo.com/argentina/img/historia.jpg', alt='')
          article
            h2 2008
            p Cambiamos la marca de Aeolus Hosting a Neolo. Simplemente porque era más fácil de recordar ;)
            p La realidad es que nadie sabía que "Aeolus" era el dios griego del viento pero para mantener cierta similitud logramos sostener a "EOLO" (así es como se pronuncia a Aeolus) y la N adelante, además de señalarnos al nuevo nombre como un neologismo, también le imprimió cierto tono de novedad y de mantenernos siempre a la vanguardia, con lo nuevo, algo muy importante en la industria de Internet.
            p Dado el crecimiento, movimos nuestros equipos a un datacenter que pudiera abarcar las necesidades de Neolo, que duplicaba su cartera de clientes, año tras año ininterrumpidamente.
            p También, explotamos varias veces los sistemas de facturación “enlatados” que desarrollan empresas estadounidenses para otras empresas de hosting, asíque desarrollamos nuestro propio sistema que pudiera cubrir las necesidades de Neolo y de los clientes.
          article
            h2 2009
            p Somos más. Seguimos creciendo. Ya los clientes eran miles. Más de 10 personas trabajando en Neolo. Nuestro mejor marketing fue brindar el mejor servicio disponible en el mercado.
            
          article
            h2 2010
            p Producto de nuestro crecimiento a pulmón, con inteligencia, con números verdes, y siempre con financiación de los beneficios que generaba la misma empresa, nos empiezan a contactar de distintos medios. Roger Schultz, un abogado especialista en derecho de alta tecnología con 3 empresas creadas en su haber, se suma como socio en Neolo.
            p Empezamos a salir de atrás de las computadoras y aparecimos en La Nación, Revista Apertura, C5N, TyN, TN Tecno, Infobae y El Cronista, entre otros.
            p Decidimos apostar al interior del país y apoyamos distintos eventos como Barcamp, Wordcamp, Blog Days, Palermo Valleys, Días de Admin y otros eventos que ayuden a promover la industria de Internet en Argentina.
            p Nos convertimos en la primer empresa en Argentina en brindar un servicio de web hosting ilimitado.
            p También fuimos líderes al brindar un servicio de Tips en Consultoría SEO sin cargo para nuestros clientes.
            p Lanzamos Neolo.TV; un videoblog con noticias de tecnología e internet y comenzamos a expandir Neolo hacia México y Brasil, aunque sin éxito.
            p Nos mudamos nuevamente, esta vez a Colegiales, a los Silos de Dorrego, con una linda “sala de reuniones” aka “pileta” :)
            img(src='https://www.neolo.com/argentina/img/historia_5.jpg', srcset='https://www.neolo.com/argentina/img/historia_5.jpg', alt='')
            img(src='https://www.neolo.com/argentina/img/historia_8.jpg', srcset='https://www.neolo.com/argentina/img/historia_8.jpg', alt='')
          article
            h2 2014
            p A principios de 2014, Roger se desvincula de Neolo para desarrollar nuevos negocios vinculados a Bitcoin.
            p Esteban continúa con la empresa y lanza Neolo en todos los países hispanoparlantes del mundo.
            p Ampliamos toda nuestra red cloud de web hosting ahora colocando servidores en Estados Unidos, Reino Unido, España, Holanda, Brasil, y Rumania, además de Argentina, donde siempre estuvimos.
            p Neolo lanza una nueva unidad de negocios llamada HOUSING.COM.AR
          article
            h2 2017
            p Renovamos la imagen, logo, web y actualizamos las soluciones de presencia y crecimiento online.
            p 
          
