section.faq.gray-bg
  .container.faqContainer
    .row
      .col-xs-12
        h2 Preguntas Frecuentes
    .faqBlocks
      .row
        .col-md-8.col-md-offset-2.topFaqs
          .faqBlock
            .faqBlock-question
              h4 ¿Por qué me conviene Neolo?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p El hosting para revendedores o hosting reseller consiste en brindarte la oportunidad de revender web hosting de nuestros servidores. 
              p Te brindaremos un panel principal llamado WHM desde el que podrás crear tus planes de hosting.
              p También podrás asignarle las características que desees, el precio que quieras y luego podrás crear las cuentas de web hosting para tus clientes asignándole el plan que quieras.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Es obligatorio revender?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p No. Muchos usuarios de planes revendedores de web hosting son comprados por personas u organizaciones que tienen muchos sitios web y les es más cómodo contratar este tipo de servicio.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Cuál es la diferencia entre un plan de hosting ilimitado y un plan de hosting revendedor?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p La principal diferencia es que en el plan de hosting ilimitado tendrás 1 sólo panel cPanel para todos tus dominios. En el plan revendedor tendrás un cPanel por cada dominio y además un panel principal WHM para administrar todos los dominios.
              p De esta manera, con un plan de hosting revendedor tendrás mucho más control sobre cada dominio, y además le podrás brindar usuario y clave a cada dominio para que tenga su propia administración.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Puedo ver una demo de WHM y cPanel?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p ¡Claro! Es el panel #1 del mercado. Acá podés acceder a una prueba de cPanel (podrás cambiarle el idioma) y desde acá al WHM. Tené en cuenta que te brindaremos videotutoriales, guías y toda la ayuda personalizada que necesites.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Los planes de hosting para revendedores incluyen SSH?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Por razones de seguridad, no incluyen SSH.
              
          .faqBlock
            .faqBlock-question
              h4 ¿Puedo elegir un plan de web hosting y luego cambiarlo por otro?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Si, claro, cuando quieras podés cambiar. Sin embargo te sugerimos que elijas inicialmente el Plan Ilimitado o el Plan 1, que son los más vendidos.

          .faqBlock
            .faqBlock-question
              h4 ¿Quién le brinda soporte a las cuentas de hosting dentro del hosting revendedor?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Nosotros nos encargamos que el hosting funcione las 24 horas. Pero el soporte de programación y diseño web se lo tendrás que brindar vos a tus clientes. Obviamente podrás consultarnos por cualquier duda que tengas.
          
          .faqBlock
            .faqBlock-question
              h4 ¿Qué características ilimitadas dispongo en el hosting para revendedores?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Bases MySQL ilimitadas, subdominios ilimitados, cuentas de correo ilimitadas, redirecciones de correo ilimitadas.
          
          .faqBlock
            .faqBlock-question
              h4 ¿Hay límite en la cantidad de correos a enviar?                
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Todos queremos que los correos lleguen a la bandeja de entrada, por eso, el spam está prohibido.
              p Podés enviar hasta 300 correos por hora, es un límite más que razonable y superior al resto de los proveedores.
              p Con respecto a la cantidad de cuentas de correo que podés crear, son ilimitadas y accedés a ellas a través de tu programa de correo favorito, dispositivo móvil, o webmail.
          
          .faqBlock
            .faqBlock-question
              h4 Estoy en otro proveedor de hosting. ¿Pueden migrar mis cuentas con ustedes?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Si, claro.
              p Si en tu proveedor anterior utilizabas cPanel / WHM entonces será muy simple.
              p Si utilizabas otro panel, por favor consultanos para determinar cuál es la forma más simple y analizar si podemos hacerlo sin costo.
          
          .faqBlock
            .faqBlock-question
              h4 ¿Hacen backups?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Si, hacemos backups semanales y mensuales y los movemos a otro datacenter. Sin embargo, recomendamos que vos te encargues de hacer los backups de tus clientes.
          
          .faqBlock
            .faqBlock-question
              h4 ¿Qué otros servicios pueden brindarnos para revender?
              span.faqBlock-question_toggle +
            .faqBlock-answer
              p Todos los servicios que ofrece Neolo son marca blanca y podrás revenderlos. Dominios, hosting, vps, servidores dedicados, wordpress administrado, marketing digital, etc.
    .row
      a.btn.btn_orange.btn-more-less(title="Ver todas las preguntas", role="button")
        span.btn-text Ver todas las preguntas
        svg(class="icon angle-right")
          use(xlink:href="#angle-right")
