section.hero-home.heroMobile
  .hero-section_mobile-img.custom-background(data-background='img/revendedores.jpg')
  .container
    .row
      .col-xs-12
        h1 Más que revendedores, socios
        p Precio, cantidad de dominios y capacidad para que obtengas una mayor rentabilidad alojando tus sitios y los de tus clientes. Tu beneficio, el nuestro.
        a.btn.btn_orange(href="", title="")
          span Comparar planes de Hosting
          svg(class="icon chevron-right")
            use(xlink:href="#chevron-right")
