section.hero.hero-section.heroDesktop.custom-background(data-background='img/revendedores.jpg', data-background-position='50%')
  .container
    .row
      .col-xs-12
        .hero-whiteBox
          h1 Más que revendedores, socios
          p Sumate a la red de más de 3.000 resellers que trabajan tranquilos con el hosting revendedor marca blanca de Neolo. El mejor precio y la máxima capacidad del mercado.
          a.btn.btn_orange(href="#pricingRevendedores", title="Comparar hosting revendedores", role="button")
            span Comparar hosting para revendedores
            svg(class="icon chevron-right")
              use(xlink:href="#chevron-right")
