section.pricing
  .container
    .row
      .col-md-12
        header
          h2 Tu plan, a medida
          p Dentro de estos planes de hosting está el tuyo, con el servicio que deseás y al precio que buscás
        .row
          .col-xs-12
            .pricing-table.pricing-table_four.pricing-table_noFeatured
              .pricing-item.plan-0
                header
                  h4 Plan 0
                section
                  ul
                    li #[span 1] dominio
                      a(href="#", title="", data-tooltip="Agrega todos los dominios que desees a tu cuenta de web hosting.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 15gb] espacio
                      a(href="#", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 30gb] de transferencia
                      a(href="#", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  p Desde #[span $31]
                  a.btn(href="", title="") Comprar

              .pricing-item.plan-1
                header
                  h4 Plan 1
                section
                  ul
                    li #[span 1] dominio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 15gb] espacio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 30gb] de transferencia
                      svg(class="icon info")
                        use(xlink:href="#info")
                footer
                  p Desde #[span $39]
                  a.btn(href="", title="") Comprar
              .pricing-item.plan-ilimitado
                header
                  h4 Plan ilimitado
                section
                  ul
                    li #[span 1] dominio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 15gb] espacio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 30gb] de transferencia
                      svg(class="icon info")
                        use(xlink:href="#info")
                footer
                  p Desde #[span $57]
                  a.btn(href="", title="") Comprar

              .pricing-item.plan-ilimitado
                header
                  h4 Plan ilimitado
                section
                  ul
                    li #[span 1] dominio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 15gb] espacio
                      svg(class="icon info")
                        use(xlink:href="#info")
                    li #[span 30gb] de transferencia
                      svg(class="icon info")
                        use(xlink:href="#info")
                footer
                  p Desde #[span $57]
                  a.btn(href="", title="") Comprar

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans All plans include Unmetered Bandwidth, Unmetered Disk Space, FREE Migrations, Disaster Recovery Backups, and 24x7 Support.

        .row
          .col-md-8.col-md-offset-2
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 10% OFF por pago anual
