section.pricing#pricingRevendedores
  .container
    .row
      .col-md-12
        header
          h2 El hosting revendedor que crece con vos
          p Ideales para diseñadores, programadores, consultores y asesores web de todo tipo de organizaciones.
        .row
          .col-xs-12
            .pricing-table.pricing-table_four.pricing-table_noFeatured
              .pricing-item.table-1
                header
                  h4 Plan D100
                section
                  ul
                    li #[span 100] dominios
                      a(href="#0", title="", data-tooltip="Agrega hasta 100 dominios como cuentas independientes de web hosting")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span ilimitado] espacio
                      a(href="#0", title="", data-tooltip="Distribuye el espacio entre los sitios web de tus clientes como desees")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 1TB] de transferencia
                      a(href="#0", title="", data-tooltip="Distribuye la transferencia (bandwidth) entre los sitios web de tus clientes como desees")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $319]
                  a.btn(href="https://ar.neolo.com/cart.php?a=add&pid=8", title="") Comprar

              .pricing-item.table-4
                header
                  h4 Plan D25
                section
                  ul
                    li #[span 25] dominios
                      a(href="#0", title="", data-tooltip="Agrega hasta 25 dominios como cuentas independientes de web hosting")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span ilimitado] espacio
                      a(href="#0", title="", data-tooltip="Distribuye el espacio entre los sitios web de tus clientes como desees")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 50gb] de transferencia
                      a(href="#0", title="", data-tooltip="Distribuye la transferencia (bandwidth) entre los sitios web de tus clientes como desees")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $159]
                  a.btn(href="https://ar.neolo.com/cart.php?a=add&pid=7", title="") Comprar

              .pricing-item.table-8
                header
                  h4 Plan D14
                section
                  ul
                    li #[span 14] dominios
                      a(href="#0", title="", data-tooltip="Agrega hasta 14 dominios como cuentas independientes de web hosting")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span ilimitado] espacio
                      a(href="#0", title="", data-tooltip="Distribuye el espacio entre los sitios web de tus clientes como desees")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 20gb] de transferencia
                      a(href="#0", title="", data-tooltip="Distribuye la transferencia (bandwidth) entre los sitios web de tus clientes como desees")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $149]
                  a.btn(href="https://ar.neolo.com/cart.php?a=add&pid=6", title="") Comprar

              .pricing-item.table-12
                header
                  h4 Plan D7
                section
                  ul
                    li #[span 7] dominios
                      a(href="#0", title="", data-tooltip="Agrega hasta 7 dominios como cuentas independientes de web hosting")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span ilimitado] espacio
                      a(href="#0", title="", data-tooltip="Distribuye el espacio entre los sitios web de tus clientes como desees")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 10gb] de transferencia
                      a(href="#0", title="", data-tooltip="Distribuye la transferencia (bandwidth) entre los sitios web de tus clientes como desees")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $109]
                  a.btn(href="https://ar.neolo.com/cart.php?a=add&pid=5", title="") Comprar

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Todos los planes de hosting para revendedores incluyen marca blanca, WHM, cPanel, PHP, bases de datos MySQL ilimitadas, cuentas de correo ilimitadas, subdominios ilimitados, y soporte técnico ilimitado.

        .row
          .col-xs-12
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 37% OFF el primer pago con el código #[span "REVENDEDOR"]
