section.pricing#pricingRevendedores
  .container
    .row
      .col-md-12
        header
          h2 El hosting revendedor que crece con vos
          p Ideales para diseñadores, programadores, consultores y asesores web de todo tipo de organizaciones.
        .row
          .col-xs-12
            .pricing-table.pricing-table_four.pricing-table_noFeatured
              .pricing-item.table-1
                header
                  h4 Plan D100
                section
                  ul
                    li #[span 100] dominios
                      a(href="#0", title="", data-tooltip="Agrega todos los dominios que desees a tu cuenta de web hosting.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 1000gb] de espacio
                      a(href="#0", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 1TB] de transferencia
                      a(href="#0", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $319]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-4
                header
                  h4 Plan D25
                section
                  ul
                    li #[span 25] dominios
                      a(href="#0", title="", data-tooltip="Agrega todos los dominios que desees a tu cuenta de web hosting.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 50gb] de espacio
                      a(href="#0", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 50gb] de transferencia
                      a(href="#0", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $159]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-8
                header
                  h4 Plan D14
                section
                  ul
                    li #[span 14] dominios
                      a(href="#0", title="", data-tooltip="Agrega todos los dominios que desees a tu cuenta de web hosting.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 20gb] de espacio
                      a(href="#0", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 20gb] de transferencia
                      a(href="#0", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $149]
                  a.btn(href="", title="") Comprar

              .pricing-item.table-12
                header
                  h4 Plan D7
                section
                  ul
                    li #[span 7] dominios
                      a(href="#0", title="", data-tooltip="Agrega todos los dominios que desees a tu cuenta de web hosting.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 10] de espacio
                      a(href="#0", title="", data-tooltip="No limitamos el espacio siempre y cuando sean contenidos para tu sitio web.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                    li #[span 10gb] de transferencia
                      a(href="#0", title="", data-tooltip="Crea todas las cuentas de email que quieras, sin costo adicional.")
                        svg(class="icon info")
                          use(xlink:href="#info")
                footer
                  span.pricingSmall Pago mensual
                  p #[span $109]
                  a.btn(href="", title="") Comprar

        .row
          .col-xs-12
            p.iva *Al precio hay que incluirle el IVA 21%
        .row
          .col-xs-12
            p.allPlans Todos los planes de hosting para revendedores incluyen marca blanca, WHM, cPanel, PHP, bases de datos MySQL ilimitadas, cuentas de correo ilimitadas, subdominios ilimitados, y soporte técnico ilimitado.

        .row
          .col-md-8.col-md-offset-2
            a.off(href="", title="")
              img(src='img/icon-save.png', srcset='img/icon-save.png 1x, img/icon-save@2x.png 2x', alt='')
              h3 10% OFF por pago anual
