section.cpanel.screenshot.whm
  .screen-container
    .row
      .col-sm-6
      .col-sm-6
        header
          h2 El WHM #1 para tus clientes
          p Con cPanel tus clientes podrán gestionar sus sitio web, cuentas de correo y bases de datos.
          
    .row
      .col-sm-6.whm-ipad
        img(src="img/whm-ipad.png", alt="")
      .col-sm-6
        section
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon mail")
                  use(xlink:href="#mail")
            .plus-content
              h6 Correo electrónico profesional
              p Crear cuentas de correo, redirecciones, y acceso al webmail desde cualquier parte del mundo.
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon ssl")
                  use(xlink:href="#ssl")
            .plus-content
              h6 Seguridad
              p Límites con contraseñas el acceso a ciertas partes del sitio web, protección HotLink, Leech protection y ModSecurity.
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon www")
                  use(xlink:href="#www")
            .plus-content
              h6 Dominios
              p Configuración de subdominios, dominios adicionales, dominios parkeados y administración de zonas de DNS.
            
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon apps")
                  use(xlink:href="#apps")
            .plus-content
              h6 Apps 1 Click Install
              p Instalación de miles de aplicaciones con 1 sólo clic desde el cPanel.
          
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon backup_adicionales")
                  use(xlink:href="#backup_adicionales")
            .plus-content
              h6 Archivos
              p Edición y copias de seguridad de archivos.
              
          .plus-block
            .plus-img
              .plus-icon
                svg(class="icon database")
                    use(xlink:href="#database")
            .plus-content
              h6 Bases de datos MySQL
              p Creación y gestión de bases de datos MySQL desde phpMyAdmin.
